@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Paragraph: Steps
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Component
 */
.component-steps {
  @include container-full-width();
  background-color: $gray-10;
  padding: rem(40px) 0;

  @include media('>=lg-plus') {
    padding: rem(80px) 0;
  }
  .component-steps__content {
    @include media('>=lg-plus') {
      @include container();
    }
  }

  .component-steps__title {
    @include container();
  }

  .component-steps__content {
    display: grid;
    grid-template-rows: repeat(5, minmax(0, auto));
    grid-auto-flow: column;
    position: relative;

    p {
      margin: 0;
    }

    &::after {
      content: '';
      border-left: 2px dashed #EB8900;
      position: absolute;
      top: rem(30px);
      left: rem(25px);
      height: 85%;
      z-index: 0;
    }

    @include media('>=lg-plus') {
      grid-template-columns: repeat(5, minmax(0, 1fr));
      grid-template-rows: unset;
      grid-auto-flow: unset;
    }

    @include media('>=lg-plus') {
      &::after {
        border-left: unset;
        border-top: 2px dashed #EB8900;
        top: rem(25px);
        left: rem(25px);
        width: 83%;
        z-index: 0;
      }
    }
  }

  .component-steps__title {
    @include type-header(h2, black, included);
    font-size: rem(28px);
    text-align: center;
    margin-bottom: rem(40px);
    text-transform: uppercase;

    @include media('>=lg-plus') {
      font-size: rem(40px);
      margin-bottom: rem(80px);
    }
  }

  .component-step {
    &:not(:last-of-type) {
      margin-bottom: rem(20px);
    }
  }

  .component-step__title-wrapper {
    position: relative;

    @include media('>=lg-plus') {
      margin-bottom: rem(30px);
    }
  }

  .component-step__title {
    position: relative;
    color: $type-dark;
    font-family: $font-brand;
    font-size: rem(16px);
    font-weight: 800;
    background-color: $primary-orange;
    display: inline-flex;
    padding: rem(5px 5px 5px 10px);
    z-index: 1;

    &::after {
      content: '';
      background-color: $primary-orange;
      position: absolute;
      top: 0;
      right: rem(-5px);
      width: rem(10px);
      height: 100%;
      transform: skew(-14deg);
    }

    @include media('>=lg-plus') {
      font-size: rem(20px);
      padding: rem(10px 10px 10px 20px);

      &::after {
        right: rem(-10px);
        width: rem(20px);
      }
    }
  }

  .component-step__content {
    padding-left: rem(25px);

    @include media('>=lg-plus') {
      padding-left: 0;
      padding-right: rem(40px);
    }
  }

  @include media('<lg-plus') {
    .component-step__inner {
      display: flex;
      flex: 0 1 auto;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
    }

    .component-step__title-wrapper,
    .component-step__content {
      flex-grow: 1;
      flex: 0 0 auto;
    }

    .component-step__title-wrapper {
      max-width: none;
      width: auto;
    }

    .component-step__content {
      max-width: 75%;
      width: 75%;
    }
  }
}
