{% set view_node = fields.field_read_more.content|render|trim|striptags %}
<div class="card">
  <a href="{{ view_node }}" target="_blank" rel="noopener">
    <div class="card__image">
      {{ fields.field_media.content }}
    </div>
    <div class="card__content">
      <h2>{{ fields.title.content }}</h2>
      {{ fields.field_short_description.content }}
    </div>
  </a>
</div>