<h1 class="title">
{{fields.field_sub_heading.content}}
</h1>

<div class="description">
  {{fields.body.content}}
</div>

<div class="inventor-project-content">
  {{fields.field_inventor_project_content.content}}
</div>
