{{ attach_library('apextoolgroup/faq-listing') }}
<div class="faq-accordion">
	<div class="faq-question container">
			{{ fields.title.content }}
	</div>
	<div class="faq-answer container">
		{{ fields.body.content }}
	</div>
</div>
