<div class="b-content">
  <div class="b-content__image">
    {{ fields.field_media.content }}
    <div class="year">{{ fields.field_event_date.content }}</div>
  </div>
  <div class="b-content__desc">
    <h6>{{ fields.title.content }}</h6>
    {{ fields.body.content }}
  </div>
</div>