<div class="title">
  {{fields.field_location.content}}
</div>

<div class="content">
  <div class="address">
    {{fields.field_address.content}}
  </div>

  <div class="phone">
    {{fields.field_phone.content}}
  </div>

  <div class="read-more">
    {{fields.field_read_more.content}}
  </div>
</div>
