<div class="offices__corporate-office-title">
  {{'Corporate Office'|t}}
</div>

<div class="location">
  {{ fields.field_location.content }}
</div>

<div class="address">
  {{ fields.field_address.content }}
</div>

<div class="phone">
  {{ fields.field_phone.content }}
</div>
