{#
/**
 * @file
 *
 * Empty wishlist page template.
 *
 * @ingroup themeable
 */
#}
<div class="wrapper-content">
  <div class="view-empty wishlist-empty-page">
    {{ 'Your wishlist is empty.'|t }}
  </div>
<div>
