{# node--atg-patent-rights.html.twig #}
<div class="patent-page-content">
  <div class="page-overlay"></div>
  <div class="patent-wrapper">
    <div class="page-titlebar">{{ node.label }}</div>
     <div class="patent-content-main">
    {{ content }}
    </div>
  </div>
</div>

