input,
select,
textarea {
  width: 100%;
  background: $white;
  border: 1px solid $black;
  border-radius: 0;
  padding: 20px 16px;
  font-size: 18px;
  color: $black;

  &::placeholder {
    color: $black;
    border-color: $celtic-blue;
  }

  &:-internal-autofill-selected,
  &::-webkit-autofill {
    background-color: transparent !important;
  }
}
