body.user-logged-in {
  @media only screen and (min-width: $tablet) and (max-width: $tablet-max) {
    padding-top: 78px;
  }
}

#wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  word-wrap: break-word;

  @media only screen and (min-width: $tablet-max) {
    max-width: 1140px;
  }

  .container {
    width: unset;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  // margin-right: -15px;
  // margin-left: -15px;

  & > [class^=col-],
  & > .col {
    position: relative;
    width: 100%;
    min-height: 1px;
    // padding-right: 15px;
    // padding-left: 15px;
  }
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.col-1 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}



@media only screen and (min-width: $tablet)  {
  .col-md-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-md-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-md-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-md-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-md-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-md-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media only screen and (min-width: $tablet-max)  {
  .col-lg-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-lg-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-lg-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-lg-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-lg-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

// .px-0 {
//   padding-left: 0 !important;
//   padding-right: 0 !important;
// }

// .row {
//   display: flex;
//   flex-wrap: wrap;
//   margin-left: 0;
//   margin-right: 0;
// }

// .col {
//   position: relative;
//   width: 100%;
//   min-height: 1px;
//   padding-right: 15px;
//   padding-left: 15px;
// }

// .col-sidebar {
//   background: $white url('#{$image-base-path}/sidebar_sep.png') right top repeat-y;
//   @media only screen and (min-width: $tablet) {
//     flex: 0 0 23%;
//     max-width: 23%;
//   }
//   @media only screen and (min-width: $tablet) and (max-width: $tablet-max) {
//     flex: 0 0 28%;
//     max-width: 28%;
//   }
//   @media only screen and (max-width: $tablet) {
//     padding-top: 20px;
//   }
// }

// .col-main {
//   @media only screen and (min-width: $tablet) {
//     flex: 0 0 54%;
//     max-width: 54%;
//   }
//   @media only screen and (min-width: $tablet) and (max-width: $tablet-max) {
//     flex: 0 0 44%;
//     max-width: 44%;
//   }
// }

// .col-4-lg {
//   @media only screen and (min-width: $tablet-max) {
//     flex: 0 0 25%;
//     max-width: 25%;
//   }
// }

// .col-3-md {
//   @media only screen and (min-width: $tablet) and (max-width: $tablet-max) {
//     flex: 0 0 33.333%;
//     max-width: 33.333%;
//   }
// }

// // content
// .main-content {
//   flex: 0 0 67.5%;
//   max-width: 67.5%;
//   margin-right: 2.5%;
//   @media only screen and (max-width: $tablet) {
//     flex: 0 0 100%;
//     max-width: 100%;
//   }
//   @media only screen and (min-width: $tablet) and (max-width: $tablet-max) {
//     flex: 0 0 62.5%;
//     max-width: 62.5%;
//   }
// }

// .sidebar-second {
//   flex: 0 0 30%;
//   max-width: 30%;
//   padding: 30px;
//   text-shadow: 0 1px 0 $white;
//   font-size: 13px;
//   background: url('#{$image-base-path}/img_newsbg_right.png') left top repeat-y;
//   @media only screen and (max-width: $tablet) {
//     flex: 0 0 100%;
//     max-width: 100%;
//     margin-top: 30px;
//   }
//   @media only screen and (min-width: $tablet) and (max-width: $tablet-max) {
//     flex: 0 0 35%;
//     max-width: 35%;
//   }

//   .block {
//     margin: 0 0 15px;
//     padding: 5px 0 15px;
//     background: url('#{$image-base-path}/contactus_right_block_sep.png') left bottom no-repeat;

//     &:last-child {
//       background: none;
//       margin: 0;
//     }

//     h4 {
//       margin: 0;
//       color: $black;
//     }

//     p {
//       margin: 0 0 5px;
//     }
//   }
// }
