body {
  font-size: 12px;
  line-height: 17px;
  font-family: $nacelle;
  font-weight: normal;
  color: $black;
}

[dir='rtl'] {
  div,
  span,
  th,
  td,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    text-align: right;
  }

  input,
  label {
    direction: rtl;
  }
}

.h1,
h1 {
  font-size: 40px;
  font-weight: $semi-bold;
}

.h2,
h2 {
  font-size: 26px;
  font-weight: $semi-bold;
}

.h3,
h3 {
  font-size: 24px;
  font-weight: $semi-bold;
}

.h4,
h4 {
  font-size: 22px;
  font-weight: $semi-bold;
}

.h5,
h5 {
  font-size: 20px;
  font-weight: $semi-bold;
}

.h6,
h6 {
  font-size: 18px;
  font-weight: $semi-bold;
}

p {
  font-size: 16px;
  line-height: 22px;
}

a {
  text-decoration: none;
  color: $celtic-blue;
  transition: .2s ease-out;
}

ol,
ul {
  list-style-type: none;
  padding-left: 0;

  li {
    font-size: 13px;
    line-height: 1.5;
  }
}


