/****** colors ******/
// Primary colors.
$white: #FFFFFF;
$black: #111111;
$aluminium: #8C8B8B;
$aluminium-dark: #8E8E8E;
$nickel: #737373;
$neon-silver: #CFCFCF;
$celtic-blue: #3A75C4;
$neon-tangerine: #EF8903;
$persimmon: #E55204;
$blizzard-blue: #4DC0E8;
// Button hover colors.
$pale-aqua: #D9E8FC;
$fulvous: #E38A15;

/****** fonts ******/
$nacelle: 'Nacelle', sans-serif;

/****** font size ******/
$h1: 40px;
$h2: 24px;
$h3: 22px;
$h4: 20px;
$h5: 18px;
$h6: 16px;
$p: 16px;

/****** font weight ******/
$bold: bold;
$semi-bold: 600;
$normal: normal;
$light: 300;

/****** base path ******/
$image-base-path: '../../apextoolgroup/images';
$icon-base-path: '../../apextoolgroup/icons';

/****** breakpoint ******/
$mobile: 320px;
$tablet: 766.9px;
$tablet-max: 959px;
$desktop: 1024px;
