@charset "UTF-8";
/** Globals An import of all abstracts */
/** Vendor For files that need compiling */
.node--type-product-category.node--view-mode-full .node__content .product-category-view-section .view-product-category .view-header .sort-icon:after, .node--type-product-category.node--view-mode-full .node__content .product-category-view-section .view-product-category .view-header .filter-icon:after { font-family: "themeIcons"; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; text-transform: none; }

/** This themes global styles */
/** Root Font Sizing */
/** Type sets Defines a type grouping that can be looped over and generate utility classes */
/** Grid and Grid Gap */
/** Vertical Gap */
/** Horizontal Gap */
/** Container widths */
/** Global Variables */
/** No-space Removes the default space, border, and padding place on a component */
/** Grid row Sets row up for the grid */
/** Grid row gutters IF $gutter-horizontal = true: set the sides gap width ELSE $gutter-vertical = false: remove the top and bottom gap width IF $gutter-vertical = true: set the top and bottom gap width ELSE $gutter-vertical = false: remove the top and bottom gap width IF $gutter-horizontal-size & $gutter-vertical-size = wide: large sized space between items IF $gutter-horizontal-size & $gutter-vertical-size = wide-lg: large sized space between items only on the lg breakpoint IF $gutter-horizontal-size & $gutter-vertical-size = narrow: small sized space between items ELSE $gutter-horizontal-size & $gutter-vertical-size = default: regular sized space between items */
/** Grid columns IF = auto: fits the available space ELSE IF = variable: fits the width of it's content ELSE span the amount of columns provided */
/** Grid Spacing Clear Clears first and last grid row margin or padding Declare on column class: @include grid-clear-vertical-spacing(2); Options: • $columns(value = 1 to n) - default = 1 • $property(value = margin or padding) - default = margin, sets to 0 */
/** Grid class generators Generates classes for each column and offset by default and breakpoint */
/** Hide Text Hide text while making it readable for screen readers 1. Needed in WebKit-based browsers because of an implementation bug; See: https://code.google.com/p/chromium/issues/detail?id=457146 */
/** Hide Element Hide element while making it readable for screen readers Shamelessly borrowed from HTML5Boilerplate: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133 */
/** Component */
.node--type-product-category.node--view-mode-full .node__content .page-heading { display: -ms-flexbox; display: -webkit-box; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; margin-bottom: 3rem; }

@media (min-width: 61.25em) { .node--type-product-category.node--view-mode-full .node__content .page-heading { margin-bottom: 2rem; } }

.node--type-product-category.node--view-mode-full .node__content .page-heading .heading-left { -webkit-box-flex: 0; -ms-flex: 0 0 100%; flex: 0 0 100%; margin-bottom: 3rem; }

@media (min-width: 61.25em) { .node--type-product-category.node--view-mode-full .node__content .page-heading .heading-left { -webkit-box-flex: 3; -ms-flex: 3; flex: 3; margin-bottom: 0; padding-right: 50px; } }

.node--type-product-category.node--view-mode-full .node__content .page-heading .heading-right { -webkit-box-flex: 0; -ms-flex: 0 0 100%; flex: 0 0 100%; }

@media (min-width: 61.25em) { .node--type-product-category.node--view-mode-full .node__content .page-heading .heading-right { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; } }

.node--type-product-category.node--view-mode-full .node__content .field--name-field-link { text-align: center; }

.node--type-product-category.node--view-mode-full .node__content .field--name-field-link a { background-color: #EB8900; border: 0 !important; color: #000000; display: inline-block; font-family: "Akrobat", "Arial", sans-serif !important; font-weight: 700; letter-spacing: 0.03rem; line-height: 1 !important; text-align: center; padding: 1rem .85rem .85rem; text-decoration: none; text-transform: uppercase; -webkit-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out; white-space: nowrap; }

@media (min-width: 48.01em) { .node--type-product-category.node--view-mode-full .node__content .field--name-field-link a { line-height: 1.625 !important; padding: 1rem 3.5rem .85rem; } }

.node--type-product-category.node--view-mode-full .node__content .field--name-field-link a:hover, .node--type-product-category.node--view-mode-full .node__content .field--name-field-link a:active { color: #EB8900; background-color: #000000; }

.node--type-product-category.node--view-mode-full .node__content .field--name-field-media { left: calc(-50vw + 50%); max-width: none; position: relative; width: 100%; width: 100vw; margin-bottom: 3rem; }

.node--type-product-category.node--view-mode-full .node__content .field--name-field-media .media { height: 500px; }

.node--type-product-category.node--view-mode-full .node__content .field--name-field-media .media picture { width: 100%; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; }

.node--type-product-category.node--view-mode-full .node__content .field--name-field-media .media picture img { -o-object-fit: cover; object-fit: cover; height: auto; width: 100%; }

.node--type-product-category.node--view-mode-full .node__content .product-category-view-section { display: grid; grid-template-columns: repeat(2, 1fr); gap: 1.5rem; grid-auto-rows: minmax(100px, auto); }

@media (min-width: 48em) { .node--type-product-category.node--view-mode-full .node__content .product-category-view-section { grid-template-columns: repeat(3, 1fr); } }

.node--type-product-category.node--view-mode-full .node__content .product-category-view-section .gearwrench-product-category-filters { display: none; grid-column: 1; }

.node--type-product-category.node--view-mode-full .node__content .product-category-view-section .gearwrench-product-category-filters.mobile-show { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; background-color: #FFFFFF; -webkit-box-shadow: 0 0 3rem 5rem rgba(0, 0, 0, 0.6); box-shadow: 0 0 3rem 5rem rgba(0, 0, 0, 0.6); bottom: 0; left: 15vw; overflow: scroll; padding-top: 75px; padding-left: 1rem; position: fixed; top: 0; right: 0; width: 85vw; z-index: 499; }

.node--type-product-category.node--view-mode-full .node__content .product-category-view-section .gearwrench-product-category-filters.mobile-show.hide { display: none; z-index: -5; }

.node--type-product-category.node--view-mode-full .node__content .product-category-view-section .gearwrench-product-category-filters.mobile-show .fieldgroup { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; width: 85%; }

.node--type-product-category.node--view-mode-full .node__content .product-category-view-section .gearwrench-product-category-filters.mobile-show .mobile-filter-header { border-bottom: 1px solid #000000; height: 3rem; max-width: 100%; -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }

.node--type-product-category.node--view-mode-full .node__content .product-category-view-section .gearwrench-product-category-filters.mobile-show .mobile-filter-header-inner { -webkit-box-align: center; -ms-flex-align: center; align-items: center; display: -webkit-box; display: -ms-flexbox; display: flex; height: 3rem; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding-right: 1.5rem; }

.node--type-product-category.node--view-mode-full .node__content .product-category-view-section .gearwrench-product-category-filters.mobile-show .mobile-close-icon { height: 2rem; width: 2rem; }

.node--type-product-category.node--view-mode-full .node__content .product-category-view-section .gearwrench-product-category-filters.mobile-show .mobile-close-icon::before { font-family: 'themeIcons'; content: ""; }

.node--type-product-category.node--view-mode-full .node__content .product-category-view-section .gearwrench-product-category-filters.mobile-show legend { width: 85vw; }

.node--type-product-category.node--view-mode-full .node__content .product-category-view-section .gearwrench-product-category-filters.mobile-show legend .fieldset-legend { padding-right: 3.8rem; width: 100%; }

@media (min-width: 48em) { .node--type-product-category.node--view-mode-full .node__content .product-category-view-section .gearwrench-product-category-filters { display: block; } }

.node--type-product-category.node--view-mode-full .node__content .product-category-view-section .gearwrench-product-category-filters legend { font-family: "Akrobat", "Arial", sans-serif; font-weight: 800; letter-spacing: inherit; line-height: 1.2; margin: 1.25rem 0 0.5rem; padding: 0; color: #000000; font-size: 1rem; text-transform: uppercase; margin-bottom: 1rem; padding: 1rem 0; position: relative; width: 100%; }

.node--type-product-category.node--view-mode-full .node__content .product-category-view-section .gearwrench-product-category-filters legend .fieldset-legend { display: -webkit-box; display: -ms-flexbox; display: flex; position: relative; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.node--type-product-category.node--view-mode-full .node__content .product-category-view-section .gearwrench-product-category-filters legend .fieldset-legend:after { font-family: "themeIcons"; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; text-transform: none; content: ""; }

.node--type-product-category.node--view-mode-full .node__content .product-category-view-section .gearwrench-product-category-filters legend .fieldset-legend::after { -webkit-transform: rotate(90deg); transform: rotate(90deg); }

.node--type-product-category.node--view-mode-full .node__content .product-category-view-section .gearwrench-product-category-filters legend:after { background-color: #B4BBB9; bottom: 0; content: ''; height: 1px; left: 0; position: absolute; width: 100%; }

.node--type-product-category.node--view-mode-full .node__content .product-category-view-section .gearwrench-product-category-filters fieldset { margin: 0; padding: 0; }

.node--type-product-category.node--view-mode-full .node__content .product-category-view-section .gearwrench-product-category-filters .form-item { font-size: 0.875rem; margin-bottom: 1rem !important; }

.node--type-product-category.node--view-mode-full .node__content .product-category-view-section .gearwrench-product-category-filters .form-checkboxes input[type='checkbox'] + label:before { top: -.125rem; }

.node--type-product-category.node--view-mode-full .node__content .product-category-view-section .gearwrench-product-category-filters .form-checkboxes input[type='checkbox'] + label:after { top: .125rem; }

.node--type-product-category.node--view-mode-full .node__content .product-category-view-section .gearwrench-product-category-filters .form-checkboxes input[type='checkbox']:not(:checked) + label:before { background-color: transparent; }

.node--type-product-category.node--view-mode-full .node__content .product-category-view-section .views-element-container { grid-column: 1 / 4; }

@media (min-width: 48em) { .node--type-product-category.node--view-mode-full .node__content .product-category-view-section .views-element-container { grid-column: 2 / 4; } }

.node--type-product-category.node--view-mode-full .node__content .product-category-view-section .views-element-container .view-filters { display: none; visibility: hidden; }

.node--type-product-category.node--view-mode-full .node__content .product-category-view-section .view-product-category .view-header { font-family: "Akrobat", "Arial", sans-serif; font-weight: 800; letter-spacing: inherit; line-height: 1.2; margin: 1.25rem 0 0.5rem; padding: 0; color: #000000; font-size: 1rem; text-transform: uppercase; display: -ms-flexbox; display: -webkit-box; display: flex; -ms-justify-content: space-between; -ms-flex-pack: space-between; -webkit-box-pack: justify; justify-content: space-between; margin: 0; padding: 1rem 0; }

.node--type-product-category.node--view-mode-full .node__content .product-category-view-section .view-product-category .view-header .sort-icon:after { content: ""; }

.node--type-product-category.node--view-mode-full .node__content .product-category-view-section .view-product-category .view-header .filter-icon:after { content: ""; }

@media (min-width: 48em) { .node--type-product-category.node--view-mode-full .node__content .product-category-view-section .view-product-category .view-header .sort-icon, .node--type-product-category.node--view-mode-full .node__content .product-category-view-section .view-product-category .view-header .filter-icon { visibility: hidden; } }

.node--type-product-category.node--view-mode-full .node__content .product-category-view-section .view-product-category .view-content { display: grid; grid-template-columns: repeat(2, 1fr); gap: 1.5625rem; }

@media (min-width: 35.5em) { .node--type-product-category.node--view-mode-full .node__content .product-category-view-section .view-product-category .view-content { grid-template-columns: repeat(3, 1fr); } }

@media (min-width: 48em) { .node--type-product-category.node--view-mode-full .node__content .product-category-view-section .view-product-category .view-content { grid-template-columns: repeat(2, 1fr); } }

@media (min-width: 61.25em) { .node--type-product-category.node--view-mode-full .node__content .product-category-view-section .view-product-category .view-content { grid-template-columns: repeat(3, 1fr); } }

.node--type-product-category.node--view-mode-full .node__content .product-category-view-section .view-product-category .view-content .views-row .node--view-mode-teaser { width: 100%; }

/*# sourceMappingURL=../../maps/libraries/node/full--product-category.css.map */
