.path-brands-faceting {
  .region-content {
    .block-local-tasks-block {
      display: none;
    }
  }
}

.brands {
  display: flex;
  flex-wrap: wrap;
  padding-top: 25px;
  position: relative;
  padding-bottom: 25px;
  justify-content: space-between;

  &__sidebar {
    width: 200px;
    position: relative;

    @media only screen and(max-width: $desktop) {
      height: 0;
      width: 100%;
      transition: all 0.3s ease;
      transform: translateX(calc(-100% - 16px));
    }

    form {
      .form--inline {
        @media only screen and(max-width: $desktop) {
          position: relative;
          overflow-x: hidden;
        }
      }

      .form-wrapper {
        margin: 0;
        border: 0;
        padding: 0;
        width: 100%;
        display: block;
        border-bottom: 1px solid $light-silver;
        @media only screen and(max-width: $desktop) {
          border-bottom: 0;
        }

        &.form-actions {
          display: none;
        }

        summary {
          position: relative;
          padding: 19px 22px 19px 4px;
          @media only screen and(max-width: $desktop) {
            width: 190px;
            padding: 17px 30px 17px 10px;
            background-color: $beluga;
          }
          @media only screen and(max-width: $tablet) {
            width: 150px;
            padding: 16px 25px 16px 10px;
          }

          &:after {
            top: 50%;
            content: '';
            width: 20px;
            height: 12px;
            display: block;
            position: absolute;
            left: calc(100% - 4px);
            transform: translate(-100%, -50%);
            background: url('#{$icon-base-path}/arrow-down.svg') right bottom no-repeat;
            background-size: 100% 100%;
            @media only screen and(max-width: $desktop) {
              left: calc(100% - 10px);
            }
          }
        }

        &[open] {
          summary {
            color: $celtic-blue;

            &:after {
              transform: translate(-100%, -50%) rotate(-180deg);
              filter: invert(40%) sepia(83%) saturate(464%) hue-rotate(172deg) brightness(94%) contrast(86%);
              @media only screen and(max-width: $desktop) {
                transform: translate(-100%, -50%) rotate(90deg);
              }
            }
          }
        }

        .details-wrapper {
          padding: 0;
          margin: 0;
          @media only screen and(max-width: $desktop) {
            top: 0;
            left: 210px;
            height: 100%;
            position: absolute;
            overflow-x: hidden;
            overflow-y: scroll;
            background-color: $white;
            width: calc(100% - 210px);
          }
          @media only screen and(max-width: $tablet) {
            left: 160px;
            width: calc(100% - 160px);
          }

          .form-type-checkbox {
            padding: 0;
            display: flex;
            margin: 16px 0;

            input[type='checkbox'] {
              margin: 0 16px 0 0;
            }
          }
        }
      }
    }

    &.is-active {
      top: 0;
      left: 0;
      right: 0;
      z-index: 2;
      width: 100%;
      height: auto;
      padding: 0 15px;
      position: absolute;
      background-color: $white;
      transform: translateX(0);
    }
  }

  &__sidebar-title {
    color: $black;
    font-size: 20px;
    margin: 24px 0;
    line-height: 28px;
    font-family: $nacelle;
  }

  &__filter-close-icon {
    top: 24px;
    width: 18px;
    height: 19px;
    position: absolute;
    left: calc(100% - 15px);
    transform: translateX(-100%);

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__filter-icon,
  &__sidebar-title,
  &__filter-close-icon {
    display: none;
    cursor: pointer;
    @media only screen and(max-width: $desktop) {
      display: block;
    }
  }

  &__content {
    width: calc(100% - 268px);
    @media only screen and(max-width: $desktop) {
      width: 100%;
      z-index: 1;
      position: relative;
    }

    .view-empty {
      font-size: $p;
      padding: 16px 0;
      border-radius: 4px;
      text-align: center;
      background-color: $celtic-blue;
    }

    .view-content {
      margin: 24px 0 0;

      .item-list {
        width: 100%;

        ul {
          padding: 0;
          width: auto;
          display: flex;
          margin: 0 -6px;
          flex-wrap: wrap;

          li {
            width: 33.33%;
            padding: 0 6px;
            margin: 0 0 12px;
            @media only screen and(max-width: $desktop) {
              width: 50%;
            }
          }
        }

        .grid__content {
          margin: 0;
          width: 100%;
          height: 100%;
          padding: 16px;
          display: flex;
          flex-wrap: wrap;
          background-color: $white;
          border: 1px solid $gainsboro;
          box-shadow: 3px 3px 12px -3px rgba($black, 0.25);

          a {
            display: flex;
            flex-wrap: wrap;
            line-height: 16.8px;
            font-size: $font-size-12;
          }
        }
      }
    }
  }

  &__tabs {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    flex-direction: column-reverse;
    @media only screen and(max-width: $tablet) {
      flex-direction: row-reverse;
    }

    .tabs {
      @media only screen and(max-width: $tablet) {
        width: 100%;
      }

      .tabs--atg {
        margin: 0;

        li {
          a {
            min-width: 100%;
            @media only screen and(min-width: $tablet) {
              min-width: 156px;
              text-align: center;
            }
          }
        }
      }
    }
  }

  &__filter-icon {
    top: 0;
    width: 32px;
    height: 32px;
    padding: 4px;
    position: absolute;
    border: 1px solid $black;
    left: calc(100% - 12px);
    transform: translateX(-100%);
    @media only screen and(max-width: $tablet) {
      position: static;
      margin: 0 0 12px;
      transform: translateX(0);
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__image {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 16px;
    min-height: 80px;
    align-items: center;
    justify-content: center;
    @media only screen and(max-width: $tablet) {
      min-height: auto;
    }

    img {
      width: auto;
      height: auto;
      max-width: 100%;
    }
  }

  &__title {
    width: 100%;
    margin: 0 0 8px;
  }

  &__location {
    line-height: 16.8px;
    font-size: $font-size-12;
    color: $westchester-grey;
  }
}
