/****** Homepage sections ******/
/****** Tools ******/
.image-cta {
  &__item {
    &:nth-child(odd) {
      background-color: $neon-tangerine;
    }

    &:nth-child(even) {
      background-color: $celtic-blue;
    }
  }

  .content-wrapper {
    position: relative;

    .text-section {
      width: 55%;
      padding: 60px 45px;
      color: $white;
      position: relative;
      z-index: 2;
      @media only screen and (max-width: $tablet) {
        width: 90%;
        padding: 30px 16px 120px 30px;
      }

      .btn-secondary-white {
        min-width: unset;
        padding: 16px;
        margin-top: 20px;
        width: 137px;

        @media only screen and (max-width: $tablet) {
          width: 137px;
          padding: 16px;
          min-width: unset;
        }
      }
    }

    .main-image {
      position: absolute;
      z-index: 1;
      bottom: 0;
      @media only screen and (max-width: $tablet) {
        bottom: 25px;
      }

      img {
        @media only screen and (min-width: $tablet) {
          width: 100%;
        }
      }
    }

    &.left-image {
      .text-section {
        margin-left: auto;
        text-align: right;

        .btn-secondary-white {
          margin-left: auto;
        }
      }

      .main-image {
        left: 0;
        @media only screen and (min-width: $tablet-max) {
          left: 20px;
        }
        @media only screen and (max-width: $tablet) {
          left: 10px;
          bottom: 0;
        }

        img {
          @media only screen and (max-width: $tablet) {
            width: 80%;
            height: 40%;
          }
        }
      }
    }

    &.right-image {
      .text-section {
        margin-right: auto;
        text-align: left;

        .btn-secondary-white {
          margin-right: auto;
        }
      }

      .main-image {
        right: 0;
        bottom: 10px;
        @media only screen and (min-width: $tablet-max) {
          right: 20px;
        }
        @media only screen and (max-width: $tablet) {
          right: 0;
          bottom: 0;
        }

        img {
          @media only screen and (max-width: $tablet) {
            width: 76%;
            height: 60%;
            margin-right: 0;
            margin-left: 80px;
          }
        }
      }
    }
  }
}

/****** Brands ******/
.home-brands {
  background-color: $white;
  margin: 50px 0;

  h1 {
    margin-bottom: 16px;
    text-transform: uppercase;
    @media only screen and (min-width: $tablet-max) {
      width: 75%;
    }
  }

  .btn-primary {
    min-width: unset;
    width: fit-content;
  }

  .view-content {
    margin-top: auto;
    margin-bottom: auto;
    @media only screen and (max-width: $tablet-max) {
      margin: auto 0;
    }
  }

  &__card {
    display: block;
    margin: 8px;
    padding: 10px;
    background: $white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    min-height: 120px;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media only screen and (max-width: $tablet) {
      min-height: 100px;
      min-width: 150px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

/****** New Products ******/
.new-products {
  background-color: $white;
  margin-top: 50px;
  margin-bottom: 50px;

  h1 {
    text-transform: uppercase;
  }

  .card {
    border: solid 1px $celtic-blue;
    padding: 16px;
    min-height: 420px;
  }

  a {
    color: $celtic-blue;
  }

  h2 {
    font-weight: $light;
    line-height: 33.6px;
  }

  .media {
    width: 100%;
    min-height: 243px;
    margin-bottom: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .view-wrapper {
    position: relative;
    display: flex;
    width: 1100px;
    overflow-x: auto;

    &::-webkit-scrollbar {
      width: 2px;
      height: 2px;
    }
    @media only screen and (max-width: $tablet-max) {
      width: 730px;
    }
    @media only screen and (max-width: $tablet) {
      width: 330px;
    }

    .views-row {
      flex: 0 0 355px;
      margin-right: 16px;

      &:last-child {
        margin-right: 0;
      }
      @media only screen and (max-width: $tablet-max) {
        flex: 0 0 350px;
      }
      @media only screen and (max-width: $tablet) {
        flex: 0 0 320px;
      }
    }
  }
}

/****** Call To Action ******/
.cta-full {
  background-color: $persimmon;
  text-align: center;
  color: $white;
  padding: 65px 0;

  p {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 40px;
    line-height: 33.6px;
  }

  .btn-secondary-white {
    margin: auto;
    max-width: fit-content;
    padding: 24px;
    font-size: 24px;
  }
}

/****** Featured Press Releases ******/
.featured-releases {
  background-color: $celtic-blue;
  color: $white;
  padding-top: 50px;
  padding-bottom: 50px;

  h1 {
    margin-top: 0;
    text-transform: uppercase;
  }

  a {
    color: $white;
  }

  .card {
    @media only screen and (max-width: $tablet-max) {
      margin-bottom: 20px;
    }

    img {
      width: 100%;
      object-fit: cover;
    }

    h2 {
      margin-top: 20px;
    }

    .date {
      font-size: 14px;
      margin-top: 16px;
    }

    &:hover {
      a h2 {
        text-decoration: underline;
      }
    }
  }
}

