.paragraph--type--inventor {
  margin: 0 0 16px;

  h5 {
   margin-bottom: 10px;
  }

  .main-image {
    margin-bottom: 20px;
  }

  .text-section {
    margin: 0 0 4px;
    font-size: $font-size-12;

    span {
      margin-right: 4px;
      font-weight: $bold;
      color: $celtic-blue;
    }
  }
}
