.market-details {
  padding: 0;
  width: 100%;
  margin: 25px 0;
  @media only screen and(max-width: $desktop) {
    margin: 20px 0;
  }

  @media only screen and(max-width: $tablet-max) {
    margin: 16px 0;
  }

  .field--name-body {
    p {
      margin: 0 0 16px;

      a {
        text-decoration: underline;
      }
    }
  }
}
