.privacy-policy {
  .block-page-title-block {
    width: 100%;
    height: 100%;
    display: block;
  }

  .field--name-body {
    a {
      text-decoration: underline;
    }

    hr {
      border: 1px solid $aluminium-dark;
    }

    strong {
      margin: 0;
      padding: 0;
      color: $black;
      font-weight: 700;
    }

    .privacy-policy-logo {
      width: 100%;
      margin: 0 auto !important;
      @media only screen and(min-width: $tablet) {
        width: 500px;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    > ul {
      padding: 0;
      margin: 0 0 18px 15px;

      @media only screen and(max-width: $tablet) {
        margin: 0 0 16px 15px;
      }

      > li {
        padding: 0;
        margin: 0 0 10px;
        list-style: disc;

        > ul {
          margin: 18px 0 18px 25px;

          @media only screen and(max-width: $tablet) {
            margin: 16px 0 16px 20px;
          }

          > li {
            padding: 0;
            margin: 0 0 10px;
            list-style: circle;
          }
        }
      }
    }
  }
}

// code for policy registeration page
.product_registeration_page {
  // code for page title starts here
  .page-titlebar {
      background: rgb(205,205,205);
      padding: 20px;
      color: #000000;
      font-size: 2.2291rem;
      line-height: 3.15rem;
      text-align: center;
      font-family: Arial;
      font-weight: 700;
      @media screen and (max-width: $tablet) {
        font-size: 1.22rem;
        line-height: 2.15rem;
      }
  }
  // code for cads wrapper starts here
  .product-pdf-cards-wrapper {
    padding: 2rem 13rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    //css for cards 
    .product-wrapper-cards {
      width: 46%;
      margin: 1% 2%;
      background: rgb(205,205,205);
      border: 0.1875rem solid #007DC3;
      border-radius: 0.625rem;
      padding:20px;
      min-height: 95px;
      text-align: center;
      // css for cards-heading 
      .product-card-heading {
        width: 100%;
        margin: 0 auto;
        background: #007DC3 ;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        color: #fff;
        line-height: 2.15rem;
        font-size: 1.25rem;
        word-wrap: break-word;
        font-family: $nacelle;
        border-radius: 0.625rem;
        text-align: center;
      }
      //css for description 
      .product-card-description {
       width: 100%;
       margin: 10px 0px;
       line-height: 1.4rem;
       font-size: 0.9907rem;
       justify-content: center;
       align-items: center;
       font-size: 15px;
       display: flex;
       min-height: 85px;
       max-height: 120px;
       line-height: 17px;
       @media screen and (max-width:$mobile-medium) {
         height: unset;
         padding: 0px 10px;
        }
      }
      //css for download buttons
      .product-pdf-download {
       display: flex;
       margin: 0 auto;
       flex-wrap: wrap;
       text-align: center;
       justify-content: center;
       a{
        width: 44%;
        @media screen and (max-width:$mobile-medium) {
          width: 80% !important;
         }
         &:hover {
          cursor: pointer;
          background-color: $black;
         }
        margin: 2%;
        padding: 10px 0px;
        background-color: #007DC3;
        color: $white;
        border-radius: 0.625rem;
        text-decoration: none;
        cursor: pointer;
        line-height: 1.25rem;
        font-size: 1rem;
        word-wrap: break-word;
        font-family: $nacelle;
        &:nth-child(1){
          width: 90%;
        }
        &:only-child {
          width: 48%;
        }
       }
      }
      @media screen and (max-width:$tablet) {
        width: 98%;
        margin: 1% auto;
      }
    }
    @media screen and (max-width: $desktop-large) {
      padding: 2rem;
    }
  } 
}
// code for form starts here
.field--name-field-policies-registration-webf {
  background: repeat top center / cover fixed;
  background-image: url('../images/formbackground.webp');
  padding: 10px 0px;
  .webform-submission-form {
    background-color: rgba(255,255,255 , .75);
    width: 23%;
    margin: 0 auto;
    padding: 2px 5px;
    .js-form-item{
      margin: 0.5rem 0rem !important;
      >label {
        display: none;
      }
      select , input, textarea {
        padding: 5px;
        font-size: 15px;
        &::placeholder {
          font-size: 15px;
        }
      }
    }
    .form-actions{
      text-align: center;
      .webform-button--submit {
        background: #007DC3;
        color: #FFFFFF;
        font-size: 0.9907rem;
        font-family: Arial;
        font-weight: 400;
        border-radius: 10px;
        &:hover{
          background-color: darkgrey;
        }
      }
    }
    @media screen and (max-width: $tablet-max){
      width: 55%;
    }
    @media screen and (max-width: $mobile-lanscape){
      width: 92%;
    }
  }
}
//css for thank you page 
.thank-you-page {
  width: 70%;
  padding: 150px 50px;
  text-align: center;
  margin: 47px auto;
  border-radius: 1rem;
  background: rgb(205,205,205);
  border: 0.1875rem solid #007DC3;
  @media screen and (max-width: $mobile-medium) {
    width: 90%;
    padding: 50px 10px;
  }
  .thank-you-text {
    h3 {
      line-height: 28px;
    }
  }
}

// css for landing page ploicy reseller
.page-node-type-reseller-policies-landing-page-  {
  .node__meta {
    display: none;
  }
}

.registeration-landing {
  .page-titlebar {
    font-size: 1.55rem;
    line-height: 1.75rem;
    @media screen and (max-width:$mobile-medium) {
      font-size: 1rem;
      line-height: 1.2rem;
      padding: 20px 3px;
     }
  }
  .registeraion-information {
    padding: 10px 0px;
    p {
      padding: 5px 0px;
    }
    .heading-bold {
      font-weight: 700;
    }
  }
}

.policy-pages-links-wrapper {
  background: repeat top center / cover fixed;
  background-image: url('../images/formbackground.webp');
  padding: 30px 0px;
}
.registration-landing-page-heading {
  background: #007DC3 ;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  color: #fff;
  line-height: 2.15rem;
  font-size: 1.75rem;
  word-wrap: break-word;
  font-family: $nacelle;
  border-radius: 0.625rem;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  @media screen and (max-width: $mobile-lanscape){
    width: 100%;
  }
}
.register-pages-card-wrapper {
  padding: 40px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  text-align: center;
  .register-page-card {
    width: 22%;
    margin: 1%;
    background: rgb(205,205,205);
    border: 0.1875rem solid #007DC3;
    border-radius: 0.625rem;
    padding:20px;
    min-height: 95px;
    .register-card-heading {
      background: #007DC3 ;
      padding: 5px;
      color: #fff;
      line-height: 2.15rem;
      font-size: 1.75rem;
      word-wrap: break-word;
      font-family: $nacelle;
      border-radius: 0.625rem;
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
    }
    .register-card-text {
      width: 100%;
      margin: 10px 0px;
      line-height: 1.4rem;
      font-size: 0.9907rem;
      justify-content: center;
      align-items: center;
      font-size: 15px;
      display: flex;
      height: 180px;
      margin-bottom: 20px;
      @media screen and (max-width:$tablet-max){
        height: 115px;
      }
       @media screen and (max-width:$mobile-medium) {
         height: unset;
         padding: 0px 10px;
        }
    }
    .register-page-link {
      margin: 35px 0px 10px 0px;
      a{
        text-decoration: none;
        margin: 20px 0px;
        padding: 10px 30px;
        text-align: center;
        background: #007DC3;
        color: #FFFFFF;
        font-size: 1.27rem;
        font-family: Arial;
        font-weight: 400;
        border-radius: 10px;
        &:hover{
          background-color: black;
        }
      }
    }
    @media screen and (max-width:$tablet-max){
      width: 47%;
      margin: 2% 1%;
    }
    @media screen and (max-width:$tablet) {
      width: 97%;
    }
  }
}