.privacy-policy {
  .block-page-title-block {
    width: 100%;
    height: 100%;
    display: block;
  }

  .field--name-body {
    a {
      text-decoration: underline;
    }

    hr {
      border: 1px solid $aluminium-dark;
    }

    strong {
      margin: 0;
      padding: 0;
      color: $black;
      font-weight: 700;
    }

    .privacy-policy-logo {
      width: 100%;
      margin: 0 auto !important;
      @media only screen and(min-width: $tablet) {
        width: 500px;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    > ul {
      padding: 0;
      margin: 0 0 18px 15px;

      @media only screen and(max-width: $tablet) {
        margin: 0 0 16px 15px;
      }

      > li {
        padding: 0;
        margin: 0 0 10px;
        list-style: disc;

        > ul {
          margin: 18px 0 18px 25px;

          @media only screen and(max-width: $tablet) {
            margin: 16px 0 16px 20px;
          }

          > li {
            padding: 0;
            margin: 0 0 10px;
            list-style: circle;
          }
        }
      }
    }
  }
}
