@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Media: Product Detail Slider - Remote Video
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Component
 */
.product-detail-slider {
  figure.media--type-remote-video {
    background-color: $white;
    padding-bottom: 25%;
    padding-top: 25%;
  }
}
