.form-submit {
  min-width: 115px;
  display: block;
  height: 29px;
  padding-right: 7px !important;
  text-decoration: none;
  font-weight: bold;
  width: auto;
  background: linear-gradient(0deg, $pantone, $pantone-dark 80%);
  border-radius: 8px;
  border: solid 1px $pantone;
  color: $white;

  &:hover {
    color: $black;
  }
}
