@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica_Neue_LT_Pro/HelveticaNeueLTPro-MdCn.otf') format('otf');
  font-weight: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica_Neue_LT_Pro/HelveticaNeueLTPro-BdCn.otf') format('otf');
  font-weight: bold;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica_Neue_LT_Pro/HelveticaNeueLTPro-HvCn.otf') format('otf');
  font-weight: bolder;
}
