@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/Helvetica_Neue_LT_Pro/HelveticaNeueLTPro-MdCn.otf') format('otf');
  font-weight: 600;
}

@font-face {
  font-family: 'Helvetica Neue Condensed Bold';
  src: url('../fonts/Helvetica_Neue_LT_Pro/HelveticaNeueLTPro-BdCn.otf') format('otf');
  font-weight: 700;
}

@font-face {
  font-family: 'Helvetica Neue Condensed Black';
  src: url('../fonts/Helvetica_Neue_LT_Pro/HelveticaNeueLTPro-HvCn.otf') format('otf');
  font-weight: 800;
}
