input {
  width: 100%;
  border-top: 1px solid $dim-gray;
  border-right: 1px solid $gray;
  border-bottom: 1px solid $gray;
  border-left: 1px solid $dim-gray;
  padding: 6px 5px;
  background: linear-gradient(180deg, $gray, $white, 5%);

  &::placeholder {
    padding: 0 10px;
  }
}
