body {
  &.user-logged-in {
    @media only screen and (max-width: $tablet-max) {
      padding-top: 78px !important;
    }
  }
}

#wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.wrapper-content {
  max-width: 1000px;
  margin: 0 auto;
}
