#wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;

  // .user-logged-in & {
  //   min-height: calc(100vh - 78px);
  // }
}

.wrapper-content {
  max-width: 1000px;
  margin: 0 auto;
}
