/****** colors ******/
$silver: #BBBBBB;
$gray: #CCCCCC;
$dim-gray: #737373;
$light-gray: #EEEEEE;
$dark-gray: #222222;
$black: #000000;
$nero: #161616;
$lighter-gray: #666666;
$white: #FFFFFF;
$pantone: #19975D;
$pantone-dark: #1A975D;
$menu-hover: #384E53;
$hamburger-menu: #2B2B30;
$slider-txt-seperate: #34CB97;
$light-black: #333333;
$para: #585858;
$alto: #D3D3D3;
$filter-bg: #F9F9F9;
$mustard: #FCD344;
$dark-olive: #3D6611;
$ivory: #FAFAEC;
$spanish-gray: #999999;
$platinum: #E6E6E6;
$dark-spring-green: #26723E;
$honeydew: #DCF3E3;
$aero-blue: #BDE9CB;
$table-even: #F0F0F0;
$table-border: #D8D8D8;

/****** fonts ******/
$arial: Arial, sans-serif;
$helvetica: 'Helvetica Neue', Helvetica, sans-serif;
$helvetica-bold: 'HelveticaNeue-CondensedBold', 'Helvetica Neue', Helvetica, sans-serif;
$helvetica-black: 'HelveticaNeue-CondensedBlack', 'Helvetica Neue', Helvetica, sans-serif;

/****** font weight ******/
$light: light;
$normal: normal;
$bold: bold;
$bolder: bolder;

/****** base path ******/
$image-base-path: '../../campbell/images';
$icon-base-path: '../../campbell/icons';

/****** breakpoint ******/
$mobile: 359px;
$tablet: 766.9px;
$tablet-max: 959px;
$desktop: 1367px;
