@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/View: Product Category Grid
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * View
 */

.view-search {
  .views-element-container {
    grid-column: 1 / 4;

    @include media('>=md') {
      grid-column: 2 / 4;
    }

    .view-filters {
      display: none;
      visibility: hidden;
    }
  }

  .view-empty {
    margin-bottom: rem(30px);
  }

  .view-content {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: rem(25px); // sass-lint:disable-line no-misspelled-properties

    @include media('>=md') {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @include media('>=lg') {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }

  .block-page-title-block {
    text-transform: uppercase;
  }

  .form-item-search {
    display: inline-block;
    margin-right: 0;
    position: relative;
    width: 70%;

    @include media('>=md') {
      width: 75%;
    }

    @include media('>lg') {
      width: 50%;

      &::after {
        right: rem(20px);
        font-size: rem(24px);
      }
    }

    .form-text {
      border-right: 0;
      padding-right: rem(5px);

      @include media('>md') {
        padding-right: rem(50px);
      }
    }
  }

  .view-search__header-results {
    text-transform: uppercase;
    font-weight: $fw-bold;
    font-size: rem(16px);
    margin-bottom: rem(15px);

    @include media('>=md') {
      font-size: rem(20px);
      margin-bottom: rem(30px);
    }
  }

  .view-search__header-product-results {
    font-size: rem(14px);
    margin-bottom: rem(10px);

    @include media('>=md') {
      font-size: rem(16px);
      margin-bottom: rem(15px);
    }
  }

  .view-filters {
    form {
      .form-actions {
        position: relative;
        display: inline-block;
        margin-top: -1px;
        background: $white url('../../../icons/search.svg') no-repeat center;
        background-size: rem(24px) rem(24px);
        width: rem(50px);

        input.button {
          background: none;
          border: 1px solid $color-black !important;
          border-left: 0 !important;
          color: transparent;
          height: 60px;
          position: relative;
          top: 1px;
          padding: 0;
          max-width: rem(50px) !important;
          width: rem(50px) !important;
        }
      }
    }
  }
}

.block-views-blockacquia-search-block-1 {
  margin-top: rem(30px);

  @include media('>=md') {
    margin-top: rem(60px);
  }

  .view-search__header-product-results {
    font-size: rem(14px);
    margin-bottom: rem(10px);

    @include media('>=md') {
      font-size: rem(16px);
      margin-bottom: rem(15px);
    }
  }

  .view-filters {
    .views-exposed-form {
      display: none;
    }
  }

  .view-content {
    .item-list {
      padding: 0;
      width: 100%;

      ul {
        list-style: none;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: rem(25px); // sass-lint:disable-line no-misspelled-properties

        @include media('>=md') {
          grid-template-columns: repeat(4, minmax(0, 1fr));
        }

        li {
          margin: 0;
        }
      }
    }
  }

  // Section title
  .node--type-product-related-products__nav-wrapper {
    @include container-full-width();
    @include flex-x(flex-direction, row);

    display: inline-flex;
    width: unset;
    height: rem(58px);
    margin-bottom: 2.5rem;

    @include media('<sm') {
      min-height: rem(58px);
      height: auto;
    }

    .node--type-product-related-products__nav-logo-wrapper {
      display: none;

      @include media('>gr') {
        @include flex;
        @include flex-x(align-items, center);

        background-color: $primary-emerald;
        height: 100%;
        padding: 0 2rem;
        position: relative;
        z-index: 1;
      }

      // blade after logo
      &::after {
        background-color: $primary-emerald;
        position: absolute;
        content: '';
        width: 30px;
        height: 100%;
        top: 0;
        right: -15px;
        z-index: 0;
        transform: skew(-14deg);
      }

      .site-logo {
        @include link-base();
        background-color: $primary-emerald;
        display: block;
        width: rem(56px);
        overflow: hidden;
        line-height: 1;

        @include media('>xl') {
          width: rem(184px);
        }

        svg {
          height: $header-logo-performance-height-large;
          vertical-align: middle;
          display: none;

          @include media('<=lg-plus') {
            height: $header-logo-height;
          }
        }
      }
    }

    .node--type-product-related-products__nav-content {
      background-color: $primary-emerald;
      text-align: left;
      position: relative;
      z-index: 0;

      h4 {
        text-transform: uppercase;
        color: $white;
        margin: 0;
        padding: rem(14px 0 16px 15px);

        @include media('>lg-plus') {
          padding: rem(14px 0 16px 48px);
        }
      }
    }

    .node--type-product-related-products__nav-blade {
      height: rem(58px);

      img {
        height: 100%;
      }

      @include media('<sm') {
        min-height: rem(58px);
        height: auto;
      }
    }
  }
}
