@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Paragraph: Featured Media - Live Area layout
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Component
 */
.component-featured-media--layout-live-area {
  .component-featured-media__list-wrapper {
    box-shadow: 0 0 16px 5px rgba(0, 0, 0, 0.2);

    .component-featured-media__list {
      list-style: none;
      padding: 0;
      margin: 0;

      figure {
        display: block;
        min-width: 100%;
      }
    }

    video {
      height: 100%;
      width: 100%;
    }
  }
}
