@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Node: Teaser Product
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Component
 */
.node--type-product.node--view-mode-search-index {
  .node__content {
    border-top-left-radius: rem(11px);
    border-top-right-radius: rem(11px);
    padding: rem(3px 3px 0 3px);
    background-color: $gray-20;

    @include media('>=md') {
      padding: rem(10px 10px 0 10px);
      border-top-left-radius: rem(25px);
      border-top-right-radius: rem(25px);
    }

    .node__listing-image {
      @include flex();
      @include flex-x(align-items, center);
      @include flex-x(justify-content, center);
      background-color: transparent;
      display: flex;
      overflow: hidden;
      padding-top: 0;

      .media {
        display: flex;
        position: relative;
        padding-top: 100%;
        width: 100%;

        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
          border-radius: rem(11px);
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;

          @include media('>=md') {
            border-radius: rem(25px);
          }
        }
      }
    }

    .node__content-container {
      padding: 1rem rem(2px);

      @include media('>=md') {
        padding: 1rem;
      }
    }

    .node__long-description {
      min-height: rem(195px);

      @include media('<md') {
        min-height: rem(120px);
      }

      .field--name-field-long-description {
        @include type-header(h4, black, included);
        margin-top: 0;

        @include media('<md') {
          font-size:  rem(16px);
          line-height: rem(20px);
        }
      }
    }

    .node__sku {
      font-size: rem(14px);
      margin: 0;

      @include media('<md') {
        font-size: rem(12px);
      }
    }
  }

  .node__buy-now-button {
    @include btn(primary);

    box-sizing: border-box;
    display: inline-block !important;
    float: none;
    font-size: 1rem !important;
    transition: $transition-base;
    width: 100%;
    border: 1px solid $primary-red;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    white-space: normal;
    min-width: 100%;
    border-bottom-left-radius: rem(25px);
    border-bottom-right-radius: rem(25px);

    @include media('<md') {
      font-size: rem(13px) !important;
    }

    > small {
      line-height: 1.625;
      font-weight: $fw-bold;

      &:hover,
      &:focus {
        color: $white;
        font-weight: $fw-bold;
      }
    }

    &:hover,
    &:focus {
      background-color: $gray-50;
      border-radius: 0;
      border-bottom-left-radius: rem(25px);
      border-bottom-right-radius: rem(25px);
      color: $primary-red;
      font-family: 'Industry';
      font-weight: $fw-bold;
    }
  }

  @include on-event {
    .node__content {
      background-color: $secondary-black;

      transition-delay: 0s;
      transition-duration: 0.3s;
      transition-timing-function: ease-in-out;

      .node__listing-image {
        background-color: $secondary-black;

        transition-delay: 0s;
        transition-duration: 2s;
        transition-timing-function: ease-in-out;
      }

      .node__long-description {

        .field--name-title {
          color: $black;
        }

        .field--name-field-long-description {
          color: $white;
          transition-delay: 0s;
          transition-duration: 0.3s;
          transition-timing-function: ease-in-out;
        }
      }

      .node__sku {
        color: $white;
        transition-delay: 0s;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
      }
    }
  }
}

.region-post-content {
  background-color: $primary-red;
  position: relative;

  .view-search__header-product-results {
    display: none;
  }

  .contextual-region.node--type-page.node--view-mode-search-index {


    .node__content {
      color: $white;
      height: 100%;
      padding: rem(3px 3px 0 3px);
      background-color: $primary-red;

      @include media('>=md') {
        padding: rem(10px 10px 0 10px);
      }

      .node__long-description {

        .field--name-title {
          color: $white;
        }
      }

      .node__summary {
        color: $white;
      }
    }


    .node__read-more-button {

      @include btn(secondary);

      border-radius: 0;
      box-sizing: border-box;
      color: $white;
      display: inline-block !important;
      float: none;
      font-size: 1rem !important;
      padding: 0 0 0 1.625rem;
      transition: $transition-base;
      width: unset;
      white-space: normal;
      min-width: unset;

      @include media('<md') {
        font-size: rem(13px) !important;
      }

      > small {
        line-height: 1.625;
        font-weight: $fw-bold;
      }

      &:after {
        position: relative;
        top: 0.25rem;
      }
    }

    @include on-event {
      .node__inner {
        background-color: $white;
        transition-delay: 0s;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;

        .node__content {
          background-color: $white;

          transition-delay: 0s;
          transition-duration: 0.3s;
          transition-timing-function: ease-in-out;

          .node__listing-image {
            background-color: $white;

            transition-delay: 0s;
            transition-duration: 2s;
            transition-timing-function: ease-in-out;
          }

          .node__long-description {
            .field--name-field-long-description,
            .field--name-title {
              color: $black;
              transition-delay: 0s;
              transition-duration: 0.3s;
              transition-timing-function: ease-in-out;
            }
          }

          .node__summary {
            color: $black;
            transition-delay: 0s;
            transition-duration: 0.3s;
            transition-timing-function: ease-in-out;
          }

          .node__sku {
            color: $black;
            transition-delay: 0s;
            transition-duration: 0.3s;
            transition-timing-function: ease-in-out;
          }
        }

        .node__read-more-button {
          color: $black;
          transition-delay: 0s;
          transition-duration: 0.3s;
          transition-timing-function: ease-in-out;
        }
      }
    }
  }
}
