@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Node: Search Index
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Component
 */
.node--type-page.node--view-mode-search-index,
.node--type-basic-page.node--view-mode-search-index,
.node--type-landing-page.node--view-mode-search-index,
.node--type-media-page.node--view-mode-search-index {
  height: 100%;

  .node__inner {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .node__content {
    height: 100%;

    a {
      text-decoration: none;
      color: $black;

      @include on-event() {
        color: $black;
      }
    }

    .node__listing-image {
      @include flex();
      @include flex-x(align-items, center);
      @include flex-x(justify-content, center);
      background-color: $white;
      display: flex;
      overflow: hidden;
      padding-top: 0;

      .field[data-blazy] {
        min-width: 100%;
      }

      .media {
        display: flex;
        position: relative;
        padding-top: 100%;
        width: 100%;

        img,
        iframe {
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }

        img {
          object-fit: cover;
        }
      }
    }

    .node__media--with-media:not(node__listing-image) {
      .media {
        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .node__content-container {
      padding: 1rem;

      @include media('<lg') {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .node__long-description {
      .field--name-title {
        @include type-header(h4, black, included);
        margin-top: 0;
        text-transform: uppercase;
        -webkit-line-clamp: 3;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        min-height: rem(100px);

        @include media('<md') {
          font-size: rem(16px);
          line-height: rem(20px);
          min-height: rem(60px);
        }
      }
    }

    .node__summary {
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;

      .field--type-text-with-summary {
        display: inline;

        p {
          display: inline;
        }
      }
    }
  }

  .node__read-more-button {
    @include btn(primary);

    box-sizing: border-box;
    display: inline-block !important;
    float: none;
    font-size: 1rem !important;
    transition: $transition-base;
    width: 100%;

    @include media('<md') {
      white-space: normal;
      min-width: 100%;
    }
  }

  @include on-event {

    .node__read-more-button {
      color: $primary-red;
      background-color: $black;
    }
  }
}

.region-post-content {
  .view-content {
    max-width: 75em;
    width: calc(100% - 2rem);
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

.region-post-content {
  .view-search__header-product-results {
    display: none;
  }

  .block-views-blockacquia-search-block-1 {
    .node__content {
      color: $white;
      height: 100%;
      padding: rem(3px 3px 0 3px);
      background-color: $primary-red;

      @include media('>=md') {
        padding: rem(10px 10px 0 10px);
      }

      .node__long-description {

        .field--name-title {
          color: $white;
        }
      }

      .node__summary {
        color: $white;
      }
    }

    .node__read-more-button {
      @include btn(secondary);

      border-radius: 0;
      box-sizing: border-box;
      color: $white;
      display: inline-block !important;
      float: none;
      font-size: 1rem !important;
      padding: 0 0 1rem 1.625rem;
      transition: $transition-base;
      width: unset;
      white-space: normal;
      min-width: unset;
      text-align: left;

      @include media('<md') {
        font-size: rem(13px) !important;
      }

      > small {
        line-height: 1.625;
        font-weight: $fw-bold;
      }

      &:after {
        position: relative;
        top: 0.25rem;
      }
    }

    li {
      @include on-event {
        .node__inner {
          background-color: $white;
          transition-delay: 0s;
          transition-duration: 0.3s;
          transition-timing-function: ease-in-out;

          .node__content {
            background-color: $white;
            transition-delay: 0s;
            transition-duration: 0.3s;
            transition-timing-function: ease-in-out;

            .node__listing-image {
              background-color: $white;
              transition-delay: 0s;
              transition-duration: 2s;
              transition-timing-function: ease-in-out;
            }

            .node__long-description {
              .field--name-field-long-description,
              .field--name-title {
                color: $black;
                transition-delay: 0s;
                transition-duration: 0.3s;
                transition-timing-function: ease-in-out;
              }
            }

            .node__summary {
              color: $black;
              transition-delay: 0s;
              transition-duration: 0.3s;
              transition-timing-function: ease-in-out;
            }

            .node__sku {
              color: $black;
              transition-delay: 0s;
              transition-duration: 0.3s;
              transition-timing-function: ease-in-out;
            }
          }

          .node__read-more-button {
            background-color: unset;
            color: $black;
            transition-delay: 0s;
            transition-duration: 0.3s;
            transition-timing-function: ease-in-out;
          }
        }
      }
    }
  }
}

