@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Node: Teaser Product
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Component
 */
.node--type-product.node--view-mode-teaser {
  width: 25%;

  .node__inner {
    .node__content {
      border-top-left-radius: rem(11px);
      border-top-right-radius: rem(11px);
      padding: rem(3px 3px 0 3px);
      background-color: $gray-20;

      @include media('>=md') {
        padding: rem(10px 10px 0 10px);
        border-top-left-radius: rem(25px);
        border-top-right-radius: rem(25px);
      }

      .node__listing-image {
        @include flex();
        @include flex-x(align-items, center);
        @include flex-x(justify-content, center);
        background-color: transparent;
        display: flex;
        overflow: hidden;
        padding-top: 0;

        .media {
          display: flex;
          position: relative;
          padding-top: 100%;
          width: 100%;
        }

        .media img {
          object-fit: cover;
          height: 100%;
          width: 100%;
          border-radius: rem(11px);
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;

          @include media('>=md') {
            border-radius: rem(25px);
          }
        }
      }

      .node__content-container {
        padding: 1rem rem(2px);

        @include media('>=md') {
          padding: 1rem;
        }
      }

      .node__long-description {
        min-height: rem(195px);

        @include media('<md') {
          min-height: rem(120px);
        }

        .field--name-field-long-description {
          @include type-header(h4, black, included);
          margin-top: 0;

          @include media('<md') {
            font-size:  rem(13px);
            line-height: rem(20px);
          }
        }
      }

      .node__sku {
        font-size: rem(14px);
        margin: 0;

        @include media('<md') {
          font-size: rem(11px);
        }
      }
    }

    .node__buy-now-button {
      @include btn(primary);

      box-sizing: border-box;
      display: inline-block !important;
      float: none;
      font-size: 1rem !important;
      transition: $transition-base;
      width: 100%;
      border: 1px solid $primary-red;
      border-top-left-radius: unset;
      border-top-right-radius: unset;
      white-space: normal;
      min-width: 100%;
      border-bottom-left-radius: rem(25px);
      border-bottom-right-radius: rem(25px);

      @include media('<md') {
        font-size: rem(13px) !important;
      }

      &.ps-disabled {
        background-color: $gray-50;
        border-color: $gray-50;

        > small {
          line-height: 1.625;
          font-weight: $fw-bold;

          &:hover,
          &:focus {
            color: $white;
            font-weight: $fw-bold;
          }
        }

        &:hover,
        &:focus {
          background-color: $gray-50;
        }
      }

      &:hover,
      &:focus {
        color: $primary-red;
        background-color: $gray-20;
        border-width: 1px;
        border-bottom-left-radius: rem(25px);
        border-bottom-right-radius: rem(25px);
      }
    }
  }

  @include on-event {
    .node__content {
      background-color: $secondary-black;

      .node__listing-image {
        background-color: $secondary-black;
      }

      .node__long-description {
        .field--name-field-long-description {
          color: $white;
        }
      }

      .node__sku {
        color: $white;
      }
    }
  }
}
