@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Contrib Overrides/Hubspot
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

$input-height: 3.75rem;

.hbspt-form {
  fieldset.form-columns-2,
  fieldset.form-columns-1 {
    width: 100% !important;
    max-width: 100% !important;

    .hs-form-field,
    .hs-input {
      width: 100% !important;
      max-width: 100% !important;
    }

    .hs-form-field {
      float: unset !important;
      margin-bottom: 1.875rem !important;
      margin-top: 0 !important;
    }

    .input {
      margin-right: 0 !important;

      .inputs-list {
        padding-left: 0 !important;
        margin: 0 !important;
      }
    }
  }

  .inputs-list {
    list-style: none !important;
  }

  // Checkbox & Radio buttons
  $marker-to-text-space: 1.625rem;
  $active-width: 1.125rem;
  $active-gap: 8px; // the math likes px values

  .hs-form-booleancheckbox,
  .hs-form-checkbox,
  .hs-form-radio {
    input {
      width: inherit !important;
    }

    // hide the default input box but keep under fake input box for html error
    input[type='checkbox']:checked,
    input[type='checkbox']:not(:checked),
    input[type='radio']:checked,
    input[type='radio']:not(:checked) {
      position: absolute !important;
      left: 0 !important;
      opacity: 0 !important;
      height: 10px !important;
    }

    // create a fake input box
    input[type='checkbox']:checked + span,
    input[type='checkbox']:not(:checked) + span,
    input[type='radio']:checked + span,
    input[type='radio']:not(:checked) + span {
      cursor: pointer !important;
      display: inline-block !important;
      position: relative !important;
      line-height: 1 !important;
      padding-left: $marker-to-text-space;
    }

    // fake input box base
    input[type='checkbox']:checked + span:before,
    input[type='checkbox']:not(:checked) + span:before,
    input[type='radio']:checked + span:before,
    input[type='radio']:not(:checked) + span:before {
      border: 1px solid $type-dark !important;
      content: '';
      height: $active-width !important;
      left: 0 !important;
      position: absolute !important;
      top: 0 !important;
      width: $active-width !important;
    }

    input[type='checkbox']:checked + span:before {
      background-color: $primary-emerald !important;
      border-color: $primary-emerald !important;
    }

    // fake input box active indicator
    input[type='checkbox']:checked + span:after,
    input[type='checkbox']:checked + .form-required:after,
    input[type='checkbox']:not(:checked) + span:after,
    input[type='radio']:checked + span:after,
    input[type='radio']:not(:checked) + span:after {
      background-image: none !important;
      display: block !important;
      left: $active-gap / 2 !important;
      height: 0 !important;
      margin: 0 !important;
      position: absolute !important;
      top: $active-gap / 2 !important;
      transition: $transition-base !important;
      width: 0 !important;
    }

    // fake input box active indicator NOT checked
    input[type='checkbox']:not(:checked) + span:after,
    input[type='checkbox']:not(:checked) + .form-required:after,
    input[type='radio']:not(:checked) + span:after {
      opacity: 0 !important;
    }

    // fake input box active indicator checked
    input[type='checkbox']:checked + span:after,
    input[type='checkbox']:checked + label.form-required:after,
    input[type='radio']:checked + span:after {
      opacity: 1 !important;
    }

    input[type='checkbox']:not(:checked):focus + span:before,
    input[type='checkbox']:checked:focus + span:before {
      border: 1px solid $type-dark !important;
    }
  }

  // Radio buttons
  .hs-form-radio {

    // fake input box base
    input[type='radio']:checked + span:before,
    input[type='radio']:not(:checked) + span:before {
      border-radius: 100% !important;
    }

    // fake input box active indicator
    input[type='radio']:checked + span:after,
    input[type='radio']:not(:checked) + span:after {
      background: $primary-emerald !important;
      border-radius: 100% !important;
      content: '';
      height: calc(#{$active-width} - #{$active-gap}) !important;
      width: calc(#{$active-width} - #{$active-gap}) !important;
    }
  }

  // Checkbox buttons
  .hs-form-booleancheckbox,
  .hs-form-checkbox {
    .hs-form-booleancheckbox-display,
    .hs-form-checkbox-display {
      > span {
        margin-left: 0 !important;
      }
    }

    input[type='checkbox']:checked + span:after,
    input[type='checkbox']:checked + span.form-required:after,
    input[type='checkbox']:not(:checked) + span.form-required:after,
    input[type='checkbox']:not(:checked) + span:after {
      @include icon-styles;
      color: $white !important;
      content: icon-char(checkmark);
      font-size: rem(10px) !important;
      height: $active-width !important;
      width: $active-width !important;
      left: .15rem !important;
    }
  }

  // Select
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:focus {
      outline: 0 none;
    }
  }

  // Dark square with chevron aligned right
  //Select
  .hs-fieldtype-select .input,
  .form-input-file__wrapper {
    position: relative;

    &::after {
      color: $color-white;
      pointer-events: none;
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: $input-height;
      width: $input-height;
      background-color: $secondary-black;
    }
  }

  .hs-fieldtype-select .input {
    @include icon(chevron, after, false);

    &::after {
      font-size: rem(15px);
      transform: rotate(90deg);
    }
  }

  .hs-submit {
    max-width: rem(200px);
    margin: 0 0 1rem !important;
  }

  .hs-error-msgs {
    list-style: none !important;
    padding: 0 !important;

    .hs-error-msg,
    .hs-main-font-element {
      color: $danger-red !important;
    }
  }

  @include media('<md') {
    .hs-submit {
      margin: 0 0 1rem !important;
    }
  }
}
