/**
 * ACTIONS
 */
.action {
  @include button-reset;
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  font-stretch: condensed;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  line-height: $line-height-tight;
  color: $color-off-black;
  height: $input-height;
  transition: 200ms ease;

  &::before {
    flex-shrink: 0;
    content: "";
    width: 1.3125em;
    height: 1em;
    margin-right: 1em;
    transition: inherit;
  }

  &:focus,
  &:hover {
    box-shadow: none;

    &::before {
      transform: translateX(0.5em) rotate(60deg) ;
    }
  }
}

/**
 * COLOR VARIANTS
 */
@mixin action-color($icon, $text) {
  color: $text;

  &::before {
    background: url(svg-background($svg-nut, $icon)) no-repeat center center;
    background-size: contain;
  }
}

.action--primary {
  @include action-color($color-orange, $color-off-black);

  &:hover {
    @include action-color($color-orange, $color-orange);
  }
}

.action--inverse {
  @include action-color($color-orange, #fff);
}

.action--knockout {
  @include action-color(#fff, #fff);
}

/**
 * SIZE VARIANTS
 */
.action--small {
  height: $input-height-small;
  font-size: 0.9375em;

  &::before {
    width: 0.875em;
    height: 0.75em;
  }
}
