$basic-card-grid-gap-map: (
    0: 0.25rem,
    $breakpoint-card-grid: 0.5rem,
);

$basic-card-width-map: (
    0: 100%,
    $breakpoint-card-grid: 50%,
    $breakpoint-layout-horizontal: 33.33333%,
);

/**
 * GRID
 */
.basic-cards {
    flex: 1 1 auto;
    @include property-scale((margin-left, margin-right), map-multiplier($basic-card-grid-gap-map, -1));
}

.basic-cards-item {
    @include property-scale(padding, $basic-card-grid-gap-map);
}

/**
 * ITEM
 */
.basic-card {
    border: 1px solid $color-gray-light;
    border-radius: 0.25em;
    @include property-scale(padding, $container-padding-map);
    min-width: 14rem;

    &::before {
        margin-bottom: 1em;
    }
}

/**
 * SLIDER
 */
.basic-cards-slider {
    position: relative;
    width: 100%;
}

.basic-cards-nav {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    @include button-reset;
    @include imgtxt;
    background: no-repeat 50% 40%;
    background-size: 1em auto;
    opacity: 0.7;
    transition: 200ms ease;

    &:hover,
    &:focus {
        opacity: 1;
        outline: none;
    }

    &[disabled],
    &:disabled {
        opacity: 0.2;
        cursor: not-allowed;
    }
}

.basic-cards-nav--prev {
    background-image: url(svg-background($svg-chevron-left, $color-off-black));
}

.basic-cards-nav--next {
    background-image: url(svg-background($svg-chevron-right, $color-off-black));
}

@media (max-width: $breakpoint-card-grid - 1) {
    .basic-cards-slider {
        .basic-card {
            padding-left: 2em;
            padding-right: 2em;
        }
    }

    .basic-cards-nav {
        width: 2em;
        background-size: 0.5em auto;

        &--prev {
            left: 0;
        }

        &--next {
            right: 0;
        }
    }
}

@media (min-width: $breakpoint-card-grid) {
    .basic-cards-nav {
        width: 3em;

        &--prev {
            right: 100%;
            margin-right: 0;
            margin-left: -3em;
        }

        &--next {
            left: 100%;
            margin-left: 0;
            margin-right: -3em;
        }
    }
}
