$card-min-height-map: (
  0: 14em,
  $breakpoint-layout-horizontal: 20em,
);
$card-grid-gap: 1.25em;
$card-arrow-size-map: (
  0: 2em,
  800px: 3.125em,
);

/**
 * GENERAL
 */
.card {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  max-width: 40em;
  @include property-scale(min-height, $card-min-height-map);
  @include property-scale(padding, $card-arrow-size-map);
  background: $color-off-black;
  overflow: hidden;
  color: #fff;
}

.card-grid-column {
  &:not(:last-child) {
    @media only screen and (max-width: $breakpoint-card-grid){
      margin-bottom: 16px;
    }
  }
}

a.card {
  @include link-reset;
}

.card-header,
.card-body {
  position: relative;
  z-index: 1;
}

/**
 * HOVER
 */
a.card {
  &:not(:last-child) {
    @media only screen and (max-width: $breakpoint-card-grid){
      margin-bottom: 16px;
    }
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba($color-off-black, 0.75);
    z-index: 1;
    transition: 200ms ease;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: 3.125em;
    height: 3.125em;
    background: $color-orange url(svg-background($svg-arrow-right, #fff)) no-repeat center center;
    background-size: 50% auto;
    transition: 200ms ease;

    @include property-scale((width, height), (
      0: 2em,
      800px: 3.125em,
    ))
  }
}

/**
 * CARD IMAGE
 */
.card-image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-image img,
.card-image-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  flex-grow: 0;
}

/**
 * HEADER
 */
.card-header {
  padding-bottom: 1.25em;
}

.card-title {
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  @include fluid-property(font-size, 1.375em, 1.75em, 20rem, 40rem);
  margin: 0;
}

/**
 * BODY
 */
.card-body {
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  border-top: 1px solid #fff;
  max-height: 20em;
  transition: opacity 200ms ease, padding 200ms ease;
  @include property-scale(margin-bottom, map-multiplier($card-arrow-size-map, -0.75));
}

a.card:not(:hover) {
  &::before {
    opacity: 0;
    z-index: 0;
  }

  &::after {
    transform: translateY(100%);
  }

  .card-body {
    max-height: 0;
    padding: 0;
    opacity: 0;
  }
}

/**
 * GRID
 */
@media (min-width: $breakpoint-card-grid) {
  .card-grid {
    display: flex;
    margin-left: $card-grid-gap * -0.5;
    margin-right: $card-grid-gap * -0.5;
  }

  .card-grid-column {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    padding-left: $card-grid-gap * 0.5;
    padding-right: $card-grid-gap * 0.5;

    .card {
      flex: 1 1 auto;

      &:not(:last-child) {
        margin-bottom: $card-grid-gap;
      }
    }

    &:nth-child(odd) .card:nth-child(even),
    &:nth-child(even) .card:nth-child(odd) {
      @include property-scale(min-height, map-multiplier($card-min-height-map, 1.33));
    }
  }
}
