.cs-title-prefix {
  background-color: $color-off-black;
  background-image: url('../img/CLE_Pattern-Web2.png');
  background-size: cover;
  color: $color-white;
  text-transform: uppercase;
  font-size: 14px;
  padding: 20px calc(1rem + 5 * (100vw - 20rem) / 67.5) ;

  @media only screen and (min-width: $media-screen-mobile) {
    text-align: center;
  }

  p {
    margin: auto;
    max-width: 100%;
  }
}

.hero {
  &.hero--case-study {
    align-items: flex-start;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;

    .hero-text {
      margin-right: 0;
      background-color: $color-orange;
      padding: calc(2rem + 0.5 * (100vh - 45rem) / 30) calc(1rem + 5 * (100vw - 20rem) / 67.5);
      position: absolute;
      width: 100%;

      .hero-title-prefix {
        text-transform: uppercase;
        font-size: 18px;
      }
      .hero-title {
        font-size: calc(1rem + 0.75 * (100vw - 15rem) / 67.5);
        font-weight: 500;
        line-height: 1.23;
        margin-bottom: 1rem;

        &::after {
          display: none;
        }
      }

      .hero-subtitle {
        display: flex;

        .hero-subtitle-text {
          font-weight: 100;
          margin-bottom: 0;
        }

        .hero-file {
          font-size: 18px;

          &::before {
            content: '|';
            margin-left: 10px;
            margin-right: 10px;
          }

          a {
            color: $color-white;
          }
        }
      }
    }
  }
}

.cs-body-content {
  .cs-summary {
    color: $color-orange;

    h2 {
      font-weight: 100;
    }
  }

  .cs-body {
    font-size: 18px;

    @media only screen and (min-width: $media-screen-mobile) {
      column-count: 2;
      column-gap: 30px;
    }

    @media only screen and (min-width: $media-screen-large) {
      column-gap: 50px;
    }
  }
}

.cs-client-summary {
  background: $color-off-black;
  color: $color-white;
  background-image: url('../img/CLE_Pattern-Web.jpg');
  background-size: cover;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  font-size: 20px;
  line-height: 31px;
}

//css for schedule demo block

.schedule-demo-block {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0px;
  align-items: center;
  h3 {
    color: $color-orange;
    text-transform: uppercase;
    font-weight: 700;
    width: 65%;
    margin-bottom: 0em !important;
    @media (max-width: $breakpoint-product-tabs) {
      width: 100%;
      margin-bottom: 20px !important;
    }

  }
  a {
   color: $color-white;
   background-color: $color-gray;
   padding: 5px 60px;
   border: 2px solid $color-orange;
   border-radius: 5px;
   font-size: 16px;
   font-weight: 800;
   text-transform: uppercase;
   &:hover {
    box-shadow: none !important;
    cursor: pointer;
   }
   @media (max-width: $media-screen-mobile) {
    margin: 0 auto;
  }
  }

}