$catalog-sidebar-gap: 3rem;

.catalog {
  @media (min-width: $breakpoint-catalog-sidebar-visible) {
    display: flex;

    .catalog-sidebar {
      flex-shrink: 0;
      padding-right: ($catalog-sidebar-gap / 2);
    }

    .a--close {
        display: none;
    }

    .catalog-filters-container,
    .catalog-filters {
      width: 15rem;
    }

    .catalog-main {
      flex: 1 1 0;
      padding-left: ($catalog-sidebar-gap / 2);
    }
  }
}

.catalog-sidebar,
.catalog-main {
  @include section-padding(horizontal);
  @include section-padding(vertical);
}

.catalog-header {
  border-bottom: 1px solid rgba($color-gray-light, 0.6);
  padding-bottom: 1.5rem;
  margin-bottom: 2rem;
}

.catalog-header-primary {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.catalog-header-secondary {
  padding-top: 1em;
}

.catalog-title,
.catalog-sort {
  margin-bottom: 0.5em;
}
.catalog-title {
  flex-grow: 1;
}

.catalog-sort {
  flex: 0 0 auto;
}

@media (max-width: $breakpoint-catalog-sidebar-visible - 1) {
  .catalog-sidebar,
  .catalog-filters-container {
    transition: 200ms ease;
  }

  .catalog-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1001;
    background: rgba($color-off-black, 0.1);
    overflow: hidden;
    transition-delay: 100ms;
  }

  .catalog-filters-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 90vw;
    z-index: 1001;
    max-width: 20rem;
    background: #fff;
    box-shadow: 0 0 0.5em rgba(#000, 0.1);
    overflow: auto;
    padding: 1.5rem;
  }

  .catalog:not(.catalog--filtering) {
    .catalog-sidebar {
      opacity: 0;
      pointer-events: none;
    }
    .catalog-filters-container {
      transform: translateX(-100%);
    }
  }
}

@media (min-width: $breakpoint-catalog-sidebar-visible) {
  .catalog-filters-toggle {
    display: none;
  }
}

/**
 * LISTINGS
 */
.catalog {
  .listings {
    .listings-item {
      @include property-scale(width, (
        0: 50%,
        $breakpoint-nav-inline: 33.3333%,
        800px: 25%,
        $breakpoint-catalog-sidebar-visible: 33.3333%,
        1200px: 25%,
        1500px: 13em,
      ));
    }
  }
}
