$feature-height-map: (
  'default': 25em,
  'large': 32em,
);

.feature {
  position: relative;
  max-width: 40em;
  background: $color-accent-bg;
  display: flex;
  align-items: flex-end;

  @media (min-width: $breakpoint-layout-horizontal) {
    min-height: map-get($feature-height-map, default);
  }

  @media only screen and (max-width: $media-screen-medium) {
    max-width: 100%;
  }
}

/**
 * FEATURE IMAGE
 */
.feature-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: rgba(56,55,57,1); 
}

.feature-image img,
.feature-image-img {
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.25;
}

/**
 * FLOATING IMAGE
 */
@media (max-width: 1200px - 1) {
  .feature-floating-image {
    float: right;
    max-width: 30%;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
}

@media (min-width: 1200px) {
  .feature--floating-image {
    margin-top: 4rem;

    .feature-header,
    .feature-content,
    .feature-footer {
      max-width: 60%;
    }
  }

  .feature-floating-image {
    position: absolute;
    top: -2rem;
    right: 0;
    bottom: 0;
    width: 40%;
    padding-left: 2rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    &-img,
    img {
      max-width: 100%;
    }
  }
}

/**
 * FEATURE BODY
 */
.feature-body {
  position: relative;
  width: 100%;
  padding: fluid-value(2rem, 3rem, 20rem, 87.5rem);
}

.feature-header,
.feature-content,
.feature-footer {
  &:not(:last-child) {
    margin-bottom: fluid-value(1rem, 2rem, 20rem, 87.5rem);
  }
}

/**
 * HEADER
 */
.feature-header {
  border-bottom: 1px solid rgba($color-off-black, 0.25);
  padding-bottom: 1rem;
}

.feature-title-prefix,
.feature-title {
  margin: 0;
}

.feature-title-prefix {
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-size: 0.9375rem;
}

.feature-title {
  font-size: fluid-value(1.375rem, 1.75rem, 20rem, 87.5rem);
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: $line-height-tight;
  color: $color-orange;
}

/**
 * CONTENT
 */
.feature-content {
  @include property-scale(font-size, (0: 1em, $breakpoint-nav-inline: 1.125em));
  max-width: 26rem;
}

/**
 * STYLE VARIANTS
 */
.feature--brand,
.feature--inverse {
  color: #fff;

  .feature-header {
    border-bottom-color: #fff;
  }

  .feature-title {
    color: #fff;
  }

  .feature-content {
    opacity: 0.9;
  }
}

.feature--brand {
  @include watermark(#fff);
  background-color: $color-orange;
}

/**
 * SIZE VARIANTS
 */
.feature--large {
  max-width: 48em;
  align-items: center;

  @media only screen and (max-width: $breakpoint-listing-peek){
    max-width: 100%;
  }

  .feature-body {
    padding: fluid-value(2rem, 5rem, 20rem, 87.5rem);
  }

  .feature-header {
    padding-bottom: fluid-value(1rem, 2rem, 20rem, 87.5rem);
  }

  .feature-title-prefix {
    font-size: 1.125rem;
  }

  .feature-title {
    font-size: fluid-value(2rem, 3rem, 20rem, 87.5rem);
  }

  @media (min-width: $breakpoint-layout-horizontal) {
    min-height: map-get($feature-height-map, large);
  }
}

/**
 * LIST
 */
.features {
  @media (max-width: $breakpoint-layout-horizontal - 1) {
    .features-item {
      margin-bottom: 1em;
    }
  }

  @media (min-width: $breakpoint-layout-horizontal) {
    display: flex;
    justify-content: center;
    margin-left: -0.75em;
    margin-right: -0.75em;

    .features-item {
      flex: 1 1 auto;
      padding: 0 0.75em;
    }
  }
}
