$form-grid-gap-map: (
    0: 1em,
    $breakpoint-nav-inline: 1.25em,
);

.form-grid {
    @include property-scale(margin-bottom, $form-grid-gap-map);
    @include property-scale((margin-left, margin-right), map-multiplier($form-grid-gap-map, -0.5));
}

.form-grid-item {
    @include property-scale(padding, map-multiplier($form-grid-gap-map, 0.5));

    .form-item {
        margin: 0;
    }

    .float-label,
    .float-label-input,
    input,
    select,
    textarea {
        width: 100%;
    }
}

@media (min-width: $breakpoint-nav-inline) {
    .form-grid {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .form-grid-item {
        width: 50%;
        flex: 0 0 auto;
        display: flex;
        flex-wrap: wrap;
    }

    .field--type-text-long,
    .field--type-string-long {
        flex-basis: 100%;
        width: 100%;
    }
}
