.industry-solutions {
  display: flex;
  flex-wrap: wrap;

  .industry-solution-item {
    flex: 0 0 25%;
    max-width: 25%;
    padding-left: 2px;
    padding-right: 2px;

    @media only screen and (max-width: $media-screen-medium) {
      flex: 0 0 50%;
      max-width: 50%;
    }

    .overlay-wrapper {
      position: relative;

      @media only screen and (min-width: $media-screen-large) {
        height: 394px;
      }

      @media only screen and (max-width: $media-screen-tablet) {
        max-height: 429px;
      }

      @media only screen and (max-width: $media-screen-mobile) {
        max-height: 324px;
      }

      &::before {
        content: "";
        position: absolute;
        visibility: hidden;
        opacity: 0;
        transition: 0.1s ease;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1;
      }

      .field-image {
        position: relative;
        overflow: hidden;
        display: flex;
        width: 100%;
        height: 100%;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          right: 0;
          width: 3.125em;
          height: 3.125em;
          background: $color-orange url(svg-background($svg-arrow-right, #fff)) no-repeat center center;
          background-size: 50% auto;
          transition: 200ms ease;
          z-index: 99;

          @include property-scale((width, height), (
            0: 2em,
            800px: 3.125em,
          ))
        }
      }

      .content-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 10px;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        flex-direction: column;
        color: $color-white;
        justify-content: flex-end;
        z-index: 99;

        .field-description {
          display: none;

          p {
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
            white-space: pre-wrap;
          }
        }
      }
    }

    a {
      &:hover {
        .overlay-wrapper {
          &::before {
            visibility: visible;
            transition: 1s ease;
            opacity: 1;
          }

          .content-wrapper {
            justify-content: center;

            .field-description {
              display: block;
            }
          }
        }
      }

      &:not(:hover) {
        .overlay-wrapper {
          .field-image {
            &::after {
              transform: translateY(100%);
            }
          }
        }
      }
    }
  }
}