.nav--footer,
nav[class*='nav--footer--'] {
  .nav-item {
    margin-bottom: 0.5em;
  }

  .nav-link {
    color: $color-gray-medium;

    &:hover {
      color: $color-gray-light;
      box-shadow: none;
    }
  }

  .nav-menu--depth-0 {
    display: flex;
    flex-flow: row wrap;
  }

  .nav-item--depth-0 {
    padding-right: 2em;
    margin-bottom: 1.5em;

    &:last-of-type {
      margin-right: auto;
    }
  }

  .nav-link--depth-0 {
    display: inline-block;
    @include link-reset;
    @extend %h4;
    margin-bottom: 1em;
    color: #fff;
  }

  @media (max-width: 549px) {
    .nav-item--depth-0 {
      flex-basis: 100%;

      .nav-menu {
        columns: 2;
      }
    }
  }

  @media (min-width: 550px) {
    .nav-item--depth-0 {
      flex-basis: 33%;
      max-width: 15em;
    }
  }
}
