.nav--social {
  display: flex;

  .nav-link {
    @include link-reset;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba($color-gray, 0.5);
    border-radius: 2em;
    width: 2.25em;
    height: 2.25em;
    color: $color-off-black;

    &:hover {
      background: $color-orange;
      color: #fff;
    }
  }

  .nav-link + .nav-link {
    margin-left: 0.5em;
  }
}
