%notice,
.notice {
  @extend %wysiwyg-content;
  padding: 1rem;
  margin-bottom: 1rem;

  :last-child {
    margin-bottom: 0;
  }
}

@mixin notice-color($color) {
  background: rgba($color, 0.15);
  border: 1px solid rgba(#000, 0.1);
}

%notice--error,
.notice--error {
  @include notice-color($color-red);
}

%notice--success,
.notice--success {
  @include notice-color($color-green);
}

%notice--info,
.notice--info {
  @include notice-color($color-yellow);
}

div.notice--info {
  background-color: $color-orange;
  color: #fff;
  text-align: center;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    color: #fff;
    box-shadow: 0 1px 0 #fff;

    &:hover {
      box-shadow: 0 1px 0 transparent;
    }
  }

  .notice-image {
    margin-right: 1rem;

    a,
    a:hover {
      box-shadow: none;
    }

    img {
      max-width: 100px;
    }
  }
}
