%numbered,
.numbered {
    counter-reset: numbered;
}

%numbered-item,
.numbered-item {
    counter-increment: numbered;

    &::before {
        display: inline-block;
        content: counter(numbered);
        background: $color-orange;
        color: #fff;
        width: 2rem;
        height: 2rem;
        font-size: 1.125rem;
        font-weight: bold;
        line-height: 2rem;
        text-align: center;
        border-radius: 2rem;
    }
}

.numbered-item {
    display: flex;
    align-items: center;

    &::before {
        flex: 0 0 auto;
        margin-right: 1rem;
    }
}
