/* --------------------------------

Main Components

-------------------------------- */
.cd-product-viewer-wrapper {
  text-align: center;
  padding: 2em 0;
  /*
	@include respond($breakpoint-product-sm, "down") {
		padding: 0 0 1em 0;
	}
  */

  > div {
    display: inline-block;
  }

  .product-viewer {
    position: relative;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    margin: 1em 0;
    width: 500px;
    height: 500px;
    //max-width: 500px;
    //max-height: 500px;
    @media (max-width: $breakpoint-mobile-hotspot) {
      width: 250px;
      height: 250px;
    }
  }

  img {
    /* this is the image visible before the image sprite is loaded */
    display: block;
    position: relative;
    z-index: 1;

    &.loading-image {
      max-width: 100%;
      max-height: 100%;
      margin: 0 auto;
    }
  }

  .product-sprite {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    /* our image sprite is composed by 24 frames */
    width: 2400%;
    background: /*url('../images/pistol-grip-360.jpg')*/ no-repeat center center;
    background-size: 100%;
    opacity: 0;
    transition: opacity 0.3s;
  }

  #rotate-1 & .product-viewer {
    max-width: 500px;
  }

  #rotate-2 & .product-sprite {
    // background-image: url('../images/right-angle-360.jpg');

  }

  &.loaded .product-sprite {
    /* image sprite has been loaded */
    opacity: 1;
    cursor: ew-resize;
  }
}

.cd-product-viewer-handle-wrapper {
  padding: 2rem 2rem 1rem 2rem;
  background: transparent url('../img/360-base.png') center center no-repeat;
  background-size: 100% auto;
}

.cd-product-viewer-handle {
  position: relative;
  z-index: 2;
  height: 32px;
  // width: 80%;
  // max-width: 400px;
  // border-radius: 50em;
  // margin: 1em auto 3em;
  // height: 4px;
  // background: $color-gray;
  // background-image: url('../img/360-base.png');
  // background-position: center center;
  // background-repeat: no-repeat;
  // width: auto;
  // height: 5em;
  // background: transparent url('../img/360-base.png') center center no-repeat;

  .fill {
    /* this is used to create the loading fill effect */
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    // background: rgba(255, 255, 255, 0.3);
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 0.5s;
  }

  .no-csstransitions & .fill {
    display: none;
  }

  .loaded & .fill {
    /* image sprite has been loaded */
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s 0.3s;
    transition: transform 0.3s, opacity 0.2s 0.3s;
  }

  .handle {
    position: absolute;
    z-index: 2;
    display: inline-block;
    height: 32px;
    width: 32px;
    left: 0;
    // top: -14px;
    top: 0;
    background: $color-blue url('../img/cd-arrows.svg') no-repeat center center;
    border-radius: 50%;
    /* replace text with image */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    color: transparent;
    -webkit-transform: translateX(-50%) scale(0);
    -moz-transform: translateX(-50%) scale(0);
    -ms-transform: translateX(-50%) scale(0);
    -o-transform: translateX(-50%) scale(0);
    transform: translateX(-50%) scale(0);
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;

    &:active {
      box-shadow: 0 0 0 0 rgba($color-blue, 0), 0 0 20px rgba($color-blue, 0.5);
    }

    .loaded & {
      /* image sprite has been loaded */
      -webkit-transform: translateX(-50%) scale(1);
      -moz-transform: translateX(-50%) scale(1);
      -ms-transform: translateX(-50%) scale(1);
      -o-transform: translateX(-50%) scale(1);
      transform: translateX(-50%) scale(1);
      -webkit-animation: cd-bounce 0.3s 0.3s;
      -moz-animation: cd-bounce 0.3s 0.3s;
      animation: cd-bounce 0.3s 0.3s;
      -webkit-animation-fill-mode: both;
      -moz-animation-fill-mode: both;
      animation-fill-mode: both;
      cursor: ew-resize;
    }
  }
}

@-webkit-keyframes cd-bounce {
  0% {
    -webkit-transform: translateX(-50%) scale(0);
  }

  60% {
    -webkit-transform: translateX(-50%) scale(1.1);
  }

  100% {
    -webkit-transform: translateX(-50%) scale(1);
  }
}

@-moz-keyframes cd-bounce {
  0% {
    -moz-transform: translateX(-50%) scale(0);
  }

  60% {
    -moz-transform: translateX(-50%) scale(1.1);
  }

  100% {
    -moz-transform: translateX(-50%) scale(1);
  }
}

@keyframes cd-bounce {
  0% {
    -webkit-transform: translateX(-50%) scale(0);
    -moz-transform: translateX(-50%) scale(0);
    -ms-transform: translateX(-50%) scale(0);
    -o-transform: translateX(-50%) scale(0);
    transform: translateX(-50%) scale(0);
  }

  60% {
    -webkit-transform: translateX(-50%) scale(1.1);
    -moz-transform: translateX(-50%) scale(1.1);
    -ms-transform: translateX(-50%) scale(1.1);
    -o-transform: translateX(-50%) scale(1.1);
    transform: translateX(-50%) scale(1.1);
  }

  100% {
    -webkit-transform: translateX(-50%) scale(1);
    -moz-transform: translateX(-50%) scale(1);
    -ms-transform: translateX(-50%) scale(1);
    -o-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
  }
}
