.related-solutions {
  .listings {
    align-items: flex-start;

    .listings-item {
      @media only screen and (min-width: $media-screen-large) {
        flex-basis: content;
      }

      .listing-image {
        .listing-image-img {
          min-width: 285px;
          min-height: 350px;
        }
      }
    }
  }
}