/**
 * SECTIONS
 */
.section {
  @include section-padding(horizontal);
  @include section-padding(vertical);

  &--centered {
    text-align: center;

    .section-header {
      &--centered {
        .section-header-content {
          max-width: 50em;
        }

        .webform-submission-form {
          text-align: left;
        }
      }
    }
  }

  &--schedule-a-demo {
    background: $color-off-black url('../img/cleco-enhanced-schedule-a-demo-bg.png') no-repeat center center;
    background-size: cover;
    color: #fff;

    p {
      font-size: fluid-value(0.875rem, 1.0625rem, 20rem, 60rem);
    }

    .webform-submission-form {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;

      .form-item {
        flex: 1 1 50%;
        padding-left: 0.5em;
        padding-right: 0.5em;

        input,
        select {
          background: rgba(#fff, 0.28);
          box-shadow: inset 0 0 0 1px rgba($color-gray-light, 0.75);
        }
      }

      .captcha,
      .form-item-opt-in,
      .form-actions,
      .form-item-privacy-policy {
        flex: 1 1 100%;
      }
    }
  }

  &--insights {
    .infowindow-action {
      svg {
        width: 1em;
        height: 1em;

        path {
          fill: $color-orange;
        }
      }
    }
  }
}

.section,
.sections-alternate {

  +.section,
  +.sections-alternate {
    border-top: 2px solid $color-accent-bg;
  }
}

.section--bordered {
  border-top: 2px solid $color-accent-bg;
}

.section--centered {
    text-align: center;

    p {
        margin-left: auto;
        margin-right: auto;
    }

    .form-bar {
        margin-left: auto;
        margin-right: auto;
    }
}

.section--focus {
  overflow: hidden;
  @include watermark($color-gray-light);
  background-image: linear-gradient(to bottom, #fff 50%, rgba($color-gray-light, 0.16) 100%);

  @media (min-width: 37em) {
    &::before {
      width: 18.75rem;
      padding-bottom: 80%;
    }
  }
}

/**
 * SECTION HEADER
 */
.section-header {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;

  &--centered {
    justify-content: center;
    text-align: center;
  }
}

.section-header-content {
  flex: 1 1 auto;
}

.section-title {
  @extend %h1;

  em {
    font-style: normal;
    color: $color-orange;
  }
}

.section-subtitle {
  max-width: 45.0em;
}

/**
 * SECTION INTRO
 */
.section-intro-block,
.section-title,
.section-intro-content,
.section-intro-actions {
  position: relative;
}

.section-intro-block {
  + .section-intro-block {
    @include section-padding(top);
  }
}

.section-intro-content {
  @media (min-width: 40rem) {
    font-size: 1.125em;
  }
}

.section-intro-actions {
  margin-top: 2rem;
}

/**
 * FEATURES
 */
.section--features {
  padding: 0;

  .section-intro {
    @include watermark($color-gray-light, left);
    @include section-padding(horizontal);
    @include section-padding(vertical);
  }

  @media (min-width: $breakpoint-layout-horizontal) {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .section-intro {
      position: sticky;
      top: 0;
      flex: 1 1 45%;
      min-width: 30rem;
      max-width: 41rem;
    }

    .section-main {
      @include property-scale((padding-top, padding-bottom), $container-padding-map);
      flex-basis: 48rem;
      min-width: 34em;
    }

    .feature {
      margin-bottom: 2rem;
      transform-origin: right center;
    }
  }

  @media (min-width: $breakpoint-notches) {
    .section-main--notched {
      padding-top: 0;
      margin-top: -2rem;
    }
  }

  @media (min-width: 1500px) {
    justify-content: space-around;
  }
}

// Animations
body:not(.anim-disabled) {
  .section--features .feature {
    transition: 500ms ease;

    &:not(.animate) {
      transform: scale(0.9);
      opacity: 0.5;
    }
  }
}


/**
 * FORM
 */
.section--form {
  overflow: hidden;
  background: $color-accent-bg no-repeat;
  background-image:
    url(svg-background($svg-grip-pattern, rgba($color-gray-light, 0.15))),
    url(svg-background($svg-grip-pattern, rgba($color-gray-light, 0.15)));
  background-size: 18.375rem auto, 18.375rem auto;
  background-position: 90% -12rem, 10% calc(100% + 12rem);

  .section-header {
    justify-content: center;
  }
}

/**
 * INTRO
 */
.section--intro {
  .section-title {
    max-width: 45rem;
  }

  .section-intro-content {
    column-width: 20em;
    column-gap: 3em;
  }
}

/**
 * CARDS
 */
.section--cards {
  border-bottom: 2px solid $color-accent-bg;

  @media (max-width: $breakpoint-layout-horizontal - 1) {
    .message-block {
      margin-bottom: 1.5rem;
    }
  }

  @media (min-width: $breakpoint-layout-horizontal) {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-end;
    padding-top: 0;

    .message-block {
      align-self: flex-start;
    }

    .section-header {
      padding-top: 3rem;
    }

    .section-header,
    .message-block {
      width: 50%;
    }

    .section-header,
    .section-title {
      margin-bottom: 0;
    }

    .section-subtitle {
      padding-top: 1em;
    }

    .message-block {
      position: relative;
      left: section-padding-value(horizontal);
      margin-top: -3rem;
    }

    .basic-cards {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }
}

.section--gray {
    background: rgba( #ccc, .16 );
}
