.trusted-by-biggest-banner-title {
  padding-bottom: 0;
}
.trusted-by-biggest-banner-content {
  background-color: $color-orange;

  .trusted-by-biggest-carousel {
    .slick-track {
      display: flex;
      justify-content: center;
      align-items: center;

      .slick-slide {
        margin: auto;

        .slide {
          img {
            margin: auto;
          }
        }
      }
    }
  }
}