/**
 * THUMBS
 */
.video-thumb {
  position: relative;
}

/**
 * IMAGE
 */
.video-thumb img,
.video-thumb-img {
  vertical-align: bottom;
  min-width: 100%;
}

/**
 * CONTENT
 */
.video-thumb-details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to top, rgba($color-off-black, 0.8), rgba($color-off-black, 0)) no-repeat bottom center;
  background-size: 100% 100%;
  color: #fff;
  @include property-scale(padding, $container-padding-map);

  > :last-child {
    margin-bottom: 0;
  }

  @media (max-width: $breakpoint-layout-horizontal - 1) {
    font-size: 0.875em;
  }
}

.video-thumb-title {
  margin-bottom: 0.25em;
}

/**
 * PLAY
 */
.video-thumb-play {
  @include link-reset;
  @include imgtxt;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  background: $color-orange url(svg-background($svg-play, #fff)) no-repeat 52% center;
  background-size: auto 0.75em;
  color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 1.25em rgba(#000, 0.33);
  @include property-scale((width, height), (
    0: 3em,
    $breakpoint-layout-horizontal: 5em,
  )) ;

  &:hover {
    box-shadow: 0 2px 1.25em rgba(#000, 0.5);
    background-size: auto 1em;
  }

  @media (min-width: $breakpoint-layout-horizontal) {
    left: 0;
  }
}

/**
 * PLAYER
 */
.video-player {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1001;
  background: $color-off-black;
  display: flex;
  align-items: center;
  justify-content: center;
  @include section-padding(horizontal);
  @include property-scale((padding-top, padding-bottom), map-multiplier($container-padding-map, 2));

  &.v-enter,
  &.v-enter-to {
    transition: 500ms ease;
  }

  &.v-enter {
    opacity: 0;
  }
}

.video-player-content {
  flex: 1 1 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
}

.video-player-branding {
  flex: 0 0 auto;
  margin-bottom: 1em;
  @include property-scale(padding-left, $container-padding-map);

  &::before {
    display: block;
    content: "";
    background: url(../img/clecotools-logo.svg) no-repeat center center;
    background-size: 100% auto;
    width: 6.625em;
    height: 2rem;
    @media (min-width: $breakpoint-layout-horizontal) {
      width: 8.75em;
    }
  }
}

.video-embed {
  position: relative;
  padding-bottom: 56.25%;
  margin-top: auto;
  margin-bottom: auto;

  video,
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.video-player-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  @include button-reset;
  color: #fff;
  font-size: 2em;
  width: 2.5rem;
  height: 2.5rem;
}
