@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Paragraph: Steps
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Component
 */
.component-steps {
  @include container-full-width();
  padding: rem(40px) 0;

  &.component-steps--color-light,
  &.component-steps--color-dark {
    position: relative;

    .component-steps__content {
      position: relative;
      z-index: 1;
    }

    &:after {
      @include trbl();

      content: '';
      height: 100%;
      width: 100%;
      z-index: 0;
    }
  }

  &.component-steps--color-light {
    background-color: $gray-10;

    .component-steps__title,
    .component-step__content {
      color: $black;
    }
  }

  &.component-steps--color-dark {
    background-color: $black;

    .component-steps__title,
    .component-step__content {
      color: $white;
    }
  }

  @include media('>=lg-plus') {
    padding: rem(80px) 0;
  }

  .component-steps__title {
    @include container();
  }

  .component-steps__content {
    display: flex;
    flex-direction: column;

    p {
      margin: 0;
    }


    .component-step {
      &:nth-child(1) {
        .component-step__title-wrapper {
          &::after {
            top: 45%;
            height: 100%;
          }

          @include media('>=lg-plus') {
            &::after {
              top: 50%;
              left: 22%;
              width: 50%;
              height: unset;
            }
          }
        }
      }

      &:nth-last-of-type(1) {
        .component-step__title-wrapper {
          &::after {
            top: 0;
            height: 50%;
          }

          @include media('>=lg-plus') {
            &::after {
              top: 50%;
              left: -36%;
              width: 50%;
              height: unset;
            }
          }
        }
      }

      @include media('<lg-plus') {
        .component-step__inner {
          display: flex;
          flex-direction: row;
          align-items: center;
          position: relative;
        }
      }

      @include media('>=lg-plus') {
        width: 20%;
        max-width: 20%;
      }
    }

    @include media('>=lg-plus') {
      @include container();
      flex-direction: row;

      &::after {
        border-left: unset;
        border-top: 2px dashed #EB8900;
        top: rem(25px);
        left: rem(25px);
        width: 83%;
        z-index: 0;
      }
    }
  }

  .component-steps__title {
    @include type-header(h2, black, included);
    font-size: rem(28px);
    text-align: center;
    margin-bottom: rem(40px);
    position: relative;
    z-index: 1;

    @include media('>=lg-plus') {
      font-size: rem(40px);
      margin-bottom: rem(80px);
    }
  }

  .component-step__title-wrapper {
    position: relative;

    &::after {
      position: absolute;
      content: '';
      top: 0;
      left: 50%;
      z-index: 0;
    }

    @include media('<lg-plus') {
      flex: 0 0 0;
      margin-right: rem(24px);

      &::after {
        height: 100%;
        border-left: 3px solid $primary-red;
      }
    }

    @include media('>=lg-plus') {
      margin-bottom: rem(30px);

      &::after {
        top: 50%;
        left: -31%;
        width: 100%;
        border-top: 3px solid $primary-red;
      }
    }
  }

  .component-step__title-container {
    position: relative;
    background-color: $white;
    border: 3px solid $primary-red;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    min-width: rem(100px);
    max-width: rem(100px);
    min-height: rem(100px);
    max-height: rem(100px);
    padding: rem(20px);
    z-index: 1;

    @include media('<lg-plus') {
      margin: rem(20px 0);
    }

    @include media('>=lg-plus') {
      display: inline-flex;
      padding: rem(15px);
    }

    .component-step__pre-title {
      color: $secondary-black;
      font-family: $font-brand;
      font-weight: $fw-medium;
      font-size: rem(19px);
      line-height: rem(21px);
      text-transform: uppercase;
    }

    .component-step__title {
      color: $primary-red;
      font-family: $font-brand;
      font-size: rem(32px);
      font-weight: $fw-medium;
      line-height: rem(34px);
    }
  }

  .component-step__content {
    padding-right: rem(20px);

    @include media('>=lg-plus') {
      padding-right: rem(40px);
    }
  }
}
