<div class="sel-cat">
  <div class="sel-hd sel-complete">
    <a href="#/business" ng-click="loadData()">
      <span class="sel-count">1.</span>
      {{ t('Business Information') }}
    </a>
  </div>
</div>
<div class="sel-cat">
  <div class="sel-hd sel-complete">
    <a href="#/general" ng-click="loadData()">
      <span class="sel-count">2.</span>
      {{ t('General Information') }}
    </a>
  </div>
</div>
<div class="sel-cat">
  <div class="sel-hd sel-complete">
    <a href="#/application" ng-click="loadData()">
      <span class="sel-count">3.</span>
      {{ t('Application Information') }}
    </a>
  </div>
</div>
<div class="sel-cat">
  <div class="sel-hd sel-complete">
    <a href="#/accessories" ng-click="loadData()">
      <span class="sel-count">4.</span>
      {{ t('Accessories') }}
    </a>
  </div>
</div>
<div class="sel-cat">
  <div class="sel-hd sel-complete">
    <a href="#/solution" ng-click="loadData()">
      <span class="sel-count">5.</span>
      {{ t('Solution Issues') }}
    </a>
  </div>
</div>
<div class="sel-cat">
  <div class="sel-hd">
    <span class="sel-count">6.</span>
    {{ t('Complete Request') }}
  </div>
  <div class="sel-thanks">
    <h3><img src="/themes/custom/atg/advanced-selector/pics/check-circle.svg" onerror="this.onerror=null; this.src='/themes/custom/atg/advanced-selector/pics/check-circle.png'"
        width="40" height="40" alt="Check" /> {{ t('Thank you for your interest in Advanced Drilling Equipment from Cleco Tools.') }}</h3>
    <p>{{ t('We have received your submissions and a sales representative will be reviewing your needs. We will contact you shortly to revview and discuss next steps in creative your Cleco Tool Solution. In the meantime, you can download your results or forward on to a colleague.') }}</p>
    <div class="sel-btn sel-download">
      <a href="/{{ t('tools/advanced-drilling') }}/download" class="button button--primary">
        <img src="/themes/custom/atg/advanced-selector/pics/download-white.png" width="22" height="20" alt="Download" /> {{ t('Download Results') }}</a>
    </div>
  </div>

  <div class="grid-12">
    <div class="sel-btn">
      <a href="#/application" class="button button--primary" ng-click="loadData()">{{ t('Start a New Request') }}</a>
    </div>
  </div>
  <div class="clearfix"></div>

  <form class="sel-form sel-bottom clearfix" name="emailform" id="emailform" ng-submit="sendToColleague(friend)">
    <div class="grid-12 sel-email">
      <h3><img src="/themes/custom/atg/advanced-selector/pics/email.svg" onerror="this.onerror=null; this.src='/themes/custom/atg/advanced-selector/pics/email.png'" width="40" height="40" alt="Email" /> {{ t('Email Results') }}</h3>
    </div>
    <div class="clearfix"></div>

    <div class="grid-6 col-center">
      <label>{{ t("Colleague's Email Address") }} <span class="orange">*</span></label>
      <input type="text" value="" ng-model="friend.colleague_email" placeholder="" required ng-class="{ 'error': submitted && !friend.colleague_email }" />
    </div>
    <div class="clearfix"></div>
    <div class="grid-6 col-center">
      <label>{{ t('Brief Message') }} <span class="orange">*</span></label>
      <textarea ng-model="friend.brief_msg" required ng-class="{ 'error': submitted && !friend.brief_msg }" rows="7"></textarea>
    </div>
    <div class="clearfix"></div>

    <div class="grid-12">
      <input type="hidden" ng-model="friend.from_name">
      <div class="sel-btn">
        <button type="submit" class="button button--primary js-form-submit form-submit" ng-disabled="!emailform.$valid || loading" ng-class="{ 'loading': loading }" class="button button--primary js-form-submit form-submit">{{ t('Forward Results') }}</button>
      </div>
    </div>
    <div class="clearfix"></div>
  </form>
</div>
