<ul class="results">
	<li class="results-item">
		<div class="result">
			<a href="#" class="result-image">
				<img src="https://placem.at/things?w=105&h=125">
			</a>
			<div class="result-content">
				<header class="result-header">
					<p class="result-subtitle">Video</p>
					<h3 class="result-title"><a href="#" class="result-link">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</a></h3>
				</header>
				<div class="result-body">
					<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Etiam porta sem malesuada magna mollis euismod…</p>
				</div>
				<footer class="result-footer">
					<p class="result-meta">Catalog/Brochure</p>
					<p class="result-meta"><a href="#" class="result-meta-link">Download PDF</a></p>
				</footer>
			</div>
		</div>
	</li>
	<li class="results-item">
		<div class="result">
			<a href="#" class="result-image">
				<img src="https://placem.at/things?w=105&h=125">
			</a>
			<div class="result-content">
				<header class="result-header">
					<p class="result-subtitle">Video</p>
					<h3 class="result-title"><a href="#" class="result-link">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</a></h3>
				</header>
				<div class="result-body">
					<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Etiam porta sem malesuada magna mollis euismod…</p>
				</div>
				<footer class="result-footer">
					<p class="result-meta">Catalog/Brochure</p>
					<p class="result-meta"><a href="#" class="result-meta-link">Download PDF</a></p>
				</footer>
			</div>
		</div>
	</li>
	<li class="results-item">
		<div class="result">
			<a href="#" class="result-image">
				<img src="https://placem.at/things?w=105&h=125">
			</a>
			<div class="result-content">
				<header class="result-header">
					<p class="result-subtitle">Video</p>
					<h3 class="result-title"><a href="#" class="result-link">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</a></h3>
				</header>
				<div class="result-body">
					<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Etiam porta sem malesuada magna mollis euismod…</p>
				</div>
				<footer class="result-footer">
					<p class="result-meta">Catalog/Brochure</p>
					<p class="result-meta"><a href="#" class="result-meta-link">Download PDF</a></p>
				</footer>
			</div>
		</div>
	</li>
	<li class="results-item">
		<div class="result">
			<a href="#" class="result-image">
				<img src="https://placem.at/things?w=105&h=125">
			</a>
			<div class="result-content">
				<header class="result-header">
					<p class="result-subtitle">Video</p>
					<h3 class="result-title"><a href="#" class="result-link">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</a></h3>
				</header>
				<div class="result-body">
					<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Etiam porta sem malesuada magna mollis euismod…</p>
				</div>
				<footer class="result-footer">
					<p class="result-meta">Catalog/Brochure</p>
					<p class="result-meta"><a href="#" class="result-meta-link">Download PDF</a></p>
				</footer>
			</div>
		</div>
	</li>
</ul>
