<main class="main">
	<section class="section">
		<article class="article">
			<header class="article-header">
				<h1 class="article-title">Cleco® TULMan Electronic Counter Serves as Universal Tool to Monitor and Maintain Pneumatic Devices</h1>
				<p class="article-meta">Released on 06/07/2016 in <a href="#">Product News</a></p>
			</header>
			<div class="article-body">
				<p>Cleco® TULMan Electronic Counter Serves as Universal Tool to Monitor and Maintain Pneumatic Devices</p>
				<p>Lexington, South Carolina—June 27, 2016—Cleco®, a brand of APEX Tool Group, introduces its new TULMan Electronic Counter, a universal product designed to effectively manage pneumatic tools. The electronic counter allows users to monitor tool usage, and implement preventative maintenance.</p>

				<img src="https://placem.at/things?w=800&h=400">

				<p>The TULMan Electronic Counter enables maintenance intervals or calibration checks to be set based on cycles or run time. A yellow LED light warns when the cycle or run time limits are near, while it turns red when cycle or run time limits have been reached. The electronic counter can also allow users to track tool usage or compare product usage among different operators to improve productivity and processes.</p>
				<p>“Our industry is centered around making data-driven decisions to increase productivity and workflow,” said Kevin Myhill, Senior Product Manager, APEX Tool Group. “The TULMan Electronic Counter allows users, for the first time, to receive this data from their small pneumatic tools and make educated decisions to improve production efficiency and enhance tool usage.” Featuring a universal design, the TULMan Electronic Counter can be used on any pneumatic tool with up to 20cfm air flow, regardless of the manufacturer.</p>

				<img src="https://placem.at/things?w=300&h=400">
				<p>The TULMan Electronic Counter enables maintenance intervals or calibration checks to be set based on cycles or run time. A yellow LED light warns when the cycle or run time limits are near, while it turns red when cycle or run time limits have been reached. The electronic counter can also allow users to track tool usage or compare product usage among different operators to improve productivity and processes.</p>
				<p>“Our industry is centered around making data-driven decisions to increase productivity and workflow,” said Kevin Myhill, Senior Product Manager, APEX Tool Group. “The TULMan Electronic Counter allows users, for the first time, to receive this data from their small pneumatic tools and make educated decisions to improve production efficiency and enhance tool usage.” Featuring a universal design, the TULMan Electronic Counter can be used on any pneumatic tool with up to 20cfm air flow, regardless of the manufacturer.</p>

				<p>For more information on the TULMan Electronic Counter, visit ClecoTools.com/Tulman.</p>
				<p><strong>Inquiries:</strong></p>
				<p>Eileen Scharenbroch, Director Global Marketing Communications: Elieen.Scharenbroch@APEXToolGroup.com; Phone: 803-358-7630</p>
				<p><strong>About Cleco® Assembly Tools</strong>
				<p>Cleco is a global leader in manufacturing and delivering world-class assembly solutions including DC electric and pneumatic assembly tools, and pneumatic power motors. Cleco’s tools enhance user productivity, safety, and comfort and are supported around the world.</p>
				<p>Cleco was founded in 1894 as Cleveland Pneumatic Tool Company in Cleveland, Ohio, USA. Cleco’s expertise is the culmination of 120 plus years of delivering assembly tools and systems for a wide range of applications in the automotive, energy, aerospace, and general industries.  For more information visit www.ClecoTools.com.</p>
				<p>Cleco® Power Tools is a brand of APEX Tool Group, LLC with head office in Sparks, Maryland. APEX Tool Group is one of the largest worldwide producers of industrial hand and power tools, tool storage, drill chucks, chain, and electronic soldering products (www.APEXToolGroup.com).</p>
			</div>
			<footer class="article-footer">
				<share-dropdown script="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53c03c197ed98539">
					<span class="share-toggle">
						<span class="share-toggle-icon">{{ svg('dist/img/icons/share.svg') }}</span>
						<span class="share-toggle-label">Share</span>
					</span>
				</share-dropdown>
				<a href="#" class="button button--secondary button--outline button--small button--simple">Download Press Kit</a>
			</footer>
		</article>
	</section>
</main>
