<main class="main">
  <section class="section">
    <h1>Breadcrumbs</h1>

    <h2>Top-Level Page</h2>

    <p>
      <nav class="breadcrumbs">
        <a href="/" class="breadcrumb breadcrumb--home">Home</a>
        <a href="/" class="breadcrumb breadcrumb--current">Cleco News + Media</a>
      </nav>
    </p>

    <h2>One Level Deep</h2>
    <p>
      <nav class="breadcrumbs">
        <a href="/" class="breadcrumb breadcrumb--home">Home</a>
        <a href="/" class="breadcrumb">Cleco News + Media</a>
        <a href="/" class="breadcrumb breadcrumb--current">Some Second Level</a>
      </nav>
    </p>

    <h2>Two Levels Deep</h2>
    <p>
      <nav class="breadcrumbs">
        <a href="/" class="breadcrumb breadcrumb--home">Home</a>
        <a href="/" class="breadcrumb">Cleco News + Media</a>
        <a href="/" class="breadcrumb">Some Second Level</a>
        <a href="/" class="breadcrumb breadcrumb--current">Cleco® TULMan Electronic Counter Serves as Universal Tool to Monitor and Maintain Pneumatic Devices</a>
      </nav>
    </p>

    <h2>Long Intermediate Level</h2>
    <p>
      <nav class="breadcrumbs">
        <a href="/" class="breadcrumb breadcrumb--home">Home</a>
        <a href="/" class="breadcrumb">Cleco News + Media</a>
        <a href="/" class="breadcrumb">Cleco® TULMan Electronic Counter Serves as Universal Tool to Monitor and Maintain Pneumatic Devices</a>
        <a href="/" class="breadcrumb breadcrumb--current">Current Page</a>
      </nav>
    </p>
  </section>
</main>
