<main class="main">
  <section class="section">
    <h1>Tabs</h1>

    <ul class="tabs">
      <li class="tabs-item"><a href="#" class="tab tab--active">{{ 'Model Specification' | t }}</a></li>
      <li class="tabs-item">
        <button type="button" class="tab">Product Details</button>
      </li>
      <li class="tabs-item"><a href="#" class="tab">Downloads</a></li>
    </ul>

    <br>

    <ul class="tabs">
      <li class="tabs-item">
        <button type="button" class="tab">A longer tab whose content may need to wrap on smaller viewports</button>
      </li>
      <li class="tabs-item"><a href="#" class="tab tab--disabled">Disabled Hyperlink</a></li>
      <li class="tabs-item">
        <button type="button" class="tab" disabled>Button</button>
      </li>
    </ul>
  </section>
</main>
