<main class="main">
  <section class="section">
    <h1>Badges</h1>

    <h2>Default</h2>

    <p><span class="badge">1</span> <span class="badge">2</span> <span class="badge">1,234</span>
      <span class="badge">Label</span></p>

    <h2>Primary</h2>

    <p><span class="badge badge--primary">1</span> <span class="badge badge--primary">2</span>
      <span class="badge badge--primary">1,234</span> <span class="badge badge--primary">Label</span></p>

    <div style="background: #000; color: #fff; padding: 1em;">
      <h2>Inverse</h2>

      <p><span class="badge badge--inverse">1</span> <span class="badge badge--inverse">2</span>
        <span class="badge badge--inverse">1,234</span> <span class="badge badge--inverse">Label</span></p>
    </div>
  </section>
</main>
