<figure class="media-feature">
	<a href="#" class="media-feature-link media-feature-link--video">
		<img src="https://placem.at/things?w=1400&h=800&txt=&random=video" class="media-feature-img">
	</a>
	<figcaption class="media-feature-caption">
		<p>See how we've changed the industry and provided world-class solutions for over 120 years.</p>
	</figcaption>
</figure>

<figure class="media-feature">
	<img src="https://placem.at/things?w=1400&h=800&txt=&random=image" class="media-feature-img">
	<figcaption class="media-feature-caption">
		<p>See how we've changed the industry and provided world-class solutions for over 120 years.</p>
	</figcaption>
</figure>
