<main class="main">
  <section class="section">
    <h1>Default</h1>
    <accordion title="Accordion Title">
      <h4>Some Heading</h4>
      <p>Some brief snippet.</p>
      <ul>
        <li>Item 1</li>
        <li>A longer item</li>
        <li>Lorem ipsum dolor porta sem magna</li>
      </ul>
    </accordion>
  </section>
  <section class="section">
    <h1>Open By Default</h1>
    <accordion title="Accordion Title" :active="true">
      <h4>Some Heading</h4>
      <p>Some brief snippet.</p>
      <ul>
        <li>Item 1</li>
        <li>A longer item</li>
        <li>Lorem ipsum dolor porta sem magna</li>
      </ul>
    </accordion>
  </section>
</main>
