<main class="main">
  <section class="section">
    <h1>Info</h1>
    <div class="notice notice--info">
      <p>Donec id elit non mi porta gravida at eget metus.</p>
    </div>
    <div class="notice notice--info">
      <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta sem malesuada magna mollis euismod. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
    </div>
    <div class="notice notice--info">
      <h4>Some Heading</h4>
      <p>Some brief snippet.</p>
      <ul>
        <li>Item 1</li>
        <li>A longer item</li>
        <li>Lorem ipsum dolor porta sem magna</li>
      </ul>
    </div>

    <h1>Error</h1>
    <div class="notice notice--error">
      <p>Donec id elit non mi porta gravida at eget metus.</p>
    </div>
    <div class="notice notice--error">
      <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta sem malesuada magna mollis euismod. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
    </div>
    <div class="notice notice--error">
      <h4>Some Heading</h4>
      <p>Some brief snippet.</p>
      <ul>
        <li>Item 1</li>
        <li>A longer item</li>
        <li>Lorem ipsum dolor porta sem magna</li>
      </ul>
    </div>

    <h1>Success</h1>
    <div class="notice notice--success">
      <p>Donec id elit non mi porta gravida at eget metus.</p>
    </div>
    <div class="notice notice--success">
      <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta sem malesuada magna mollis euismod. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
    </div>
    <div class="notice notice--success">
      <h4>Some Heading</h4>
      <p>Some brief snippet.</p>
      <ul>
        <li>Item 1</li>
        <li>A longer item</li>
        <li>Lorem ipsum dolor porta sem magna</li>
      </ul>
    </div>
  </section>
</main>
