<main class="main">
  <section class="section">
    <h1>Links</h1>

    <p>
      <a href="#">Undecorated Hyperlink</a> (Intentionally not the medium weight)
    </p>
    <p>
      <a href="#" class="a">Hyperlink with .a</a>
    </p>

    <h2>Defaults</h2>
    <p>
      <button type="submit" class="a">Submit Button</button>
    </p>
    <p>
      <button type="reset" class="a">Reset Button</button>
    </p>
    <p>
      <button type="button" class="a">Button Button</button>
    </p>

    <h2>Small Size</h2>

    <p>
      <a href="#" class="a--small">Undecorated Hyperlink</a> (Small, but not medium weight)
    </p>
    <p>
      <a href="#" class="a a--small">Hyperlink with .a</a>
    </p>
    <p>
      <button type="submit" class="a a--small">Submit Button</button>
    </p>
    <p>
      <button type="reset" class="a a--small">Reset Button</button>
    </p>
    <p>
      <button type="button" class="a a--small">Button Button</button>
    </p>

  </section>
</main>
