<main class="main">
  <section class="section">
    <h1>Straps</h1>
    <h2>Default</h2>
  </section>
  <div class="strap">
    <div class="strap-content">
      <div class="strap-block">
        <header class="strap-header">
          <h2 class="strap-title">Search Downloads</h2>
          <p class="strap-subtitle">Know what you’re looking for? Enter a product name or model number in the box below to find what you need.</p>
        </header>

        <form class="form-bar">
          <div class="form-bar-item">
            <input type="search" placeholder="Name or model number">
          </div>
          <div class="form-bar-item">
            <button type="submit" class="button button--primary button--simple">Search</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <section class="section">
    <h2>Centered</h2>
  </section>
  <div class="strap strap--centered">
    <div class="strap-content">
      <div class="strap-block">
        <header class="strap-header">
          <h2 class="strap-title">Product Search</h2>
          <p class="strap-subtitle">Know what you’re looking for? Enter a product name or model number in the box below to find what you need.</p>
        </header>

        <form class="form-bar form-bar--centered">
          <div class="form-bar-item">
            <input type="search" placeholder="Name or model number">
          </div>
          <div class="form-bar-item">
            <button type="submit" class="button button--primary button--simple">Search</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <section class="section">
    <h2>Multiple Blocks, Notched</h2>
  </section>
  <div class="strap">
    <div class="strap-content">
      <div class="strap-block">
        <header class="strap-header">
          <h2 class="strap-title">Search Downloads</h2>
        </header>

        <form class="form-bar">
          <div class="form-bar-item">
            <input type="search" placeholder="Name or model number">
          </div>
          <div class="form-bar-item">
            <button type="submit" class="button button--primary button--simple">Search</button>
          </div>
        </form>
      </div>
      <div class="strap-block strap-block--brand strap-block--notched">
        <p class="h2">Looking for catalogs, brochures, manuals, parts list or other product support information for current models?</p>
        <p>Enter the name and model number for your tool and we’ll see what we can find! If you’re having trouble finding something, please contact us, for assistance.</p>
      </div>
    </div>
  </div>
</main>
