@import "variables";
@import "helpers";
@import "mixins";

/**
 * Redactor Plugin
 */
body .redactor-styles {
  @import "base/links";
}

/**
 * Super Table Plugin
 */
body .superTable-table {
   box-shadow: none;
   border: 1px solid rgba(0, 0, 20, 0.1);
}

body .superTableRow .rowHeader .heading-text {
   display: flex;
   justify-content: center;
   flex-direction: column;
}

body .matrixblock > .fields > .field {
    margin-top: 15px !important;
}

/**
 * Link Plugin
 */
body .select:not(.selectize) select {
    box-shadow: none;
}

/**
 * Core Model
 * Remove the quick "Add New" buttons
 * Ensure button is available for asset uploads
 */
.modal .btn.add { display: none; }
.modal .btn.add[data-icon="upload"] { display: block; }


/**
 * Login Screen
 */
body.login {

  // Option 1

  // background-image: url(/assets/admin/maxresdefault.jpg);
  // background-size: cover;
  // background-repeat:  no-repeat;

  // &::before {

  //    content: '';
  //    position: absolute;
  //    background: rgba(0,0,0,0.6);
  //    width: 100%;
  //    height: 100%;
  // }

  #login-form {

    // background-image: url(/assets/admin/clecotools-logo.svg) !important;
    // background-repeat:  no-repeat;
    // background-position: 50% 20px;
    // background-color: #fbfbfb;
    // padding: 130px 30px 30px 30px !important;
    // box-shadow: 10px 10px 80px rgba(0,0,0,0.07);
    // margin-left: -180px;
    // border-radius: 5px;

    // input.text {

    //    border-top: 0;
    //    border-left: 0;
    //    border-right: 0;
    //    background: transparent;
    //    border-radius: 0;
    // }
  }

  #poweredby {
    display: none;
  }
}
