// -----------------------------------------------------------------------------
// Abstracts/Mixin: Button Styles
// Base button style mixin
// @include btn-base(), @include btn(primary, secondary)
// -----------------------------------------------------------------------------

// Base button styles
@mixin btn-base($style: primary) {
  background-color: $primary-orange;
  border: 0 !important;
  color: $black;
  display: inline-block;
  font-family: $font-brand !important;
  font-weight: $fw-bold;
  letter-spacing: 0.03rem;
  line-height: 1 !important;
  text-align: center;
  padding: 1rem .85rem .85rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: $transition-base;
  white-space: nowrap;

  @include media('>md') {
    line-height: 1.625 !important;
    padding: 1rem 3.5rem .85rem;
  }

  @if $style == primary {
    @include on-event {
      color: $primary-orange;
      background-color: $black;
    }
  }
}

// Apply the button style and hover target
@mixin btn($style: primary) {
  @if $style == primary {
    @include btn-base();
  } @else if $style == secondary {
    @include icon(tertiary-link, after, true);
    align-items: center;
    background-color: transparent;
    border: 0;
    color: $black;
    display: flex;
    font-family: $font-brand;
    font-weight: $fw-regular;
    padding: 3.75rem 0 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: $transition-base;
    white-space: nowrap;

    &:after {
      font-size: rem(20px);
      margin-left: 1rem;
    }

    @include on-event {
      color: $primary-orange;
    }

    @include media('<sm') {
      padding: 1rem 0;

      &:after {
        margin-left: .5rem;
      }
    }
  }
}
