<div class="media-center-type__image">
  {{ fields.field_media_image.content }}
</div>

<h4 class="media-center-type__title">
  {{ fields.title.content }}
</h4>

<span class="media-center-type__date">
  {{ fields.field_date.content }}
</span>
