<div class="feature-top">
	{{ fields.field_video.content }}
</div>
<div class="feature-desc">
	<h3>{{ fields.title.content }}</h3>
	{{ fields.field_listing_text_for_video.content }}
	{{ fields.field_read_more.content }}
</div>
