@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Region: Footer
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * SASS Variables
 */
$footer-bp-desktop: '>=sm';
$footer-bp-tablet-landscape: '<=lg-plus';
$footer-bp-tablet-portrait: '<=md';
$footer-bp-mobile: '<sm';

/**
 * Region
 */
.region-footer {
  @include container-full-width();

  margin-top: 5em;

  .region-footer__inner-container {
    display: grid;
  }

  .region-footer-first {
    @include container($margin: 0);
    color: $secondary-light;

    a {
      @include link(light, hover);

      &:hover {
        cursor: pointer;
      }
    }
  }

  .block-footer-navigation-block__nav {
    @include flex;
    @include flex-x(flex-direction, column);

    .block-footer-navigation-block__header {
      padding: 0 0 2.75rem;

      .block-footer-navigation-block__footer-logo {
        max-width: 16rem;
        width: 100%;

        svg {
          height: 3rem;
        }
      }
    }

    .block-footer-navigation-block__content {
      @include flex;

      .block-footer-navigation-block__footer-address p {
        font-size: rem(12px);
        margin: 0.5rem 0 0;

        &:last-of-type {
          margin: 1rem 0;
          text-decoration: underline;
        }
      }

      .block-footer-navigation-block__footer-copyright {
        margin-top: rem(10px);
        font-size: rem(14px);
      }

      @include media('>lg-plus') {
        .block-footer-navigation-block__footer-address-social-menu-container {
          max-width: rem(180px);
        }
      }
    }
  }

  .menu {
    margin: 0;
    padding: 0;

    &.menu--social {
      @include flex;
      @include flex-x(flex-direction, row);
      @include flex-x(flex-wrap, wrap);

      .menu-item:not(:last-of-type) {
        margin-right: rem(20px);
      }

      @include media('>lg-plus') {
        max-width: unset;
      }
    }

    .menu-item--visually-hide-title > span {
      @include visually-hidden;
    }

    .menu-item__link--icon-only {
      box-sizing: border-box;
      display: block;
      height: 1rem;
      line-height: 1;
      position: relative;
      text-indent: -9999px;
      width: 1rem;

      &::before {
        @extend %icon;

        display: inline-block;
        height: 1rem;
        left: 0;
        position: absolute;
        text-indent: 0;
        top: 0;
        width: 1rem;
      }
    }
  }

  .menu-item {
    list-style: none;
    margin: 0.5rem 0;
    padding-top: 0;
  }

  .block-footer-navigation-block__footer-menu-wrapper {
    flex: 1;
  }

  .menu--footer {
    display: grid;
    width: 100%;

    li {
      padding-right: .5rem;
    }

    li,
    li a {
      font-family: $font-brand;
      font-size: rem(14px);
      text-transform: uppercase;

      &.menu-item__link--depth-0 {
        font-size: 1.15rem;
        font-weight: 800;
      }
    }

    .menu-item--depth-1 {
      a {
        font-size: 0.75rem;
        font-weight: 500;
      }
    }
  }

  .region-footer-second {
    @include container($margin: 0);
    color: $black;

    a {
      @include link(dark, hover);
      text-decoration: underline;

      &:hover,
      &:focus,
      &:active,
      &.is-active {
        color: $gray-80;
      }
    }

    .region-footer-second__content {
      .block-webform-block__title {
        border-bottom: unset;
      }

      input,
      textarea,
      select {
        color: $gray-30;

        &::placeholder {
          color: $gray-30;
        }
      }

      input:not([type='submit']) {
        background: $black;
        border-color: $black;
      }

      .webform-button--submit {
        background-color: $black;
        border: 1px solid $black;
        color: $white;
        width: 100%;

        &:hover,
        &:focus {
          background-color: $gray-90;
          color: $white;
        }

        &:disabled {
          background-color: $gray-30;
          border-color: $gray-30;
          color: $black;
        }
      }

    }
  }

  #block-webform--2 {
    margin-top: -.625rem;

    .block-webform-block__title {
      padding-bottom: 0;
      padding-top: 0.625rem;
    }

    @media (min-width: 1009px) and (max-width: 1150px) {
      margin-top: 6rem;
    }
  }
}

@include media($footer-bp-desktop) {
  .region-footer {
    background: linear-gradient(to right, $black 50%, $primary-orange 50%);

    .region-footer__inner-container {
      @include container();
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .region-footer-first {
      position: relative;
      z-index: 0;

      // Performance Device
      &::after {
        background-color: $black;
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        right: -14%;
        z-index: -1;
        transform: skew(-14deg);
      }
    }

    .region-footer-first__content {
      padding: 3.75rem 0;
    }

    .region-footer-second__content {
      padding: 3.75rem 0 3.75rem 10rem;
    }

    .block-footer-navigation-block__nav {
      .block-footer-navigation-block__content {
        @include flex-x(flex-direction, row);
      }
    }

    .menu--footer {
      grid-template-columns: 1fr 1.25fr 1fr;
      margin: 0;
      padding: 0 0 0 3rem;
    }
  }
}

@media (min-width: 1009px) and (max-width: 1150px) {
  .region-footer {
    .region-footer-second__content {
      padding: 3.75rem 0 3.75rem 8rem;
    }

    .block-footer-navigation-block__nav {
      .block-footer-navigation-block__content {
        @include flex-x(flex-direction, column-reverse);
      }
    }
  }
}

@include media('<1150px') {
  .region-footer {
    .region-footer__inner-container {
      grid-template-columns: 55% 45%;
    }

    .menu--footer {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (min-width: 1009px) and (max-width: 1150px) {
  .region-footer {
    .region-footer__inner-container {
      .menu--footer {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0;
      }
    }
  }
}

@include media($footer-bp-tablet-landscape) {

  .region-footer {
    .region-footer__inner-container {
      @include container-full-width();
      grid-template-columns: 1fr;

      .region-footer-first {
        @include container-full-width();
        background-color: $black;
        padding: 0 2rem;
        order: 2;

        &::after {
          content: none;
        }
      }

      .region-footer-second {
        @include container-full-width();
        background-color: $primary-orange;
        padding: 0 2rem;
        order: 1;
      }
    }

    .region-footer-first__content,
    .region-footer-second__content {
      padding: 3rem 0;
    }

    .block-footer-navigation-block__nav {
      .block-footer-navigation-block__content {
        @include flex-x(flex-direction, column);

        .block-footer-navigation-block__footer-address-social-menu-container {
          @include flex;
          @include flex-x(flex-direction, column);

          order: 2;

          .block-footer-navigation-block__footer-address {
            order: 2;
          }

          .block-footer-navigation-block__footer-social-menu-wrapper {
            order: 1;
          }

          .block-footer-navigation-block__footer-copyright {
            order: 3;
          }
        }

        .block-footer-navigation-block__footer-menu-wrapper {
          order: 1;
        }
      }
    }

    .menu--footer {
      grid-template-columns: 1fr 1.25fr 1fr;
      padding: 0;
    }
  }
}

@include media($footer-bp-tablet-portrait) {

  .region-footer {
    .menu--footer {
      grid-template-columns: 1fr;
    }
  }
}

