.block-torque-conversion-calculator .block-torque-conversion-calculator__form-wrapper,
.block-torque-conversion-calculator .block-torque-conversion-calculator__results-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  -webkit-column-gap: 1.5rem;
  -moz-column-gap: 1.5rem;
  column-gap: 1.5rem;
  row-gap: 1.5rem;
}

@media (min-width: 48em) {
  .block-torque-conversion-calculator .block-torque-conversion-calculator__form-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .block-torque-conversion-calculator .block-torque-conversion-calculator__results-wrapper {
    grid-template-columns: 1fr 2fr;
  }
}

@media (min-width: 61.25em) {
  .block-torque-conversion-calculator .block-torque-conversion-calculator__form-wrapper {
    max-width: 50%;
  }
}

.block-torque-conversion-calculator .block-torque-conversion-calculator__form-input-heading {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.block-torque-conversion-calculator .block-torque-conversion-calculator__form-input-heading p {
  margin: 0;
}

.block-torque-conversion-calculator .block-torque-conversion-calculator__form-input {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

@media (min-width: 48em) {
  .block-torque-conversion-calculator .block-torque-conversion-calculator__form-input {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
}

.block-torque-conversion-calculator .block-torque-conversion-calculator__form-measure-heading {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
}

.block-torque-conversion-calculator .block-torque-conversion-calculator__form-measure-heading p {
  margin: 0;
}

@media (min-width: 48em) {
  .block-torque-conversion-calculator .block-torque-conversion-calculator__form-measure-heading {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
}

.block-torque-conversion-calculator .block-torque-conversion-calculator__form-measure {
  -webkit-box-ordinal-group: 5;
  -ms-flex-order: 4;
  order: 4;
}

.block-torque-conversion-calculator .block-torque-conversion-calculator__form-buttons {
  -webkit-box-ordinal-group: 6;
  -ms-flex-order: 5;
  order: 5;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: 1;
  -webkit-column-gap: 1.5rem;
  -moz-column-gap: 1.5rem;
  column-gap: 1.5rem;
}

@media (min-width: 48em) {
  .block-torque-conversion-calculator .block-torque-conversion-calculator__form-buttons {
    max-width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1/3;
  }
}

.block-torque-conversion-calculator .block-torque-conversion-calculator__results table p {
  margin: 0;
  padding: 1.25rem 0;
}

.block-torque-conversion-calculator .block-torque-conversion-calculator__results table tbody tr td:last-of-type {
  padding: 0 1.5625rem;
}

.block-torque-conversion-calculator .block-torque-conversion-calculator__results table tbody tr td input[type='text'] {
  border: 0;
}

.block-torque-conversion-calculator .block-torque-conversion-calculator__results table tbody th:nth-of-type(odd) {
  border-right: 1px solid;
}

.block-torque-conversion-calculator .block-torque-conversion-calculator__results-copy h3 {
  margin-top: 0;
}

.block-torque-conversion-calculator .block-torque-conversion-calculator__results-copy p:last-of-type {
  margin-bottom: 0;
}
