<a class="checkable-card" href="#id-{{ fields.nid.content|render|trim|striptags|replace({'\n': '', '\r': '' }) }}">
  <div class="checkable-card-icon">
    {{ fields.field_image.content }}
  </div>
  <div class="checkable-card-label">
    {{ fields.title.content }}
  </div>
</a>
