<div class="checkable-cards-item">
  <div class="checkable-card">
    <div class="checkable-card-icon">
      {{ fields.title.content }}
    </div>
    <div class="checkable-card-label">
      {{ fields.field_image.content }}
    </div>
  </div>
</div>
