.user-pass,
.user-register-form,
.user-login-form {
    max-width: 24em;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    background: $color-accent-bg;
    border-radius: 0.25em;

    .button.form-submit {
        min-width: 10rem;
    }
}
