{# @todo need figure out way to get pure values instead of all the additional keys, hence the #id conditional #}
{% set featured_products = [] %}
{% set product_title_overrides = [] %}
{% set product_url_overrides = [] %}
{% for key,product in content.field_featured_product  %}
     {% if product['#paragraph'] is defined %}
        {% set featured_products = featured_products|merge([product['#paragraph'].field_product.entity]) %}
        {% set product_title_overrides = product_title_overrides|merge([product['#paragraph'].field_title.value]) %}
       {% set product_url_overrides = product_url_overrides|merge([product['#paragraph'].field_link.value]) %}
    {% endif %}
{% endfor %}

{% if featured_products is not empty %}
    <section class="section main">
    	<header class="section-header">
    		<h2 class="section-title">{{ content.field_title[0]['#context']['value'] | raw }}</h2>
    	</header>
        <div class="section-main">
            <ul class="listings">
              {% set locale  = get_locale() %}
              {% set alias   = alias_by_path('/tools/tool-catalog', locale.code) %}
              {% set baseUrl = locale.path ~ alias ~ '/' %}

              {% for index, item in featured_products %}

                {% set name = item.field_long_description.value %}
                {% if not name %}
                  {% set name = item.title.value %}
                {% endif %}
                {% if product_title_overrides[index] %}
                  {% set name = product_title_overrides[index] %}
                {% endif %}

                {% if product_title_overrides[index] %}
                  {% set body = null %}
                {% else %}
                  {% set body = item.field_features_copy.value %}
                  {% if not body %}
                    {% set body = item.body.value %}
                  {% endif %}
                {% endif %}

                {% set url  = baseUrl ~ item.field_slug.value %}
                {% if product_url_overrides[index] %}
                  {% set url = product_url_overrides[index] %}
                {% endif %}

                {% set img = item.field_360_image.0.entity.field_360_loading_image|file_uri|image_style('product_thumb') %}
                {% if not img %}
                  {% set img = item.field_media|file_uri|image_style('product_thumb') %}
                {% endif %}

    				<li class="listings-item">
    					{% include '@atg/patterns/listing.html.twig' with {
    						url: locale.path ~ url,
    						title: name,
    						body: body,
                image: img,
    					} %}
    				</li>
                {% endfor %}
			</ul>
        </div>
    </section>
{% endif %}
