<div class="main">
  <div class="callout callout--centered callout--bordered">
    <div class="callout-content">
      <div class="callout-block callout-block--body">
        <p class="callout-action">
        <a href="{{ content.field_body_plain }}" target="_blank" class="action action--primary">{{ content.field_title[0]['#context']['value'] | raw }}</a>
        </p>
      </div>
    </div>
  </div>
</div>
