<div class="main">
	<div class="media-block media-block--alt">
		<div class="media-block-media">
			{{ content.field_media_src }}
		</div>
		<div class="media-block-content">
			{{ content.field_content_bundle }}
		</div>
	</div>
</div>
