{% set passed_attributes = get_passed_attributes({ class: ['button', 'button--primary']}) %}
{% set attributes = create_attribute(passed_attributes) | without('href', 'target') %}
<a href="{{ elements.field_cta_url[0]['#url'] }}" target="{{ elements.field_cta_target[0] }}"{{ attributes }}>{{ elements.field_cta_url[0]['#title'] }}</a>
