<div class="basic-card">
	<header class="basic-card-header">
		<h3 class="basic-card-title h2">{{ content.field_title }}</h3>
	</header>
	<div class="basic-card-body">
		{{ content.field_body_basic }}
	</div>
</div>
