<div class="testimonials-strap">
	<div class="testimonials-strap-image">
		{{ content.field_media_src }}
	</div>
	<div class="testimonials-strap-content">
		<testimonials>
			{{ elements.field_testimonials }}
		</testimonials>
	</div>
</div>
