// -----------------------------------------------------------------------------
// Abstracts/Variables: Colors
// Global colors and color map
// -----------------------------------------------------------------------------

//Old
$color-white: #FFFFFF;
$color-lightest-grey: #EEEEEE;
$color-light-grey: #DDDDDD;
$color-grey: #999999;
$color-dark-grey: #333333;
$color-black: #000000;
$color-blue: #0080FF;
$color-dark-blue: #0055A9;

// Primary - Red
$primary-red: #CA3604;
$primary-dark: #A02A03;
$primary-dark2: #8C2503;
$primary-light: #DF663D;

// Secondary
$secondary-black: #272525;
$secondary-light: #3C3C3E;

// Status Colors
$success-green: #9BC53D;
$danger-red: #F16F43;
$warning-yellow: #FDE74C;
$info-blue: #5BC0EB;

// Grays
$gray-10: #F5F4F4;
$gray-20: #E1DFDF;
$gray-30: #D7D5D5;
$gray-40: #CECACA;
$gray-50: #B0ABAB;
$gray-60: #9C9696;
$gray-70: #7E7777;
$gray-80: #5F5959;
$gray-90: #3F3B3B;

// Black & White
$white: #FFFFFF;
$black: #000000;

// Typography
$type-dark: #272525;
$type-light: #FFFFFF;


$colors: (
  'primary': $primary-red,
  'primary-dark': $primary-dark,
  'primary-dark2': $primary-dark2,
  'primary-light': $primary-light,
  'secondary-black': $secondary-black,
  'secondary-light': $secondary-light,
  'success-green': $success-green,
  'danger-red': $danger-red,
  'warning-yellow': $warning-yellow,
  'info-blue': $info-blue,
  'gray-10': $gray-10,
  'gray-20': $gray-20,
  'gray-30': $gray-30,
  'gray-40': $gray-40,
  'gray-50': $gray-50,
  'gray-60': $gray-60,
  'gray-70': $gray-70,
  'gray-80': $gray-80,
  'gray-90': $gray-90,
  'white': $white,
  'black': $black,
  'type-dark': $type-dark,
  'type-light': $type-light,

  'light': $color-white,
  'dark': $color-black,
  //'white': $white,
  'light-grey': $color-light-grey,
  'grey': $color-grey,
  'dark-grey': $color-dark-grey,
  //'black': $color-black,
  'blue': $color-blue,
  'dark-blue': $color-dark-blue
) !default;
