// -----------------------------------------------------------------------------
// Abstracts/Variables: Font families
// Preferred and fallback font families
// -----------------------------------------------------------------------------

// Default: Body font family
$font-default: 'Inter', sans-serif !default;

// Brand: Heading font family
$font-brand: 'Industry', sans-serif !default;

// Mono: Mono spaced font family
$font-mono: 'Lucida Sans Typewriter', 'Lucida Console', 'monaco', 'Bitstream Vera Sans Mono', monospace !default;
