// -----------------------------------------------------------------------------
// Abstracts/Variables: Header
// Header-related settings to be used globally.
// -----------------------------------------------------------------------------

$header-padding: 1.5rem;
$header-padding-mobile: 1.5rem;
$header-logo-height: 2rem;
$header-logo-height-mobile: 1.25rem;

$header-height-large: $header-padding + $header-padding + $header-logo-height;
$header-height: $header-padding + $header-padding + $header-logo-height;
$header-height-mobile: $header-padding-mobile + $header-padding-mobile + $header-logo-height-mobile;
