<div class = "main">
  <section class="section solutions-cards-wrapper">
    <h2 class="section-title"><em>Sucessful</em> {{ node_title }} Solutions</h2>
    {{ drupal_view('successful_automative_solutions', 'case_study') }}
  </section>
</div>
