// Featured homepage.
.feature-top {
  img {
    width: 100%;
  }
}

.feature-desc {
  background: url('#{$image-base-path}/home_feature_desc.png') repeat-x scroll left top $pantone;
  background-color: $pantone;
  color: $white;
  font-size: 13px;
  padding: 15px 20px 15px 35px;
  min-height: 77px;

  h3 {
    font-size: 28px;
    font-family: $helvetica-bold;
    font-weight: $bold;
    margin: 0;
    color: inherit;
    letter-spacing: -0.05em;
    line-height: 33px;
    text-shadow: 0 0 4px $lighter-gray;
  }

  p {
    margin-bottom: 0;
    display: inline-block;
  }

  a {
    color: $white;
    font-weight: $bold;
    text-decoration: none;
  }
}

.view-homepage-news .views-row {
  font-size: 13px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px $gray;

  &:last-child {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .views-field-title {
    font-size: 14px;
    font-weight: $bold;
    letter-spacing: -0.03em;
    margin: 0;
  }

  .views-field-field-date {
    text-transform: uppercase;
    color: $lighter-gray;
    display: block;
  }

  a {
    color: $pantone;
    text-decoration: none;
  }
}

.col-sidebar {
  .homepage-sidebar-block {
    &:last-child {
      background: none;
      margin-bottom: 0;
    }
  }
}

.homepage-sidebar-block {
  background: url('#{$image-base-path}/siderbar_block_sep.png') center bottom no-repeat;
  display: block;
  padding-bottom: 20px;
  margin-bottom: 15px;

  .block-title,
  h2 {
    font-size: 28px;
    color: $light-black;
    font-weight: 400;
    letter-spacing: -0.03em;
    margin: 5px 0 10px;
    text-transform: uppercase;
    line-height: 28px;
    display: block;
    font-family: $helvetica-bold;
  }
}

.webform-submission-sign-up-form {
  input.form-email {
    width: 90%;
    margin-bottom: 3px;
  }

  .description {
    strong {
      display: block;
      font-size: 15px;
      font-weight: $bold;
      margin-bottom: 5px;
    }
  }

  .form-item,
  .form-actions {
    margin: 0;
  }
}

.block-capbell-video,
.block-campbell-strength,
.block-catalogs  {
  a {
    @media only screen and (max-width: $tablet) {
      text-align: center;
      display: block;
    }
  }
}

// Featured listing page.
.feature-list-wrap {
  .views-row {
    padding: 0 5px;
  }

  .feature-list {
    position: relative;
    display: block;
    color: $white;
    overflow: hidden;
    width: 240px;
    height: 240px;
    margin-bottom: 20px;

    &:hover {
      .overlay {
        background: none;
      }
    }

    @media only screen and (max-width: $tablet) {
      width: 100%;
      height: 300px;
    }

    @media only screen and (min-width: $tablet) and (max-width: $tablet-max) {
      width: 230px;
      height: 230px;
    }
  }

  .image {
    // width: 230px;
    // height: 230px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .overlay {
    background: linear-gradient(to top, $lighter-gray 0%, $pantone 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0.7;
  }

  .overlay-text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    padding: 10px;

    h3 {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      margin: 0;
      text-align: center;
      font-size: 18px;
      text-shadow: 0 0 3px $para, 0 0 3px $para;
    }

    .bottom-text {
      position: absolute;
      bottom: 10px;

      p {
        margin-bottom: 0;
        font-weight: $bold;
      }
    }
  }
}
