/****** colors ******/
$silver: #BBBBBB;
$gray: #CCCCCC;
$dim-gray: #737373;
$light-gray: #EEEEEE;
$dark-gray: #222222;
$black: #000000;
$nero: #161616;
$lighter-gray: #666666;
$white: #FFFFFF;
$pantone: #19975D;
$menu-hover: #384E53;

/****** fonts ******/
$arial: Arial, sans-serif;
$helvetica: Helvetica, sans-serif;

/****** font weight ******/
$light: light;
$bold: bold;
$normal: normal;

/****** base path ******/
$image-base-path: '../../campbell/images';
$icon-base-path: '../../campbell/icons';

/****** breakpoint ******/
$mobile: 359px;
$tablet: 767px;
$tablet-max: 959px;
$desktop: 1367px;
