.return-policy,
.warranty {

  #wrapper {
    position: relative;

    .block-addtothis-apex-custom,
    .block-page-title-block {
      width: 670px;
      margin: 0 calc((100% - 1000px)/2);

      @media only screen and(max-width: $tablet-max) {
        width: 455px;
        margin: 0;
        padding: 0 20px;
      }

      @media only screen and(max-width: $tablet) {
        width: 100%;
      }

      .page-title {
        margin: 15px 0 0;
      }

      .wrapper-content {
        width: 100%;
        padding: 0;
        max-width: 100%;
      }
    }

    .wrapper-content {
      .main-content {
        @media only screen and(max-width: $tablet) {
          margin: 0 0 20px;
        }

        .node__content {
          .field--name-body {
            p {
              margin: 19px 0;
              color: $light-black;
            }

            a {
              color: $pantone;
              text-decoration: underline;
              }
          }
        }
      }

      .sidebar-second {
        padding: 10px 30px;
        margin: -100px 0 30px;
        @media only screen and(max-width: $desktop) {
          margin: -80px 0 25px;
          padding: 10px 25px;
        }

        @media only screen and(max-width: $tablet-max) {
          margin: -60px 0 20px;
          padding: 10px 20px;
        }

        @media only screen and(max-width: $tablet) {
          margin: 0 0 20px;
          padding: 10px 15px;
        }

        .block-fixed-block-contentcontact-campbell {
          padding: 0;

          .field--name-body {
            a {
              color: $pantone;
              text-decoration: underline;
            }

            h5,
            h3 {
              margin: 0;
              color: $black;
              font-size: 17px;
              font-weight: 700;
            }

            h3 {
              margin: 0 0 35px;
            }

            p {
              margin: 5px 0;

              strong {
                margin: 0;
                padding: 0;
                font-size: 15px;
                color: $lighter-gray;
              }
            }
          }
        }

        .underline {
          margin: 0 0 15px !important;
          padding: 0 0 30px;
          background: url('#{$image-base-path}/contactus_right_block_sep.png') left bottom no-repeat !important;
        }
      }
    }
  }
}

#block-contactcampbell {
  h4 {
    font-size: 16.94px;
    color: $black;
    font-weight: bold;
    margin-bottom: 5px;
  }
}
