.form-submit,
.btn,
.btn-primary {
  font-size: 12px;
  min-width: 115px;
  display: block;
  min-height: 29px;
  padding: 6px 5px;
  text-decoration: none;
  font-weight: bold;
  width: auto;
  background: $pantone;
  border-radius: 8px;
  border: solid 1px $pantone;
  color: $white;

  &:hover,
  &:focus,
  &:focus-visible {
    color: $black;
    border: solid 1px $pantone;
  }
}
