input,
select,
textarea {
  width: 100%;
  border: 1px solid $black;
  border-radius: 5px;
  padding: 6px 5px;
  background: $white;
  color: $black;

  &::placeholder {
    padding: 0 10px;
    color: $black;
  }
}
