/****** colors ******/
$white: #FFFFFF;
$black: #000000;
$red: #CC0000;
$pantone: #19975D;

/**
 * INPUTS
 */
$input-height: 3.125rem;
$input-height-small: 2.25rem;

/****** fonts ******/
$arial: Arial, sans-serif;
$helvetica: 'Helvetica Neue', Helvetica, sans-serif;
$helvetica-bold: 'HelveticaNeue-CondensedBold', 'Helvetica Neue', Helvetica, sans-serif;
$helvetica-black: 'HelveticaNeue-CondensedBlack', 'Helvetica Neue', Helvetica, sans-serif;

/****** font weight ******/
$light: light;
$normal: normal;
$bold: bold;
$bolder: bolder;

/****** base path ******/
$image-base-path: '../../ecom/images';
$icon-base-path: '../../ecom/icons';

/****** breakpoint ******/
$mobile: 359px;
$mobile-sm: 576px;
$tablet: 766.9px;
$tablet-max: 959px;
$desktop: 1367px;
