@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/View: Product Category Grid
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * View
 */

.view-acquia-search,
.view-search {
  .views-element-container {
    grid-column: 1 / 4;

    @include media('>=md') {
      grid-column: 2 / 4;
    }

    .view-filters {
      display: none;
      visibility: hidden;
    }
  }

  .view-content {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: rem(25px); // sass-lint:disable-line no-misspelled-properties

    @include media('>=md') {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @include media('>=lg') {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
}

.block-views-blockacquia-search-block-1 {
  > .block__tile {
    @include type-header(h2, black, included);
  }
}
