@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Node: Teaser Product
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Component
 */
.node--type-product.node--view-mode-teaser {
  width: 25%;

  .node__inner {
    .node__content {
      box-shadow: 0 0 0 1px $gray-40;
      transition: $transition-base;

      @include media('<md') {
        box-shadow: none;
      }

      .node__listing-image {
        img {
          object-fit: cover;
          height: auto;
          width: 100%;
        }

        @include media('<md') {
          img {
            outline: 2px solid $primary-orange;
            outline-offset: -2px;
          }
        }
      }

      .node__content-container {
        padding: 1rem;
      }

      .node__long-description {
        min-height: rem(195px);

        @include media('<md') {
          min-height: rem(120px);
        }

        .field--name-field-long-description {
          @include type-header(h4, black, included);
          margin-top: 0;

          @include media('<md') {
            font-size:  rem(16px);
            line-height: rem(20px);
          }
        }
      }

      .node__sku {
        font-size: rem(14px);
        margin: 0;

        @include media('<md') {
          font-size: rem(12px);
        }
      }
    }

    .node__buy-now-button {
      box-sizing: border-box;
      box-shadow: 0 0 0 1px $primary-orange;
      transition: $transition-base;
      width: 100%;

      &:hover,
      &:focus {
        box-shadow: 0 0 0 2px $black;
        color: $primary-orange;
        background-color: $black;
      }
    }
  }

  @include on-event {
    .node__inner {
      box-shadow: 0 0 16px 5px rgba(0, 0, 0, 0.2);
      @include media('<md') {
        box-shadow: none;
      }

      .node__content {
        box-shadow: 0 0 0 2px $black;
        @include media('<md') {
          box-shadow: none;
        }
      }

      .node__buy-now-button {
        box-shadow: 0 1px 0 2px $black;
      }
    }
  }

}
