@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Node: Tile
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Component
 */

.node--view-mode-tile {
  .node__grid-image .field--name-field-media .media {
    picture {
      width: 100%;
      height: 100%;
      display: flex;
    }

    picture img {
      object-fit: cover;
      height: auto;
      width: 100%;
    }
  }

  .node__grid-title {
    font-size: rem(16px);
    width: 100%;
    background-color: transparent;
    padding: 1rem .85rem .85rem;
    white-space: normal;

    @include media('>=md') {
      font-size: rem(20px);
      padding: 1rem .75rem .85rem;
    }

  }

  @include on-event {
    .node__inner {
      box-shadow: 0 0 16px 5px rgba(0, 0, 0, 0.2);
      transition: $transition-base;

      @include media('<md') {
        box-shadow: none;
      }

      .node__product-category-grid-image,
      .node__grid-title {
        box-shadow: 0 0 0 2px $primary-orange;
        @include media('<md') {
          box-shadow: none;
        }
      }

      .node__grid-title {
        @include icon('chevron-right-black', after, false);
        background-color: $primary-orange;
        color: $black;

        &::after {
          font-size: rem(12px);
          padding-left: rem(5px);
        }
      }
    }
  }
}

