// -----------------------------------------------------------------------------
// Abstracts/Variables: Colors
// Global colors and color map
// -----------------------------------------------------------------------------

//Old
$color-white: #FFFFFF;
$color-lightest-grey: #EEEEEE;
$color-light-grey: #DDDDDD;
$color-grey: #999999;
$color-dark-grey: #333333;
$color-black: #000000;
$color-blue: #0080FF;
$color-dark-blue: #0055A9;
// Primary - Molten Orange
$primary-orange: #EB8900;
$primary-dark: #BB720B;
$primary-light: #FDBB5E;

// Secondary
$secondary-black: #1D201F;
$secondary-light: #BCBCBE;

// Status Colors
$success-green: #28A745;
$danger-red: #F64728;
$warning-yellow: #FFC107;
$info-blue: #3480EA;

// Grays
$gray-10: #F4F5F5;
$gray-20: #E9ECEB;
$gray-30: #D4D8D7;
$gray-40: #B4BBB9;
$gray-50: #949E9B;
$gray-60: #7E8B87;
$gray-70: #616B68;
$gray-80: #444B49;
$gray-90: #303634;

// Black & White
$white: #FFFFFF;
$black: #000000;

// Typography
$type-dark: #1D201F;
$type-light: #D4D8D7;


$colors: (
  'primary': $primary-orange,
  'primary-dark': $primary-dark,
  'primary-light': $primary-light,
  'secondary-black': $secondary-black,
  'secondary-light': $secondary-light,
  'success-green': $success-green,
  'danger-red': $danger-red,
  'warning-yellow': $warning-yellow,
  'info-blue': $info-blue,
  'gray-10': $gray-10,
  'gray-20': $gray-20,
  'gray-30': $gray-30,
  'gray-40': $gray-40,
  'gray-50': $gray-50,
  'gray-60': $gray-60,
  'gray-70': $gray-70,
  'gray-80': $gray-80,
  'gray-90': $gray-90,
  'white': $white,
  'black': $black,
  'type-dark': $type-dark,
  'type-light': $type-light,

  'light': $color-white,
  'dark': $color-black,
  //'white': $white,
  'light-grey': $color-light-grey,
  'grey': $color-grey,
  'dark-grey': $color-dark-grey,
  //'black': $color-black,
  'blue': $color-blue,
  'dark-blue': $color-dark-blue
) !default;
