@media (max-width: 349px) {
  .block-pricespider-generic-widget-block {
    left: calc(-50vw + 50%);
    max-width: none;
    position: relative;
    width: 100%;
    width: 100vw;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }
}
