// -----------------------------------------------------------------------------
// Block: Product: Buy Now Sticky
// -----------------------------------------------------------------------------

@import '../../globals';

.region-utility-area {
  ~ .region-pre-content .block-product-buy-now-sticky__content.show--with-nav {
    &.show--with-nav {
      top: 5.5rem !important;

      @media (min-width: 595px) and (max-width: 979px) {
        .user-logged-in & {
          top: 8rem !important;
        }
      }

      @media (min-width: 980px) and (max-width: 1154px) {
        .user-logged-in & {
          top: 10.5rem !important;
        }
      }

      @media (min-width: 1155px) {
        .user-logged-in & {
          top: 11.3rem !important;
        }

        .user-logged-in.toolbar-tray-open & {
          top: 10.5rem !important;
        }
      }

      @include media('>=xl') {
        top: 9.3rem !important;

        .user-logged-in.toolbar-tray-open & {
          top: 14.3rem !important;
        }
      }
    }
  }
}

.block-product-buy-now-sticky__content {
  @include container-full-width();

  position: fixed;
  top: -7rem;
  z-index: 500;

  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition: 0.25s;
  transition: 0.25s;

  &.show--no-nav {
    top: 1.7rem;

    @media (min-width: 595px) and (max-width: 1154px) {
      .user-logged-in & {
        top: 6.7rem;
      }
    }

    @media (min-width: 1155px) {
      .user-logged-in & {
        top: 4.2rem;
      }

      .user-logged-in.toolbar-tray-open & {
        top: 6.7rem;
      }
    }
  }

  &.show--with-nav {
    top: 5.5rem;

    @media (min-width: 595px) and (max-width: 979px) {
      .user-logged-in & {
        top: 8rem;
      }
    }

    @media (min-width: 980px) and (max-width: 1154px) {
      .user-logged-in & {
        top: 10.5rem;
      }
    }

    @media (min-width: 1155px) {
      .user-logged-in & {
        top: 7.9rem;
      }

      .user-logged-in.toolbar-tray-open & {
        top: 10.5rem;
      }
    }

    @include media('>=xl') {
      top: 6.8rem;

      .user-logged-in & {
        top: 9.2rem;
      }

      .user-logged-in.toolbar-tray-open & {
        top: 11.8rem;
      }
    }
  }

  .block--gw-product-buy-now-sticky {
    background-color: $primary-emerald;
    margin-top: -1.8rem;
    padding: 1rem 0;

    .block--gw-product-buy-now-sticky__inner-wrapper {
      @include container();
      @include flex();
      @include flex-x(flex-direction, row);

      align-items: center;
      justify-content: space-between;

      header {
        @include setfont();

        font-family: $font-brand;
        color: $white;
        font-size: rem(24px);
        font-weight: $fw-extra-bold;
        text-transform: uppercase;

        @include media('>=md') {
          font-size: rem(16px);
        }
      }

      .sku--mobile {
        display: none;
        height: 26px;

        @media (max-width: 767px) {
          display: block;
        }

        p {
          color: $white;
          font-weight: $fw-regular;
          font-size: rem(12px);
        }
      }

      footer {
        @include flex();
        @include flex-x(flex-direction, row);

        align-items: center;

        .sku {
          height: 26px;

          p {
            color: $white;
            font-weight: $fw-extra-bold;
            font-family: $font-brand;
          }

          &.sku--desktop {
            padding-right: 1rem;

            @media (max-width: 767px) {
              display: none;
            }
          }
        }

        .ps-widget {
          @include btn(solar);

          float: unset;

          &:hover {
            cursor: pointer;
          }

          &.ps-disabled {
            background-color: $gray-50;
            border-color: $gray-50 !important;

            > small {
              line-height: rem(26px);
              font-weight: $fw-extra-bold;
              font-family: $font-brand;
            }
          }

          @media (max-width: 767px) {
            min-width: 120px;
            padding-left: rem(5px);
            padding-right: rem(5px);
          }
        }
      }
    }
  }
}
