{#
/**
 * @file
 * Template for the wishlist share email.
 *
 * Available variables:
 * - wishlist_entity: The wishlist entity.
 * - wishlist_url: The wishlist url.
 *
 * @ingroup themeable
 */
#}
<div style="font-family: Verdana, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 12px; margin: 0px; padding: 0;">
{{ wishlist_header|render|raw }}
</div>

<p style="margin-top:0;">
  {% trans %}Check out my wishlist!{% endtrans %}
</p>

<p>
  {% trans %}I use my wishlist for keeping track of items I am interested in.{% endtrans %} <br>
  {% trans %}To see the list in the store and buy items from it, <a href="{{ wishlist_url }}">click here</a>.{% endtrans %}
</p>

<p>
  {% trans %}Thanks for having a look!{% endtrans %}
</p>

<div style="background: rgb(246, 246, 246); font-family: Verdana, Arial, Helvetica, sans-serif, serif, EmojiFont; font-size: 12px; margin-top:30px; padding: 0px;">
{{ footer|render|raw }}
</div>