<div class="breadcrumb-wrap">
	{{ page.breadcrumb }}
</div>
{{ page.header }}
<main class="main">
	<section class="section">
		<div class="article">
			{{ page.content }}
		</div>
	</section>
</main>
