/**
 * DEFAULT INPUTS
 * Styling for standard checkbox/radio inputs
 */
input[type='checkbox'],
input[type='radio'] {
  min-height: auto;
  height: auto;
}

/*
 * CORE STYLES
 * Base styles for styled checkboxes/radios
 */
%checkbox,
%radio,
.checkbox,
.radio {
  position: relative;
  display: flex;
  align-items: baseline;
  font-weight: normal;
  line-height: 1.2;
  color: $color-off-black;
  margin-bottom: 0.5em;
  overflow: hidden;
}

.checkbox-input,
.radio-input {
  position: absolute;
  top: 0;
  left: -999em;
}

/*
 * INDICATORS
 * Styles and positioning for checkable element indicators
 */
%checkbox-label,
%radio-label,
.checkbox-label,
.radio-label {
  position: relative;
  display: flex;
  align-items: baseline;
  padding-left: $checkable-input-size + 0.5rem;
  min-height: calc(#{$checkable-input-size} + 4px);
  min-width: calc(#{$checkable-input-size} + 2px);
  cursor: pointer;
  font-weight: normal;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: $checkable-input-size;
    height: $checkable-input-size;
    transition: 0.1s ease;
  }

  &::before {
    background: #fff;
    top: 1px;
    left: 0;
    border: 1px solid $input-border-color;
  }

  &::after {
    width: $checkable-input-size / 2;
    height: $checkable-input-size / 2;
    top: calc( #{$checkable-input-size} / 2 + 1px);
    left: $checkable-input-size / 2;
    background: $color-orange;
    transform: translate(-50%, -50%) scale(1);
  }
}

%radio-label,
.radio-label {
  &::before,
  &::after {
    border-radius: $checkable-input-size;
  }
}

/*
 * CHECKED STATE
 * Styles for the checked state of the inputs
 */

%checkbox-checked-label,
%radio-checked-label,
.checkbox-input:checked + .checkbox-label,
.radio-input:checked + .radio-label {
  &::before {
    border-color: $color-orange;
  }

  &::after {
    opacity: 1;
  }
}

%checkbox-unchecked-label,
%radio-unchecked-label,
.checkbox-input:not(:checked) + .checkbox-label,
.radio-input:not(:checked) + .radio-label {
  &::after {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
  }
}

/*
 * LABEL-LESS VARIANT
 * Styling for a label-less variant of checkable inputs
 */
.checkbox--labelless,
.radio--labelless {
  margin: 0;
  line-height: 1;

  .checkbox-label,
  .radio-label {
    padding-left: $checkable-input-size;
    min-width: $checkable-input-size;
    min-height: $checkable-input-size;

    &::before {
      top: 0;
    }

    &::after {
      top: ($checkable-input-size / 2);
    }
  }
}

/*
 * DISABLED STATE
 * Styling for disabled variant
 */
.checkbox-input,
.radio-input {
  &[disabled] {
    + .checkbox-label,
    + .radio-label {
      cursor: not-allowed;
      color: rgba($color-off-black, 0.5);

      &::before {
        background: $color-accent-bg;
      }
    }

    &:checked {
      + .checkbox-label,
      + .radio-label {
        &::before {
          border-color: $color-gray-light;
        }
      }
    }
  }
}

/*
 * FOCUSED STATE
 * Styling for focused variant
 */
.checkbox-input,
.radio-input {
  &:focus {
    + .checkbox-label,
    + .radio-label {
      &::before {
        border-color: $color-orange;
      }
    }

    &:checked {
      + .checkbox-label,
      + .radio-label {
        &::before {
          border-color: darken($color-orange, 10%);
        }
      }
    }
  }
}

/**
 * FAUX CHECKBOXES/RADIOS
 * Styles for simulating checkboxes/radio buttons on non-input elements
 */
.faux-checkbox,
.faux-radio {
  @include link-reset;
}

.faux-checkbox {
  @extend %checkbox;
  @extend %checkbox-label;

  &:not([aria-checked="true"]) {
    @extend %checkbox-unchecked-label;
  }

  &[aria-checked="true"] {
    @extend %checkbox-checked-label;
  }
}

.faux-radio {
  @extend %radio;
  @extend %radio-label;

  &:not([aria-checked="true"]) {
    @extend %radio-unchecked-label;
  }

  &[aria-checked="true"] {
    @extend %radio-checked-label;
  }
}
