fieldset {
  margin-bottom: 1em;
  border-top: 2px solid $color-gray-light;
  padding-top: 1em;
}

legend {
  font-weight: bold;
  font-stretch: condensed;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  padding-right: 1em;
}
