/**
 * POSITIONING ADJUSTMENTS FOR ICONS
 */
.icon--drill {
    transform: translate(-15%, 10%);
}

.icon--headset {
    transform: translateY(15%);
}

.icon--document-ribbon {
    transform: translate(-10%, 10%);
}

.icon--document-dollar-sign {
    transform: translate(-10%, 10%);
}

.icon--wrench-screwdriver {
    transform: translateY(10%);
}
