/**
 * GENERAL HYPERLINKS
 */
%a,
a,
.a {
  color: $color-orange;
  text-decoration: none;
  transition: 0.1s ease;

  &:hover {
    box-shadow: 0 1px 0 0 currentColor;
  }
}

/**
 * NON-A RESET
 * Reset properties for when applying anchor styling to non-anchor elements.
 * Note: Undecorated <a> tags intentionally won't get the font-weight set here.
 */
%a,
.a {
  appearance: none;
  padding: 0;
  border: 0;
  border-radius: 0;
  background: transparent;
  font-family: inherit;
  font-weight: 500;
  font-style: normal;
  font-size: inherit;
  cursor: pointer;
}

/**
 * SMALL VARIANT
 */
%a--small,
.a--small {
  font-size: 0.875em;
}

/**
 * SUBTLE
 */
%a--subtle,
.a--subtle {
  color: inherit;
  font-weight: normal;

  svg {
    height: 0.75em;
  }
}
