/*
 * TABLES BASE
 * Base styles for overall table.
 */
table {
  background: #fff;
  border-collapse: collapse;
  margin-bottom: 1em;
  box-shadow: inset 0 0 0 1px rgba($color-gray-light, 0.5);
}

/*
 * CELLS
 * Base styles for table cells
 */
th,
td {
  border-top: 1px solid rgba($color-gray-light, 0.5);
  border-bottom: 1px solid rgba($color-gray-light, 0.5);
  padding: 0.75rem;
}

/**
 * HEADER/FOOTER
 */
thead th,
thead td,
tfoot th,
tfoot td,
tbody th {
  font-weight: bold;
  font-stretch: condensed;
  text-transform: uppercase;
  font-size: 0.8125rem;
  letter-spacing: 0.054375em;
  text-align: left;

  em {
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    text-transform: none;
  }
}

/*
 * TABLE HEADER
 * Styles for table header.
 */
thead {
  background: $color-off-black;
  color: #fff;

  th,
  td {
    border-top-color: $color-off-black;
    border-bottom-color: $color-off-black;
  }

  tr:not(:first-child) {
    th,
    td {
      font-weight: normal;
      font-stretch: normal;
      text-transform: none;
      padding-top: 0;
    }
  }

  th[colspan] {
    padding-bottom: 0;
  }

  th {
    padding: 0.75em;
  }
}

/*
 * TABLE BODY
 * Styles for table body.
 */
tbody {
  th {
    color: $color-off-black;
  }

  td {
    padding: 0.75em;
  }
}

/*
* TABLE FOOTER
 */
tfoot {
  background: $color-gray-light;

  th,
  td {
    font-family: inherit;
  }
}
