/**
 * WYSIWYG CONTENT
 * Styling for generic text elements whose styles are reset
 */
%wysiwyg-content,
.wysiwyg-content {

  @include clearfix;
  /**
   * LINKS
   */
  a,
  .a {
    @include force-wrapping;
  }

  /**
   * LISTS
   */
  ul,
  ol,
  dl {
    margin-bottom: 1em;

    ul,
    ol,
    dl {
      margin-bottom: 0;
    }
  }

  /**
   * UNORDERED LIST
   */
  ul {
    padding-left: 1em;
    list-style: disc;
  }

  /**
   * ORDERED LIST
   */
  ol {
    padding-left: 1.5em;
    list-style: decimal;
  }

  /**
   * DESCRIPTION LIST
   */
  dt {
    font-weight: bold;
    font-stretch: condensed;
    text-transform: uppercase;
    letter-spacing: 0.0625em;
    margin-bottom: 0.5em;
  }

  dd {
    margin-bottom: 1em;
  }

  /**
   * BLOCKQUOTE
   */
  blockquote {
    position: relative;
    z-index: 0;
    padding: fluid-value(1rem, 2rem, 20rem, 87.5rem);
    background: $color-accent-bg;
    border-radius: 0.125em;
    margin: 1em 0;

    &::before,
    &::after {
      position: absolute;
      color: $color-gray;
      font-size: 5rem;
      font-family: Georgia, serif;
      font-weight: normal;
      line-height: 1;
    }

    &::before {
      content: "“";
      top: 0;
      left: 0;
      transform: translate(-50%);
    }

    &::after {
      content: "”";
      bottom: 0;
      right: 0;
      transform: translate(50%, 50%);
    }

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }
}
