@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Contrib Overrides/Bazaarvoice: Modifications
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Review Rating Snapshot
 */

.bv-cv2-cleanslate {
  .bv-inline-histogram-ratings-star {
    .bv-glyph {
      color: $primary-red !important;
    }
  }

  .bv-content-placeholder {
    .bv-write-review-label {
      @include icon(tertiary-link, after, true);
      display: flex !important;
      align-items: center;

      &::after {
        margin-left: rem(10px);
        vertical-align: middle;
      }
    }
  }

  .bv-submission-button-submit {
    @include icon(tertiary-link, after, true);
    display: flex !important;
    align-items: center;

    &::after {
      margin-left: rem(10px);
    }
  }

  .bv-action-bar {
    button {
      @include icon(tertiary-link, after, true);
      display: flex !important;
      align-items: center;

      &::after {
        margin-left: rem(10px);
        vertical-align: bottom;
      }
    }

    .bv-write-review-container {
      .bv-write-review {
        @include icon(tertiary-link, after, true);
        display: flex !important;
        align-items: center;

        &::after {
          margin-left: rem(10px);
        }
      }
    }
  }
}
