@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Paragraph: Featured Media - Slider layout
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Component
 */
.component-featured-media--layout-slider {
  .component-featured-media__list-container {
    position: relative;

    .component-featured-media__button {
      background-color: $primary-emerald;
      background-size: rem(10px) rem(16px);
      border: 1px solid $primary-emerald;
      height: rem(48px);
      width: rem(48px);
      color: $white !important;
      margin: 0;
      padding: 0;
      opacity: 1;

      svg {
        color: $primary-solar !important;
      }

      &:hover {
        background-color: $white;
        border-color: $primary-emerald;
        color: $primary-emerald;
      }

      &.component-featured-media__button-prev {
        background-image: url('../../../icons/chevron-left-white.svg');
        left: rem(-98px);

        &:hover {
          background-image: url('../../../icons/chevron-left-emerald.svg');
        }

        @include media('<1401px') {
          left: rem(-58px);
        }

        @include media('<1336px') {
          display: none;
        }
      }

      &.component-featured-media__button-next {
        background-image: url('../../../icons/chevron-right-white.svg');
        right: rem(-98px);

        &:hover {
          background-image: url('../../../icons/chevron-right-emerald.svg');
        }

        @include media('<1400px') {
          right: rem(-58px);
        }

        @include media('<1336px') {
          display: none;
        }
      }

      &[aria-disabled='true'] {
        background-color: $gray-30;
        border-color: $gray-30;
      }
    }
  }

  .component-featured-media__list-wrapper {
    box-shadow: 0 0 16px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 1.5rem;

    &:not(.swiper-container-initialized) {
      .component-featured-media__list-item {
        display: none;

        &:first-child {
          display: block;
        }
      }
    }
  }

  .component-featured-media__list {
    margin: 0;
    padding: 0;

    .component-featured-media__list-item {
      height: auto;
      list-style: none;

      &.swiper-slide .media {
        height: 0;
        margin-bottom: 0;
        margin-top: 0;
        max-width: 100vw;
        position: relative;
        padding-bottom: 56.25%;

        .media__image,
        .media__iframe,
        img,
        iframe {
          display: block;
          height: 100%;
          max-width: 100%;
          position: absolute;
          width: 100%;
        }

        img {
          object-fit: cover;
        }
      }
    }
  }

  .component-featured-media__controls {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;

    .component-featured-media__button {
      background-color: $primary-emerald;
      background-position: center;
      background-repeat: no-repeat;
      background-size: rem(10px) rem(16px);
      border: 1px solid $primary-emerald;
      display: none;
      height: rem(48px);
      width: rem(48px);
      margin: 0;
      padding: 0;
      position: relative;
      opacity: 1;

      @include media('<md') {
        height: rem(40px);
        width: rem(40px);
      }

      @include media('<1336px') {
        display: block;
      }

      &.component-featured-media__pseudo-button-prev {
        background-image: url('../../../icons/chevron-left-white.svg');
        margin-right: 1rem;
      }

      &.component-featured-media__pseudo-button-next {
        background-image: url('../../../icons/chevron-right-white.svg');
        margin-left: 1rem;
      }
    }

    .component-featured-media__pagination {
      position: relative;

      .swiper-pagination-bullet {
        background: transparent;
        border-color: $primary-emerald;
      }

      .swiper-pagination-bullet-active {
        background: $primary-emerald;
      }
    }
  }
}
