@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Paragraph: Content Driver Item
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Component
 */

.component-content-driver__content {
  padding: 0;
  width: 100%;

  .field--name-field-content-driver-items {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: rem(25px); // sass-lint:disable-line no-misspelled-properties

    @include media('>=lg') {
      grid-template-columns: repeat(auto-fit, minmax(0, 215px));
      justify-content: center;
    }

    @include media('>=1107px') {
      grid-template-columns: repeat(auto-fit, minmax(0, 250px));
      justify-content: center;
    }

    @include media('>=xl') {
      grid-template-columns: repeat(auto-fit, minmax(0, 280px));
      justify-content: center;
    }
  }

  .field__item {
    margin: 0;

    .component-content-driver-item {
      height: 100%;
      background-color: $white;

      .component-content-driver-item__inner {
        height: 100%;
        display: flex;
        flex-direction: column;

        a {
          text-decoration: none;

          @include on-event() {
            color: $type-dark;
          }
        }
      }

      .component-content-driver-item__content-wrapper {
        height: 100%;

        a {
          text-decoration: none;
          color: $type-dark;

          @include on-event() {
            color: $type-dark;
          }
        }

        .component-content-driver-item__media {
          @include flex();
          @include flex-x(align-items, center);
          @include flex-x(justify-content, center);
          background-color: $white;
          display: flex;
          overflow: hidden;
          padding: rem(5px 5px 0);

          @include media('>md') {
            border: 0;
            padding: rem(8px 8px 0);
          }

          .field[data-blazy] {
            min-width: 100%;
            padding: 0;
          }

          .media {
            display: flex;
            position: relative;
            padding-top: 100%;
            width: 100%;

            img,
            iframe {
              height: 100%;
              width: 100%;
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
            }

            img {
              object-fit: cover;
            }
          }
        }

        .component-content-driver-item__content-container {
          padding: rem(10px);

          @include media('>=md') {
            padding: rem(16px);
          }
        }

        .component-content-driver-item__long-description {
          h3 {
            @include type-header(h4, dark, included);
            color: $type-dark;
            font-size: rem(22px);
            line-height: rem(26px);
            margin-top: 0;
            text-transform: uppercase;
            -webkit-line-clamp: 3;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            min-height: rem(100px);

            @include media('<md') {
              font-size:  rem(16px);
              line-height: rem(20px);
              min-height: rem(60px);
            }
          }
        }

        .component-content-driver-item__content {
          display: -webkit-box;
          -webkit-line-clamp: 5;
          -webkit-box-orient: vertical;
          overflow: hidden;
          font-size: rem(16px);
          font-weight: $fw-regular;
          line-height: rem(24px);

          @include media('<md') {
            font-size: rem(12px);
            line-height: rem(20px);
          }
        }
      }

      .component-content-driver-item__read-more-button {
        @include btn(secondary, dark, lg);

        box-sizing: border-box;
        float: none;
        font-size: 1rem !important;
        font-weight: $fw-extra-bold;
        line-height: rem(28px);
        text-align: left;
        transition: $transition-base;
        width: 100%;
        padding: rem(0 16px 16px);
        white-space: unset;

        &::after {
          margin-left: rem(15px);
        }

        @include on-event() {
          color: $type-dark;
        }

        @include media('<md') {
          white-space: normal;
          min-width: 100%;
          padding: rem(0 10px 16px);
          font-size: rem(14px) !important;
          line-height: rem(22px) !important;

          &::after {
            font-size: rem(14px);
            margin-left: rem(5px);
          }
        }
      }

      @include on-event {
        box-shadow: 0 0 16px 5px rgba(0, 0, 0, 0.2);
        outline: 1px solid $primary-solar;

        @include media('<md') {
          box-shadow: none;
          outline: none;
        }
      }
    }
  }
}
