@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Paragraph: Content Driver
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Component
 */

.component-content-driver {
  @include container-full-width();

  background-color: $primary-emerald;
  padding: rem(43px 0 30px);
  margin-bottom: 0;

  .component-content-driver__inner {
    @include container();

    .component-content-driver__title {
      margin-bottom: rem(34px);

      h2 {
        @include type-header(h1, light, included);
        font-size: rem(32px) !important;
        text-align: center;
        text-transform: uppercase;
        margin: 0;
      }

      @include media('>md') {
        margin-bottom: rem(45px);

        h2 {
          font-size: rem(52px) !important;
        }
      }
    }
  }

  @include media('>md') {
    padding: rem(74px 0 120px);
  }
}
