@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Paragraph: content
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Component
 */

.component-content-callout {
  @include container-full-width();

  &.component-content-callout__layout-straight {
    .component-content-callout__content-wrapper {
      border-bottom: rem(20px) solid $primary-solar;

      @include media('>=lg-plus') {
        border-bottom: rem(20px) solid $primary-solar;
      }
    }
  }

  &.component-content-callout__layout-blade {
    .component-content-callout__content-blade {
      display: block !important;
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: auto;
      z-index: 3;

      .component-content-callout__content-blade--tab,
      .component-content-callout__content-blade--desktop {
        display: none;
      }

      @include media('>=sm') {
        .component-content-callout__content-blade--tab {
          display: block;
        }

        .component-content-callout__content-blade--mobile {
          display: none;
        }
      }

      @include media('>=lg-plus') {
        .component-content-callout__content-blade--desktop {
          display: block;
        }

        .component-content-callout__content-blade--tab {
          display: none;
        }
      }
    }
  }

  .component-content-callout__content-wrapper {
    position: relative;

    .component-content-callout__content-blade {
      display: none;
    }

    @include media('<lg-plus') {
      background-color: $primary-emerald;
    }
  }

  .component-content-callout__content--position {
    @include container();
    z-index: 5;

    .component-content-callout__content {
      @include media('>=lg-plus') {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        max-width: rem(450px);
        z-index: 5;
      }

      @include media('<lg-plus') {
        padding: rem(10px 0 50px);
        max-width: rem(450px);
      }

      .component-content-callout__title {
        @include type-header(h2, black, included);

        color: $white;
        text-align: left;
        text-transform: uppercase;
        font-weight: $fw-extra-bold;
        font-family: $font-brand;
        font-size: rem(52px);
        line-height: rem(48px);
        margin-bottom: rem(20px);
        position: relative;
        z-index: 5;

        @include media('<lg-plus') {
          font-size: rem(40px);
          line-height: rem(48px);
        }
      }

      .field--name-field-content {
        color: $white;
        font-weight: $fw-regular;
        line-height: rem(24px);
        margin-bottom: rem(28px);
        position: relative;
        z-index: 5;

        @include media('<lg-plus') {
          font-size: rem(14px);
          line-height: rem(24px);
        }
      }

      .field--name-field-link {
        text-align: left;
        position: relative;
        z-index: 5;
      }

      .field--name-field-link a {
        @include btn(solar);
      }
    }
  }

  .blazy {
    width: 100%;
    z-index: 1;

    &.field[data-blazy] {
      min-width: 100%;
    }

    img {
      width: 100%;
    }

    @include media('<lg-plus') {
      display: none;
    }
  }

  @include media('>=lg-plus') {
    &.component-content-callout__color-theme--emerald {
      .component-content-callout__content {
        background-color: $primary-emerald;
        padding: rem(20px 30px 30px);
        max-width: rem(570px);
      }
    }
  }
}

