<div class="testimonials-item">
	<blockquote class="testimonial-quote">
		<p>{{ content.field_quote }}</p>
	</blockquote>
	<cite class="testimonial-citation">{{ content.field_citation | raw }}</cite>
</div>
