.step-es-delete {
    display: flex;
    align-items: center;
}

.step-container {
    margin-bottom: 2em;
}

#edit-step-es-create-submit,
#edit-step-es-drupal-create-submit,
#edit-step-es-translate-submit {
    margin-left: 0;
}
