/*
 * GENERAL STYLING
 */
input,
textarea,
select {
  font-size: 1rem;
  font-family: inherit;
  padding: 0 1em;
  border: 0;
  box-shadow: inset 0 0 0 1px $input-border-color;
  border-radius: 0;
  max-width: 100%;
  line-height: 1;
  background: #fff;
  margin: 0;

  &:focus {
    box-shadow: inset 0.25em 0 0 $color-orange, inset 0 0 0 1px $input-border-color;
    outline: none;
  }

  &[readonly],
  &:disabled {
    background-color: rgba($color-gray-light, 0.25);
    opacity: 1;
  }

  &:disabled {
    cursor: not-allowed;
    pointer-events: none;
  }
}

/**
 * APPEARANCE
 */
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input:not([type='checkbox']):not([type='radio']) {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

/**
 * SHARED STYLES
 */

input,
select {
  font: inherit;
  height: $input-height;
}

textarea {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  min-height: 5em;
  line-height: $line-height-tight;
  overflow: auto;
}

@include input-placeholder {
  color: rgba($color-off-black, 0.4);
  opacity: 1;
}

/**
 * SEARCH
 */
input[type="search"] {
  padding-left: 2.75em;
  background: #fff url(svg-background($svg-magnifying-glass, $color-off-black)) no-repeat 1em center;
}


input.email {
  padding-left: 2.75em;
  background: #fff url(svg-background($svg-email, $color-off-black)) no-repeat 1em center;
}

/*
 * PASSWORDS
 */
input[type="password"] {
  font-weight: bold;
  letter-spacing: 0.1em;
}

/*
 * TEXTAREA
 */
textarea {
  resize: vertical;
}

/**
 * SMALL VARIANT
 */
.input--small {
  height: $input-height-small;
}

/**
 * INVERSE VARIANT
 */
.input--inverse {
  border-color: #fff;

  &:focus {
    border-color: $color-off-black;
  }
}

/**
 * NUMBER
 */
input[type='number'] {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }
}
