img {
  max-width: 100%;
  height: auto;
}

/**
 * CAPTIONS
 */
figure {
  display: table;
  margin-bottom: 2em * $line-height-default;

  img {
    vertical-align: bottom;
  }
}

figcaption {
  display: table-caption;
  caption-side: bottom;
  font-size: 0.75rem;
  font-weight: 500;
  color: $color-gray;
  padding: 1.125rem 0;
  letter-spacing: 0.01125em;
  background: url(svg-background($svg-divider, $color-gray-light)) repeat-x bottom left;
}

/**
 * ALIGNMENT
 */

.align-left,
.align-right,
.align-center,
[data-align='left'],
[data-align='right'],
[data-align='center'] {
  position: relative;
  z-index: 1;
}

.align-right,
.align-left,
[data-align='right'],
[data-align='left'] {
  max-width: 60%;
  margin-bottom: 1em * $line-height-default;
}

.align-left,
[data-align='left'] {
  margin-right: 1em * $line-height-default;
  float: left;
}

.align-right,
[data-align='right'] {
  margin-left: 1em * $line-height-default;
  float: right;
  @media only screen and (max-width: $media-screen-mobile) {
    float: left;
    width: 100%;
    margin: 16px 0;
    max-width: 100%;
  }
}

.align-center,
[data-align='center'] {
  margin: 1em * $line-height-default;
  margin-left: auto;
  margin-right: auto;
}
