<header class="header">
  <div class="page-header">
    <div class="wrapper-content">
      {% if  page.logo %}
        <div class="page-header__logo">
          {{ page.logo }}
        </div>
      {% endif %}
    </div>
  </div>
</header>