// -----------------------------------------------------------------------------
// Base: Inputs
// Themed inputs, buttons, and form item groups
// -----------------------------------------------------------------------------

// basic inputs
input,
textarea,
select,
input.webform-counter-warning,
input.form-text.webform-counter-warning,
textarea.webform-counter-warning,
textarea.form-textarea.webform-counter-warning {
  background: transparent;
  border: rem(1px) solid $secondary-black;
  border-radius: 0;
  color: $secondary-black;
  max-width: 100%;
  outline: 0 none;
  padding: 1rem 1.75rem;
  transition: $transition-base;
  -webkit-appearance: none;
  width: 100%;

  &:disabled {
    background-color: $color-light-grey;
  }
}

// Remove fieldset margin
fieldset.webform-composite-hidden-title {
  margin-top: 0;
  margin-bottom: 0;
}

// All forms except footer add extra margin between fields
form:not(.webform-submission-email-sign-up-form) div.form-item {
  margin-bottom: 1.875rem !important;
  margin-top: 0;
}

label ~ input,
label ~ select,
label ~ radio {
  color: $type-dark;
  margin-top: rem(5px);
}

// Remove required *
.form-required {
  &::after {
    display: none;
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
  }
}

// input submit buttons
input[type='button'],
input[type='reset'],
input[type='submit'],
.btn {
  @include btn(primary);
}

//.form-container {
//  @include container($container-md, $md, left, false);
//  @include flex();
//  @include flex-x(flex-wrap, wrap);
//  @include flex-x(justify-content, space-between);
//}

// form titles
.block-webform-block__title {
  font-family: $font-brand;
  font-size: rem(24px);
  font-weight: $fw-extra-bold;
  line-height: 1.2rem;
  margin-bottom: rem(24px);
  text-transform: uppercase;
}

// flex form rows
.webform-flexbox {
  margin: 0 -.5em rem(24px);

  .webform-flex {
    width: 100%;

    .webform-flex--container {
      margin: 0 rem(6px);
    }
  }

  .form-item {
    margin: 0;
  }
}

//form button
.form-actions {
  margin: rem(24px) 0 1rem;
}

// Checkbox & Radio buttons
$marker-to-text-space: 1.625rem;
$active-width: 1.125rem;
$active-gap: 8px; // the math likes px values

.form-checkboxes,
.form-radios {
  // item groups
  .form-item {
    @include flex-x(align-items, center);
    @include flex-x(flex-direction, row);
    @include flex-x(flex-wrap, wrap);
  }

  .form-item:last-of-type {
    margin-bottom: 0;
  }

  input {
    width: inherit;
  }

  // hide the default input box
  input[type='checkbox']:checked,
  input[type='checkbox']:not(:checked),
  input[type='radio']:checked,
  input[type='radio']:not(:checked) {
    position: absolute;
    left: -9999px;
  }

  // create a fake input box
  input[type='checkbox']:checked + label,
  input[type='checkbox']:not(:checked) + label,
  input[type='radio']:checked + label,
  input[type='radio']:not(:checked) + label {
    cursor: pointer;
    display: inline-block;
    position: relative;
    line-height: 1;
    padding-left: $marker-to-text-space;
  }

  // fake input box base
  input[type='checkbox']:checked + label:before,
  input[type='checkbox']:not(:checked) + label:before,
  input[type='radio']:checked + label:before,
  input[type='radio']:not(:checked) + label:before {
    background: $black;
    border: 1px solid $black;
    content: '';
    height: $active-width;
    left: 0;
    position: absolute;
    top: 0;
    width: $active-width;
  }

  input[type='checkbox']:checked + label:before {
    background-color: transparent;
  }

  // fake input box active indicator
  input[type='checkbox']:checked + label:after,
  input[type='checkbox']:checked + .form-required:after,
  input[type='checkbox']:not(:checked) + label:after,
  input[type='radio']:checked + label:after,
  input[type='radio']:not(:checked) + label:after {
    background-image: none;
    display: block;
    left: $active-gap / 2;
    height: 0;
    margin: 0;
    position: absolute;
    top: $active-gap / 2;
    transition: $transition-base;
    width: 0;
  }

  // fake input box active indicator NOT checked
  input[type='checkbox']:not(:checked) + label:after,
  input[type='checkbox']:not(:checked) + .form-required:after,
  input[type='radio']:not(:checked) + label:after {
    opacity: 0;
    //transform: scale(0);
  }

  // fake input box active indicator checked
  input[type='checkbox']:checked + label:after,
  input[type='checkbox']:checked + label.form-required:after,
  input[type='radio']:checked + label:after {
    opacity: 1;
    //transform: scale(1);
  }

  //.form-required:after {
  //  display: inline-block;
  //  width: 6px;
  //  height: 6px;
  //  margin: 0 0.3em;
  //  content: "";
  //  vertical-align: super;
  //  background-image: url(../../../../misc/icons/ee0000/required.svg);
  //  background-repeat: no-repeat;
  //  background-size: 6px 6px;
  //}

  .required-icon {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 0.3em 1em;
    background-image: url('/core/misc/icons/ee0000/required.svg');
    background-repeat: no-repeat;
    background-size: 6px 6px;
  }

  // item description
  .description {
    margin-left: $marker-to-text-space;
  }
}

// Radio buttons
.form-radios {

  // fake input box base
  input[type='radio']:checked + label:before,
  input[type='radio']:not(:checked) + label:before {
    border-radius: 100%;
  }

  // fake input box active indicator
  input[type='radio']:checked + label:after,
  input[type='radio']:not(:checked) + label:after {
    background: $primary-orange;
    border-radius: 100%;
    content: '';
    height: calc(#{$active-width} - #{$active-gap});
    width: calc(#{$active-width} - #{$active-gap});
  }
}

// Checkbox buttons
.form-checkboxes {
  input[type='checkbox']:checked + label:after,
  input[type='checkbox']:checked + label.form-required:after,
  input[type='checkbox']:not(:checked) + label.form-required:after,
  input[type='checkbox']:not(:checked) + label:after {
    @include icon-styles;
    color: $black;
    content: icon-char(checkmark);
    font-size: rem(10px);
    height: $active-width;
    width: $active-width;
    left: .15rem;
  }
}

// Select
.form-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image:
    linear-gradient(45deg, transparent 50%, blue 50%),
    linear-gradient(135deg, blue 50%, transparent 50%),
    linear-gradient(to right, $secondary-black, $secondary-black);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 1px,
    4rem 4rem;
  background-repeat: no-repeat;

  &:focus {
    outline: 0 none;
  }
}

.form-item-select {
  @include icon(chevron-thin, after);
  position: relative;

  &:after {
    bottom: 0.75rem;
    pointer-events: none;
    position: absolute;
    right: 1rem;
    transform: rotate(90deg);
    transition: $transition-base;

    @include bs-ie() {
      display: none;
    }
  }
}

@include media('<md') {
  .webform-flexbox {
    margin-bottom: 0;
  }

  .form-actions {
    margin: 0 0 1rem;
  }
}

@include media('<sm') {
  .webform-flexbox {
    .webform-flex {
      margin-bottom: rem(24px);
    }
  }
}

