// -----------------------------------------------------------------------------
// Abstracts/Variables: Header
// Header-related settings to be used globally.
// -----------------------------------------------------------------------------

$header-padding: 1.9rem;
$header-padding-mobile: 1.25rem;
$header-logo-height: 1.25rem;
$header-logo-performance-height-large: 1.75rem;
$header-logo-height-mobile: 1.25rem;

$header-height-large: $header-padding + $header-padding + $header-logo-height +  $header-logo-performance-height-large;
$header-height: $header-padding + $header-padding + $header-logo-height;;
$header-utility-nav-height: 2.5rem;
$header-height-mobile: $header-padding-mobile + $header-padding-mobile + $header-logo-height-mobile;
