<div class="card--list">
	<div class="card--list__wishlist">
		<a href="/wishlist" class="btn-primary btn--wishlist">Add to Wishlist</a>
	</div>
  <a href="/product-detail" class="card--list__link">
    <div class="card--list__image">
      <img class="card--list-image" src="https://store.apextoolgroup.com/MagentoShare/media/catalog/product/cache/3/image/1200x1200/9df78eab33525d08d6e5fb8d27136e95/G/W/GW_82107_ICON02.jpg"/>
    </div>
    <div class="card--list__title">
      Hose Pinch Off Pliers
    </div>
  </a>
	<div class="card--list__category">
		#420d11
	</div>
	<div class="cart-price__wrapper">
		<div class="price">
			$10
		</div>
		<div class="add-to-cart">
			<a href="/add-to-cart" class="btn-primary">Add to cart</a>
		</div>
	</div>
</div>
