.path-user .user-form:not(.user-register-form) {
  @extend .wrapper-content;

  .form-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 0 24px !important;

    label {
      flex: 0 0 150px;
      font-size: 12px;
      font-weight: $bold;

      @media screen and (min-width: $tablet-max) {
        flex: 0 0 220px;
      }
    }

    input:not(.form-file):not(.form-submit) {
      flex: 0 0 calc(100% - 150px);
      height: 36px !important;

      @media screen and (min-width: $tablet-max) {
        flex: 0 0 calc(100% - 220px);
        max-width: 40%;
      }
    }

    .form-file {
      padding: 7px 15px;
      height: auto;
    }

    .form-submit {
      height: 23px;
      padding: 0;
    }
  }

  .form-item.form-type-managed-file .description {
    padding-left: 0;

    @media screen and (min-width: $tablet-max) {
      padding-left: 220px;
    }
  }

  .form-type-password-confirm {
    display: block;
  }

  .password-parent,
  .confirm-parent {
    max-width: 100%;
  }

  .password-strength__meter {
    max-width: 150px;

    @media screen and(min-width: $tablet-max) {
      max-width: 200px;
    }
  }

  #edit-pass--description {
    padding-left: 0;
  }

  .button {
    min-height: 23px !important;
    min-width: 115px !important;
  }

}

.featured-account-dashboard {
  margin-bottom: 40px;

  .user-details {
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
    margin-bottom: 15px;

    img {
      flex: 0 0 140px;
      max-width: 140px;
      margin-right: 15px;
      padding: 10px;
      border: 1px solid $black;
    }

    .user-information {
      flex: 0 0 100%;
      margin-top: 12px;

      @media screen and (min-width: $tablet-max) {
        flex: 0 0 auto;
        margin-top: 0;
      }
    }
  }

  .account-guide {
    margin-top: 10px;
  }

  .address-item span {
    flex: 0 0 auto;
    pointer-events: none;
  }

  .edit-profile a {
    @extend .btn-primary;
  }

  .active {
    color: $green;
  }

  .in-active {
    color: $sinopia;
  }
}

#password-policy-status {
  margin-bottom: 20px;
  max-width: calc(40% + 220px);

  td,th {
    padding: 5px;
    border: 1px solid $gray;
  }
}
