.profile-form,
.profile-confirm-form {
  @extend .wrapper-content;

  margin-top: 40px;
  padding-top: 40px;
  position: relative;

  .button--danger {
    @extend .btn-primary;
  }

  .button {
    min-height: 23px !important;
    min-width: 115px !important;
  }

  .field--type-address {
    details {
      border: 0;

      summary {
        display: none;
      }
    }
  }

  .form-item-field-county {
    display: flex;
    align-items: center;
    flex: 0 0 100%;
    position: relative;

    label {
      flex: 0 0 130px;
      font-size: 13px;

      @media screen and (min-width: $tablet-max) {
        flex: 0 0 200px;
        font-size: 14px;
      }
    }

    select {
      @media  screen and (min-width: $tablet-max) {
        height: 36px;
        flex: 0 0 100%;
        max-width: calc(100% - 180px);
      }
    }
  }

  .form-item-address-title {
    font-size: 16px;
  }
}

.user-form:not(.user-register-form) {
  .description {
    flex: 0 0 100%;
    padding-left: 150px;

    @media screen and (min-width: $tablet-max) {
      padding-left: 220px;
    }
  }
}

.profile-confirm-form {
  font-size: 14px;
  padding-top: 0;

  .form-actions {
    margin-top: 24px !important;
  }

  .dialog-cancel {
    @extend .btn-primary;
  }
}

.profile-customer-address-book-edit-form {
  padding-top: 0;
}

.address-book__container {
  @extend .wrapper-content;
  position: relative;

  .address-book__add-link {
    display: inline-block;
    padding: 8px 24px;
    background: $black;
    color: $white;
    font-size: 12px;
    font-weight: $bold;
    border-radius: 5px;
    position: absolute;
    right: 20px;
    top: 0;
    margin: 12px 0;
    transition: 0.2s ease all;
    border: 1px solid $black;

    @media screen and (min-width: $tablet-max) {
      right: 0;
    }

    &:hover {
      background: $white;
      color: $black;
      border: 1px solid $black;
    }
  }

  .address-book__profiles {
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .address-book__profile {
      margin: 0;
      flex: 0 0 100%;
      border: 1px solid $black;
      border-radius: 5px;
      padding: 16px 12px 8px;
      margin-bottom: 20px;

      @media screen and (min-width: $tablet-max) {
        flex: 0 0 50%;
        max-width: calc(50% - 30px);
      }
    }
  }

  .address-book__operations {
    margin-bottom: 0;
    a {
      margin-bottom: 10px;
      @extend .btn-primary;
      @media screen and (min-width: $tablet) {
        margin-bottom: 0;
      }
    }
  }
}

.field--name-field-county,
.address-item {
  display: flex;

  .field__label,
  label {
    flex: 0 0 150px;
  }
}

.address-book__empty-text {
  @extend .view-empty;
  margin-left: 0;
  margin-right: 0;
}

div[id^="address-0-address-ajax-wrapper"] {
  @media screen and (min-width: $tablet-max) {
    margin: 0 -20px;
  }

  & > .form-wrapper {
    display: flex;
    flex-wrap: wrap;

    div[id^="edit-address-0-address-country-code"] {
      flex: 0 0 100%;
    }

    .form-item input {
      height: 36px;
    }

    select {
      border-color: $black;
      height: 36px;
    }

    .form-item {
      display: flex;
      align-items: center;
      flex: 0 0 100%;
      position: relative;

      @media screen and (min-width: $tablet-max) {
        max-width: 50%;
        padding-left: 20px;
      }

      label {
        flex: 0 0 130px;
        font-size: 13px;

        @media screen and (min-width: $tablet-max) {
          flex: 0 0 200px;
          font-size: 14px;
        }
      }
    }

    .form-item--error-message {
      position: absolute;
      bottom: -20px;
      left: 130px;

      @media screen and (min-width: $tablet-max) {
        left: 220px;
      }
    }

    .address-container-inline {
      flex: 0 0 100%;

      @media screen and (min-width: $tablet-max) {
        display: flex;
        flex-wrap: wrap;
      }

      .form-item-address-0-address-given-name,
      .form-item-address-0-address-family-name {
        max-width: 100%;

        @media screen and (min-width: $tablet-max) {
          max-width: 50%;
        }
      }

      .form-item-address-0-address-family-name {
        @media screen and (min-width: $tablet-max) {
          margin-right: 10px;
        }
      }
    }

    .form-item-address-0-address-address-line1,
    .form-item-address-0-address-address-line2 {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .form-item-address-0-address-address-line2 {
      padding-left: 130px;

      @media screen and (min-width: $tablet-max) {
        padding-left: 220px;
      }
    }

    .field--name-field-county {
      position: relative;
      flex: 0 0 100%;
      max-width: 50%;
      @media screen and (max-width: $tablet-max) {
        max-width: 100%;
      }

      .form-item-field-county {
        max-width: 100%;
      }

      .form-select {
        max-width: calc(100% - 200px);
        @media screen and (max-width: $tablet-max) {
          max-width: 100%;
        }
      }
    }
  }
}

.account-dashboard__address-list .account-dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .address-book__heading {
    flex: 0 0 100%;
    position: relative;
    font-weight: $bold;
    padding-bottom: 15px;
    border-bottom: 1px solid $black;
    margin-bottom: 20px;
    font-size: 14px;
  }

  .views-row {
    flex: 0 0 100%;
    margin-bottom: 10px;
    position: relative;
    padding-top: 30px;

    @media screen and (min-width: $tablet-max) {
      flex: 0 0 50%;
      max-width: calc(50% - 30px);
    }

    .edit-profile a {
      @extend .btn-primary;
    }

    .default-address {
      font-weight: $bold;
      padding-bottom: 15px;
      position: absolute;
      top: 0;
    }
  }
}
