.path-ad-network-login {
  @extend .path-user;
  .main-content {
    @extend .main-contane;
    max-width: 100%;
    &.center-container {
      margin: auto;
      .ecom-pre-login-form {
        @extend .user-login-form;
        width: unset;
        margin-left: unset;
        padding-top: 15px;
        padding-bottom: 15px;
        .form-item {
          input {
            margin-top: 0.5rem;
            box-sizing: border-box;
          }
        }
      }
    }
  }
}

.ad-login-wrapper {
  .page-header,
  .footer-columns {
    padding: 15px 0;
  }

  .footer-copyrights {
    margin-top: 0;
  }

  p {
    margin: 10px 0;
  }
}
