.commerce-checkout-flow {
  .checkout-pane-review {
    padding: 0 0 16px;
    @media only screen and (max-width: $tablet) {
      padding: 0;
    }

    fieldset {
      &.form-wrapper {
        border: 0;
        padding: 0;
        width: 100%;
        margin: 0 0 5px;

        legend {
          color: $black;
          font-size: 14px;
          padding: 16px 0;
          margin: 0 0 16px;
          font-weight: $normal;
          line-height: 19.36px;
          text-transform: capitalize;
          border-bottom: 1px solid rgba($light-black, 0.2);

          a {
            color: $dark-blue;
            text-decoration: none;
            text-transform: lowercase;
          }
        }

        &[data-drupal-selector$="review-contact-information"] {
          margin: 0;
          display: flex;
          flex-wrap: wrap;
          align-items: center;

          label {
            width: 150px;
            text-transform: capitalize;
          }

          .fieldset-wrapper {
            width: calc(100% - 150px);
          }
        }

        .fieldset-wrapper {
          .profile {
            .address-item {
              margin: 0 0 5px;
            }

            .field--name-field-county {
              .field__label {
                &:after {
                  content: ":";
                }
              }
            }
          }

          div[data-drupal-selector$="shipping-information-summary-0"] {
            display: none;
          }

          .field--name-expires,
          .field--name-label {
            margin: 0 0 8px;
          }
        }
      }
    }
  }
}
