.layout-region-checkout-secondary {
  margin: 12px 0 0;

  h3 {
    color: $black;
    font-size: 24px;
    margin: 0 0 25px;
    font-weight: $bold;
  }
}

.checkout-pane-order-summary {
  margin: 0;
  padding: 0;
  width: 100%;

  .checkout-order-summary {
    table {
      margin-bottom: 20px;
      border-bottom: solid 1px rgba(51, 51, 51, 0.2);

      tbody {
        padding-bottom: 20px;
        display: block;

        tr {
          td {
            padding: 0 0 10px;
            border-top: 0;
            color: $black;
            font-size: 14px;
            font-weight: $normal;
            line-height: 16.94px;

            &:first-child {
              display: none;
            }

            &:nth-child(2) {
              padding-right: 10px;
              width: 87%;
            }

            &:last-child {
              text-align: right;
            }
          }
        }
      }
    }

    .field--name-qty-increments,
    .field--name-product-id {
      display: none;
    }

    .order-total-line {
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin: 0 -16px 12px;
      justify-content: space-between;

      > span {
        width: 50%;
        color: $black;
        font-size: 14px;
        padding: 0 16px;
        position: relative;
        font-weight: $normal;
        line-height: 16.94px;

        &:not(:last-child) {
          text-align: left;
        }

        &.order-total-line-label {
          &:after {
            content: ":";
          }
        }
      }

      &.order-total-line__total {
        >span {
          font-weight: $bold;
        }
      }
    }
  }
}
