/****** Header ******/
// Top Bar Style.
.top-page {
  padding: 5px 0;

  .region-top-page {
    display: flex;
  }

  a {
    &:hover {
      color: $black;
      text-decoration: none;
    }
  }

  .field__item,
  nav {
    & > ul {
      margin: 0;
      padding: 0;
      display: flex;
    }
  }

  & > div {
    &.wrapper-content {
      display: flex;
      justify-content: space-between;

      @media only screen and (max-width: $mobile-sm) {
        flex-direction: column;
      }
    }
  }

  &__left {
    #block-ecom-topbarleft {
      & > div ul {
        li {
          margin-right: 10px;
          padding-right: 10px;
          border-right: solid 1px $black;

          &:last-child {
            margin-right: 0;
            padding-right: 0;
            border-right: 0;
          }
        }

        img {
          width: 20px;
          height: 12px;
          margin-right: 5px;
          position: relative;
          top: -1px;
        }
      }
    }
  }

  &__right {
    .menu--account {
      & > ul {
        &::before {
          content: '';
          width: 15px;
          height: 15px;
          margin-right: 5px;
          background: url('#{$image-base-path}/user.png') no-repeat center right;
          position: relative;
          top: 2px;
          background-size: 17px;
        }

        li {
          margin-right: 10px;
          padding-right: 10px;
          border-right: solid 1px $black;
          text-transform: capitalize;

          &:last-child {
            margin-right: 0;
            padding-right: 0;
            border-right: 0;
          }
        }
      }
    }

    #block-ecom-wishlistlink {
      margin: 0 20px;

      a {
        margin-left: 20px;
        position: relative;

        &::before {
          content: '';
          width: 15px;
          height: 12px;
          background: url('#{$image-base-path}/wishlist.png') no-repeat center right;
          position: absolute;
          top: 1px;
          display: block;
          background-size: 15px;
        }
      }

      p {
        margin-bottom: 0;
      }
    }

    #block-ecom-cart {
      a {
        margin-left: 20px;
        position: relative;

        &::before {
          content: '';
          width: 15px;
          height: 12px;
          background: url('#{$image-base-path}/shopping-cart.png') no-repeat center right;
          position: absolute;
          top: 4px;
          display: block;
          left: -20px;
          background-size: 17px;
        }
      }
    }

    @media only screen and (max-width: $tablet) {
      margin-top: 5px;
    }
  }

  .cart-block--summary__icon {
    display: none;
  }
}

.page-header {
  background-color: $black;
  margin: 0;
  border-bottom: 0;
  padding: 0;
  position: relative;

  @media only screen and (max-width: $tablet-max)  {
    padding: 7px 0;
  }

  .wrapper-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__search,
  .mobile-search-block {
    .form-item {
      margin: 0;
    }

    .form-actions  {
      margin: 0;
      position: absolute;
      right: 2px;
      top: 2px;

      .button {
        width: 25px;
        height: 25px;
        min-height: unset;
        min-width: unset;
        border: 0;
        border-radius: 12px;
        text-indent: 130%;
        background: url('#{$image-base-path}/search_mobile.png') center no-repeat $white;
        background-size: 17px;
      }
    }

    .form--inline {
      position: relative;
    }

    .form-item-search {
      width: 300px;

      input {
        padding-right: 30px;
        padding-left: 10px;
        border-radius: 12px;
      }
    }
  }

  &__search {
    @media only screen and (max-width: $tablet)  {
      display: none;
    }
  }

  &__menu {
    .navbar-we-mega-menu {
      margin-bottom: 0;
    }

    .region-header {
      @media only screen and (max-width: $tablet-max)  {
        display: none;
      }
    }

    nav,
    .we-mega-menu-ul,
    .we-mega-menu-li,
    #block-ecom-mainnavigation {
      position: unset;
    }

    .we-mega-menu-submenu {
      right: 0;
      width: 100% !important;
      display: none;
    }

    .we-mega-menu-ul {
      & > .we-mega-menu-li {
        border: 0;

        & > a {
          font-size: 12px;
          padding: 25px 10px;
          background: $black;
          color: $white;
        }

        &:hover {
          & > a {
            background: $white;
            color: $black;
          }
        }
      }

      .dropdown-menu {
        & > a,
        & > span {
          &::after {
            display: none;
          }

          &::before {
            display: none;
          }
        }
      }
    }
  }
}

// Responsive Menu
.d-none {
  display: none;
}

.mobile-header {
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 10;
  width: 100% !important; // Using important to overwrite a js from module.

  .region-header .main-nav {
    flex-direction: column;
  }
  @media only screen and (min-width: $tablet) {
    display: none;
  }

  .region-we-mega-menu {
    padding: 0;
    margin: 0;
  }

  .navbar-toggle  {
    display: none;
  }

  .navbar-we-mega-menu.navbar {
    position: unset;
    display: block;
    padding: 0;
    width: 100%;
    margin-bottom: 0;
  }
}

.middle-h-right {
  display: none;
  @media only screen and (max-width: $tablet-max) {
    display: flex;
  }

}

.mobile-nav {
  position: relative;

  @media only screen and (max-width: $tablet-max) {
    position: unset;
  }
}

.mobile-search {
  position: relative;

  .mobile-search-icon {
    width: 40px;
    height: 40px;
    background: url('#{$image-base-path}/search_mobile_white.png') no-repeat center right;
    background-size: 30px;

    @media only screen and (min-width: $tablet) {
      display: none;
    }
  }

  .mobile-search-block {
    position: absolute;
    right: -56px;
    top: 120%;
    background: $white;
    padding: 10px;
    border-radius: 0 10px 10px;
    box-shadow: 1px 1px 5px $black;
    width: 320px;
    z-index: 5;

    .m-s-close {
      background: url('#{$image-base-path}/close_mobile_gray.png') no-repeat center left;
      color: $dim-gray;
      font-size: 12px;
      line-height: 16px;
      margin-top: 10px;
      padding-left: 20px;
      display: block;
      float: right;
    }

    &::after {
      content: '';
      width: 0;
      height: 0;
      border-left: 14px solid transparent;
      border-right: 14px solid transparent;
      border-bottom: 15px solid $black;
      position: absolute;
      right: 56px;
      top: -15px;
    }
  }
}

.mobile-nav-icon {
  width: 40px;
  height: 40px;
  background: url('#{$image-base-path}/mobile_expcol.png') no-repeat center right;
  background-size: 35px;

  &.close-nav {
    background: url('#{$image-base-path}/close-nav.png') no-repeat center right;
    background-size: 30px;
  }

  @media only screen and (min-width: $tablet-max) {
    display: none;
  }
}
