/****** Header ******/
// Top Bar Style.
.top-page {
  padding: 5px 0;

  .region-top-page {
    display: flex;
    align-items: center;
  }

  a {
    &:hover {
      color: $black;
      text-decoration: none;
    }
  }

  .field__item,
  nav {
    & > ul {
      margin: 0;
      padding: 0;
      display: flex;
    }
  }

  & > div {
    &.wrapper-content {
      display: flex;
      justify-content: space-between;

      @media only screen and (max-width: $mobile-sm) {
        flex-direction: column;
      }
    }
  }

  &__left {
    #block-ecom-topbarleft {
      & > div ul {
        li {
          margin-right: 10px;
          padding-right: 10px;
          border-right: solid 1px $black;

          &:last-child {
            margin-right: 0;
            padding-right: 0;
            border-right: 0;
          }
        }

        img {
          width: 20px;
          height: 12px;
          margin-right: 5px;
          position: relative;
          top: -1px;
        }
      }
    }
  }

  &__right {
    .menu--account {
      & > ul {
        position: relative;

        &::before {
          content: '';
          width: 15px;
          height: 15px;
          margin-right: 5px;
          background: url('#{$image-base-path}/user.png') no-repeat;
          position: relative;
          top: 0;
          background-size: 17px;
        }

        li {
          margin-right: 10px;
          padding-right: 10px;
          border-right: solid 1px $black;
          text-transform: capitalize;
          @media only screen and (max-width: $mobile-sm) {
            font-size: 11px;
          }

          &:last-child {
            margin-right: 0;
            padding-right: 0;
            border-right: 0;
          }
        }
      }
    }

    #block-ecom-wishlistlink {
      margin: 0 20px;

      a {
        margin-left: 20px;
        position: relative;

        &::before {
          content: '';
          width: 15px;
          height: 15px;
          background: url('#{$image-base-path}/wishlist.png') no-repeat;
          position: absolute;
          top: -1px;
          left: -20px;
          display: block;
          background-size: 15px;
        }
        @media only screen and (max-width: $mobile-sm) {
          font-size: 11px;
        }
      }

      p {
        margin: 0;
      }
    }

    #block-ecom-cart {
      a {
        margin-left: 20px;
        position: relative;
        display: block;

        &::before {
          content: '';
          width: 15px;
          height: 15px;
          background: url('#{$image-base-path}/shopping-cart.png') no-repeat;
          position: absolute;
          top: 0;
          display: block;
          left: -20px;
          background-size: 17px;
        }
      }
    }

    @media only screen and (max-width: $tablet) {
      margin-top: 5px;
    }
  }

  .cart-block--summary {
    &__icon {
      display: none;
    }

    &__count {
      font-size: 13px;
      @media only screen and (max-width: $mobile-sm) {
        font-size: 11px;
      }
    }
  }
}

.page-header {
  background-color: $black;
  margin: 0;
  border-bottom: 0;
  padding: 0;
  position: relative;

  @media only screen and (max-width: $tablet-max)  {
    padding: 7px 0;
  }

  .wrapper-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    img {
      @media only screen and (max-width: $tablet)  {
        width: 80%;
      }
    }
  }

  &__search,
  .mobile-search-block {
    .form-item {
      margin: 0;
    }

    .form-actions  {
      margin: 0;
      position: absolute;
      right: 2px;
      top: 2px;

      .button {
        width: 25px;
        height: 25px;
        min-height: unset;
        min-width: unset;
        border: 0;
        border-radius: 12px;
        text-indent: 130%;
        background: url('#{$image-base-path}/search_mobile.png') center no-repeat $white;
        background-size: 17px;
      }
    }

    .form--inline {
      position: relative;
      width: 100%;
    }

    .form-type-textfield {
      width: 100%;
    }

    .form-item-sort-by {
      display: none;
    }

    .form-item-search {
      input {
        padding-right: 30px;
        padding-left: 10px;
        border-radius: 12px;
        width: 260px;
        @media only screen and (max-width: $tablet)  {
          width: 100%;
        }
      }
    }
  }

  &__search {
    @media only screen and (max-width: $tablet)  {
      display: none;
    }
  }

  &__menu {
    .navbar-we-mega-menu {
      margin-bottom: 0;
    }

    .region-header {
      @media only screen and (max-width: $tablet-max)  {
        display: none;
      }
    }

    nav,
    .we-mega-menu-ul,
    .we-mega-menu-li,
    #block-ecom-mainnavigation {
      position: unset;
    }

    .we-mega-menu-submenu {
      right: 0;
      width: 100% !important;
      display: none;
      padding-right: 0;
      padding-left: 0;
      background-color: rgba(255, 255, 255, 0.95);

      & > .we-mega-menu-submenu-inner {
        width: 86% !important;
        margin: auto;
        min-height: auto;
        padding: 20px 0;
      }
    }

    .we-mega-menu-ul {
      & > .we-mega-menu-li {
        border: 0;
        background: $black;

        & > a {
          font-size: 13px;
          padding: 25px 10px;
          background: $black;
          color: $white;
        }

        &:hover {
          background: $white;

          & > a {
            background: $white;
            color: $black;
          }
        }
      }

      .dropdown-menu {
        & > a,
        & > span {
          &::after {
            display: none;
          }

          &::before {
            display: none;
          }
        }
      }

      .we-mega-menu-row {
        .type-of-block {
          a {
            font-weight: $bold;
            color: $black;
            line-height: 1.3;

            &:hover {
              text-decoration: underline;
            }
          }

          h2 {
            display: none;
          }
        }

        .we-mega-menu-col {
          border-right: solid 1px $gray-tertiary;

          &:last-child {
            border-right: 0;
          }

          &.single-3-col-block {
            .view-content {
              & > ul {
                column-count: 3;

                li {
                  padding: 0 20px;
                  margin: 0 20px;
                }

                &::after {
                  content: '';
                  height: 100%;
                  width: 1px;
                  background-color: $gray-tertiary;
                  position: absolute;
                  top: 0;
                  left: 31%;
                }

                &::before {
                  content: '';
                  height: 100%;
                  width: 1px;
                  background-color: $gray-tertiary;
                  position: absolute;
                  top: 0;
                  left: 64.5%;
                }
              }
            }
          }
        }
      }
    }
  }
}

.shipping-returns {
  & > a {
    position: relative;
    display: block;
    margin-left: 30px;
    padding-left: 35px !important;
    background: url('#{$image-base-path}/truck-white.png') no-repeat 0 20px !important;
    background-size: 22px !important;
  }

  &:hover {
    a {
      background: url('#{$image-base-path}/truck-black.png') no-repeat 0 20px !important;
      background-size: 22px !important;
    }
  }
}

// Responsive Menu
.d-none {
  display: none;
}

.mobile-header {
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 10;
  width: 100% !important; // Using important to overwrite a js from module.

  .region-header .main-nav {
    flex-direction: column;
  }

  @media only screen and (min-width: $tablet) {
    display: none;
  }

  .region-we-mega-menu {
    padding: 0;
    margin: 0;
  }

  .navbar-toggle  {
    display: none;
  }

  .navbar-we-mega-menu.navbar {
    position: unset;
    display: block;
    padding: 0;
    width: 100%;
    margin-bottom: 0;

    .nav-tabs>li.active>a {
      background-color: $white !important;
      color: $black !important;
    }

    ul {
      a {
        color: $black;
        font-size: 14px;
      }
    }

    & > div > ul.we-mega-menu-ul {
      & > li {
        border-bottom: solid 1px $black;
      }
    }
  }

  .we-mega-menu-ul {
    max-height: 400px;
    overflow-y: scroll;
    background-color: $white;

    & > .we-mega-menu-li {
      position: relative;

      & > a {
        width: 90%;
        border: 0 !important;
        text-shadow: none !important;
        background-color: $white !important;
        color: $black !important;

        &::after {
          display: none;
        }

        &.is-active {
          background-color: $white !important;
        color: $black !important;
        }
      }

      &.dropdown-menu {
        &::after {
          content: '';
          width: 35px;
          height: 35px;
          background: url('#{$image-base-path}/right-arrow.png') no-repeat 10px 7px;
          background-size: 20px !important;
          position: absolute;
          right: 10px;
          top: 4px;
        }

        &.open {
          .type-of-block,
          .we-mega-menu-submenu {
            display: block !important;
          }

          &::after {
            background: url('#{$image-base-path}/down-arrow.png') no-repeat 10px 7px;
          }
        }

        .active > a {
          background-color: $white !important;
          color: $black !important;
        }
      }
    }
  }

  .shipping-returns {
    & > a {
      margin-left: 20px;
      background: url('#{$image-base-path}/truck-black.png') no-repeat 0 5px !important;
      background-size: 22px !important;
    }
  }
}

.middle-h-right {
  display: none;
  @media only screen and (max-width: $tablet-max) {
    display: flex;
  }

}

.mobile-nav {
  position: relative;

  @media only screen and (max-width: $tablet-max) {
    position: unset;
  }

  .block-views  {
    h2 {
      display: none;
    }
  }
}

.mobile-search {
  position: relative;

  .mobile-search-icon {
    width: 35px;
    height: 35px;
    background: url('#{$image-base-path}/search_mobile_white.png') no-repeat 10px 7px;
    background-size: 25px;

    @media only screen and (min-width: $tablet) {
      display: none;
    }
  }

  .mobile-search-block {
    position: absolute;
    right: -50px;
    top: 120%;
    background: $white;
    padding: 10px;
    border-radius: 0 10px 10px;
    box-shadow: 1px 1px 5px $black;
    width: 320px;
    z-index: 5;

    .m-s-close {
      background: url('#{$image-base-path}/close_mobile_gray.png') no-repeat center left;
      color: $dim-gray;
      font-size: 12px;
      line-height: 16px;
      margin-top: 10px;
      padding-left: 20px;
      display: block;
      float: right;
    }

    &::after {
      content: '';
      width: 0;
      height: 0;
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      border-bottom: 10px solid $white;
      position: absolute;
      right: 54px;
      top: -10px;
    }
  }
}

.mobile-nav-icon {
  width: 35px;
  height: 35px;
  background: url('#{$image-base-path}/mobile_expcol.png') no-repeat 10px 5px;
  background-size: 27px;

  &.close-nav {
    background: url('#{$image-base-path}/close-nav.png') no-repeat center right;
    background-size: 22px;
  }

  @media only screen and (min-width: $tablet-max) {
    display: none;
  }
}

// PCP Landing Page.
.pcp-landing {
  margin-top: 50px;
  margin-bottom: 50px;

  & > .view-content > ul {
    &:first-child {
      padding-left: 0;

      & > li > .views-field-nothing {
        .views-field-field-name a {
          font-size: 19px;
          font-weight: $bold;
          line-height: 22px;
          text-transform: uppercase;
          color: $pantone;
          margin-bottom: 20px;
          display: block;
          pointer-events: none;
        }
      }
    }

    ul {
      column-count: 4;
      padding-left: 15px;
      @media only screen and (max-width: $tablet-max) {
        column-count: 3;
      }
      @media only screen and (max-width: $tablet) {
        column-count: unset;
      }

      .views-field-field-name a {
        font-weight: $bold;
      }

      li {
        page-break-inside: avoid;
        break-inside: avoid-column;
      }

      .views-field-wrap {
        display: flex;
        margin-top: 10px;
        position: relative;
      }

      .views-field-image {
        width: 30px;
        height: 30px;
        position: relative;
        left: -10px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          position: sticky;
        }
      }

      li > ul {
        column-count: unset;
        padding-left: 60px;
        margin-bottom: 10px;

        .views-field-field-name a {
          font-weight: $bold;
          line-height: 14px;
        }

        .views-field-wrap {
          display: unset;
        }

        .views-field-image {
          display: none;
        }

        li > ul {
          padding-left: 30px;

          .views-field-field-name a {
            font-weight: $normal;
          }
        }
      }
    }
  }

  &.view-display-id-pcp_shop_equipment > .view-content > ul {
    ul {
      display: grid;
      grid-template-rows: repeat(2, 25%);
      grid-auto-flow: column;
      @media only screen and (max-width: $tablet-max) {
        display: unset;
      }
      @media only screen and (max-width: $tablet) {
        display: unset;
      }
    }
  }
}
