/****** Homepage Style ******/

.view-homepage-banner {
  img {
    min-width: 100%;
  }
}

.featured-products {
  max-width: 100vw;
  width: 100%;
  overflow: hidden;
  padding: 0 0 50px;
  @media only screen and (max-width: $tablet-max) {
    max-width: calc(100vw - 30px);
  }

  .card {
    &.card--list {
      min-height: 270px;
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .card--list__image {
        width: 100%;
        min-height: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      p {
        text-align: center;
      }

      .card--list__price-wrapper {
        display: flex;
        justify-content: space-between;
      }

      .category {
        font-weight: $bold;
        color: $gray-tertiary;

        a {
          color: inherit;
        }
      }

      .price {
        font-weight: $bold;
        font-size: 14px;
        color: $dark-mustard;
      }
    }
  }

  .swiper-slide {
    position: relative;

    &::after {
      content: '';
      background-color: $gray-tertiary;
      width: 1px;
      height: 95%;
      position: absolute;
      right: 0;
      top: 5%;
    }

    &.swiper-slide-active + div + div + div + div {
      @media only screen and (min-width: $tablet-max) {
        &::after {
          display: none;
        }
      }
    }

    &.swiper-slide-active + div {
      @media only screen and (max-width: $tablet) {
        &::after {
          display: none;
        }
      }
    }

    &.swiper-slide-active + div +div {
      @media only screen and (max-width: $tablet-max) {
        &::after {
          display: none;
        }
      }
    }
  }
}
