/****** Homepage Style ******/

.view-homepage-banner {
  img {
    min-width: 100%;
  }
}

.block-views-blockfeatured-products-featured-products {
  @extend .wrapper-content;

  h2 {
    padding-top: 20px;
  }
}

.featured-products {
  max-width: calc(100vw - 15vw);
  width: 100%;
  overflow: hidden;
  padding: 20px 0 50px;
  @media only screen and (max-width: $tablet-max) {
    max-width: calc(100vw - 30px);
  }

  .card {
    &.card--list {
      min-height: 270px;
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .card--list__image {
        width: 100%;
        min-height: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      p {
        text-align: center;
      }

      .card--list__price-wrapper {
        display: flex;
        justify-content: space-between;
      }

      .category {
        font-weight: $bold;
        color: $gray-tertiary;

        a {
          color: inherit;
        }
      }

      .price {
        font-weight: $bold;
        font-size: 14px;
        color: $dark-mustard;
      }
    }
  }

  .swiper-slide {
    position: relative;

    &::after {
      content: '';
      background-color: $gray-tertiary;
      width: 1px;
      height: 95%;
      position: absolute;
      right: 0;
      top: 5%;
    }

    &.swiper-slide-active + div + div + div + div {
      @media only screen and (min-width: $tablet-max) {
        &::after {
          display: none;
        }
      }
    }

    &.swiper-slide-active + div {
      @media only screen and (max-width: $tablet) {
        &::after {
          display: none;
        }
      }
    }

    &.swiper-slide-active + div +div {
      @media only screen and (max-width: $tablet-max) {
        &::after {
          display: none;
        }
      }
    }
  }
}

.view-brand-logos {
  background: linear-gradient(to right,  rgba(157, 155, 155, 1) 0%, rgba(188, 188, 188, 1) 47%, rgba(157, 155, 155, 1) 100%);

}

.brands-slider {
  @extend .wrapper-content;
  width: 100%;
}

.logo-slider {
  max-width: calc(100vw - 3vw);
  margin: auto;
  width: 100%;
  overflow: hidden;
  padding: 20px 15px;
  @media only screen and (max-width: $tablet-max) {
    max-width: calc(100vw - 30px);
  }

  .swiper-slide {
    padding: 0 20px;
  }

  .media {
    margin-top: 0;
    min-height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
  }

  .owl-nav {
    button {
      width: 25px;
      height: 20px;
      position: absolute;
      top: 13px;
      filter: brightness(0) invert(1);
      background-size: 22px !important;
    }

    span {
      visibility: hidden;
    }
  }

  .owl-prev {
    left: -20px;
    background: url("#{$image-base-path}/prev.svg") no-repeat scroll center center !important;
  }

  .owl-next {
    right: -20px;
    background: url("#{$image-base-path}/next.svg") no-repeat scroll center center !important;
  }

  img {
    min-width: 149px;
    filter: brightness(0) invert(1);
    max-width: 149px;
    max-height: 45px;
    object-fit: contain;
  }

  a {
    &:hover {
      img {
        filter: unset;
      }
    }
  }
}
