// -----------------------------------------------------------------------------
// Base
// An import of all things base setup
// -----------------------------------------------------------------------------

@import
'footer',
'header',
'banner',
'products-page',
'featured-detail-page',
'product-listing',
'pagination',
'breadcrumb',
'product-detail-page',
'features',
'contact',
'acccordion',
'user',
'page-not-found',
'about-us',
'signup',
'privacy-policy',
'product-search',
'page-search';
