.commerce-checkout-flow {
  padding-top: 30px;
  @extend .wrapper-content;
  @media only screen and (max-width: $tablet) {
    padding-top: 25px;
  }
  @media only screen and (max-width: $mobile-sm) {
    padding-top: 20px;
  }

  .layout-checkout-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .layout-region-checkout-footer,
    .layout-region-checkout-main {
      padding-right: 2em;
      width: calc(100% - 250px);
      @media only screen and (max-width: $tablet) {
        width: 100%;
        padding-right: 0;
      }
    }

    .layout-region-checkout-secondary {
      margin: 0;
      width: 250px;
      @media only screen and (max-width: $tablet) {
        width: 100%;
      }
    }
  }

  .checkout-pane-shipping-information,
  .checkout-pane-payment-information {
    border: 0;
    padding: 0 25px 0 0;
    margin: 0 0 12px;
    @media only screen and (max-width: $tablet-max) {
      padding: 0 25px 0 0;
    }

    @media only screen and (max-width: $tablet) {
      padding: 0 20px 0 0;
    }

    @media only screen and (max-width: $mobile-sm) {
      padding: 0;
    }

    legend {
      color: $black;
      font-size: 14px;
      margin: 0 0 16px;
      padding: 0 0 16px;
      font-weight: $normal;
      line-height: 19.36px;
      text-transform: capitalize;
      border-bottom: 1px solid rgba($light-black, 0.2);
    }

    label {
      font-weight: $normal;
    }

    .form-item {
      display: flex;
      flex-wrap: wrap;
      margin: 0 0 25px;
      align-items: center;
      @media only screen and (max-width: $tablet) {
        margin: 0 0 20px;
      }

      @media only screen and (max-width: $mobile-sm) {
        margin: 0 0 16px;
      }

      label {
        width: 125px;
        text-transform: capitalize;
        position: static !important;
        @media only screen and (max-width: $tablet) {
          width: 100px;
        }

        @media only screen and (max-width: $mobile-sm) {
          width: 50%;
        }

        @media only screen and (max-width: $mobile) {
          width: 100%;
        }
      }

      input {
        width: calc(100% - 125px);
        @media only screen and (max-width: $tablet) {
          width: calc(100% - 100px);
        }

        @media only screen and (max-width: $mobile-sm) {
          width: 50%;
        }

        @media only screen and (max-width: $mobile) {
          width: 100%;
        }
      }

      &.form-type-checkbox,
      &.form-type-radio {
        align-items: flex-start;
        justify-content: space-between;

        input {
          margin: 0;
          width: 16px;
          height: 16px;
          display: block;
        }

        label {
          padding: 0;
          width: calc(100% - 25px);
        }

        .description {
          display: none;
        }

        &.form-item-shipping-information-shipments-0-shipping-method-0 {
          input[type="radio"] {
            display: none;
          }
        }
      }
    }

    .fieldset-wrapper {
      width: 100%;
      .authorize-net-accept-js-form {
        #payment-errors {
          margin: 0 0 16px 8px;
        }

        .form-item {
          width: 50%;
          display: flex;
          flex-wrap: wrap;
          align-items: center;

          @media only screen and (max-width: $desktop) {
            width: 70%;
          }

          @media only screen and (max-width: $mobile-sm) {
            width: 100%;
          }

          label {
            margin: 0;
            width: 125px;
            @media only screen and (max-width: $tablet) {
              width: 100px;
            }

            @media only screen and (max-width: $mobile-sm) {
              width: 50%;
            }

            @media only screen and (max-width: $mobile) {
              width: 100%;
              margin: 0 0 5px;
            }
          }

          input {
            width: calc(100% - 125px);
            @media only screen and (max-width: $tablet) {
              width: calc(100% - 100px);
            }

            @media only screen and (max-width: $mobile-sm) {
              width: 50%;
            }

            @media only screen and (max-width: $mobile) {
              width: 100%;
            }
          }
        }

        .credit-card-form__expiration {
          width: 50%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          @media only screen and (max-width: $desktop) {
            width: 70%;
          }

          @media only screen and (max-width: $mobile-sm) {
            width: 100%;
          }

          .form-item {
            width: calc(50% - 20px);

            label {
              width: 100%;
              margin: 0 0 5px;
            }

            input {
              width: 100%;
            }

            &.form-type-item {
              width: 20px;
            }
          }
        }
      }

      .field--type-address {
        .address-container-inline {
          display: flex;
          flex-wrap: wrap;
          margin: 0 -16px;
          justify-content: space-between;

          .form-item {
            width: 50%;
            display: flex;
            flex-wrap: wrap;
            padding: 0 16px;
            align-items: center;
            @media only screen and (max-width: $mobile-sm) {
              width: 100%;
            }

            label {
              width: 125px;
              @media only screen and (max-width: $tablet) {
                width: 100px;
              }

              @media only screen and (max-width: $mobile-sm) {
                width: 50%;
              }

              @media only screen and (max-width: $mobile) {
                width: 100%;
              }
            }

            select,
            textarea,
            input {
              width: calc(100% - 125px);
              @media only screen and (max-width: $tablet) {
                width: calc(100% - 100px);
              }

              @media only screen and (max-width: $mobile-sm) {
                width: 50%;
              }

              @media only screen and (max-width: $mobile) {
                width: 100%;
              }
            }
          }

          &[data-drupal-selector$="shipping-profile-address-0-address-container0"],
          &[data-drupal-selector$="billing-information-address-0-address-container0"] {
            width: 50%;
            margin: 0;
            @media only screen and (max-width: $desktop) {
              width: 70%;
            }

            @media only screen and (max-width: $mobile-sm) {
              width: 100%;
            }

            .form-item {
              padding: 0;
              width: 100%;
              display: flex;
              flex-wrap: wrap;
              align-items: center;
            }
          }
        }
      }

      .form-submit {
        margin: 16px 0 0;
      }
    }
  }
}

.checkout-pane {
  .field--name-field-county {
    select {
      max-width: 50%;

      @media screen and (min-width: $tablet) {
        max-width: calc(100% - 125px);
      }
    }
  }
}
