.commerce-checkout-flow {
  padding-top: 30px;
  position: relative;
  @extend .wrapper-content;
  @media only screen and (max-width: $tablet) {
    padding-top: 25px;
  }
  @media only screen and (max-width: $mobile-sm) {
    padding-top: 20px;
  }

  .ajax-progress {
    &.ajax-progress-throbber {
      top: 50%;
      left: 50%;
      position: fixed;
      transform: translate(-50%, -50%);
    }
  }

  .layout-checkout-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;

    .layout-region-checkout-footer,
    .layout-region-checkout-main {
      padding-right: 2em;
      width: calc(100% - 280px);

      @media only screen and (max-width: $tablet-max) {
        width: calc(100% - 250px);
      }

      @media only screen and (max-width: $tablet) {
        width: 100%;
        padding-right: 0;
      }

      .form-actions {
        .button {
          padding-left: 20px;
          padding-right: 20px;
        }

        .link--previous {
          text-transform: capitalize;
          padding: 5px 6px;
          min-width: 80px;
          display: inline-block;
          text-align: center;
          border-radius: 8px;
          border: solid 1px $black;
          min-height: 29px;
          font-weight: bold;
          margin-left: 20px;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    .layout-region-checkout-secondary {
      margin: 0;
      width: 280px;
      border: 1px solid $silver;
      background-color: $silver-secondary;
      padding: 16px;
      border-radius: 10px;
      height: fit-content;

      @media only screen and (max-width: $tablet-max) {
        width: 250px;
      }

      @media only screen and (max-width: $tablet) {
        width: 100%;
      }
    }
  }

  .checkout-pane-shipping-information,
  .checkout-pane-payment-information {
    border: 0;
    margin: 0;
    padding: 0 25px 0 0;

    @media only screen and (max-width: $tablet-max) {
      padding: 0 25px 0 0;
    }

    @media only screen and (max-width: $tablet) {
      padding: 0 20px 0 0;
    }

    @media only screen and (max-width: $mobile-sm) {
      padding: 0;
    }

    legend {
      color: $black;
      padding: 16px 0;
      font-size: 14px;
      margin: 0 0 16px;
      font-weight: $normal;
      line-height: 19.36px;
      text-transform: capitalize;
      border-bottom: 1px solid rgba($light-black, 0.2);
    }

    label {
      font-weight: $normal;
    }

    .form-item {
      display: flex;
      flex-wrap: wrap;
      margin: 0 0 25px;
      align-items: center;

      @media only screen and (max-width: $tablet) {
        margin: 0 0 20px;
      }

      @media only screen and (max-width: $mobile-sm) {
        margin: 0 0 16px;
      }

      label {
        width: 115px;
        text-transform: capitalize;

        @media only screen and (max-width: $tablet) {
          width: 100px;
        }

        @media only screen and (max-width: $mobile-sm) {
          width: 50%;
        }

        @media only screen and (max-width: $mobile) {
          width: 100%;
        }

        &.visually-hidden {
          position: static !important;
        }
      }

      select,
      input {
        color: $light-black;
        width: calc(100% - 115px);

        @media only screen and (max-width: $tablet) {
          width: calc(100% - 100px);
        }

        @media only screen and (max-width: $mobile-sm) {
          width: 50%;
        }

        @media only screen and (max-width: $mobile) {
          width: 100%;
        }

        &::placeholder {
          color: $light-black;
        }
      }

      &.form-type-checkbox,
      &.form-type-radio {
        align-items: flex-start;
        justify-content: space-between;

        input {
          margin: 0;
          width: 16px;
          height: 16px;
          display: block;
          color: $light-black;

          &::placeholder {
            color: $light-black;
          }
        }

        label {
          padding: 0;
          width: calc(100% - 25px);

          &:before {
            display: none;
          }
        }

        .description {
          display: none;
        }

        &.form-item-shipping-information-shipments-0-shipping-method-0 {
          label {
            font-weight: $bold;
          }

          input[type="radio"] {
            display: none;
          }
        }
      }
    }

    .fieldset-wrapper {
      width: 100%;

      .authorize-net-accept-js-form {
        position: relative;
        margin-bottom: 30px;
        border-bottom: solid 1px rgba(51, 51, 51, 0.2);

        #payment-errors {
          margin: 0 0 16px 8px;
        }

        .form-item {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          align-items: center;

          @media only screen and (min-width: $desktop) {
            width: calc(50% - 16px);
          }

          label {
            margin: 0;
            width: 115px;
            @media only screen and (max-width: $tablet) {
              width: 100px;
            }

            @media only screen and (max-width: $mobile-sm) {
              width: 50%;
            }

            @media only screen and (max-width: $mobile) {
              width: 100%;
              margin: 0 0 5px;
            }
          }

          input {
            color: $light-black;
            width: calc(100% - 115px);

            @media only screen and (max-width: $tablet) {
              width: calc(100% - 100px);
            }

            @media only screen and (max-width: $mobile-sm) {
              width: 50%;
            }

            @media only screen and (max-width: $mobile) {
              width: 100%;
            }

            &::placeholder {
              color: $light-black;
            }
          }
        }

        .credit-card-form__expiration {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          @media only screen and (min-width: $desktop) {
            width: calc(37% - 16px);
          }

          @media only screen and (min-width: $tablet) and (max-width: $tablet-max) {
            width: calc(80% - 16px);
          }

          @media only screen and (max-width: $tablet) {
            width: calc(70% - 16px);
          }

          .form-item {
            width: calc(50% - 20px);

            label {
              width: 100%;
              margin: 0 0 5px;
            }

            input {
              width: 100%;
              color: $light-black;
              width: 130px;

              &::placeholder {
                color: $light-black;
              }
            }

            &.form-type-item {
              width: 20px;
            }
          }

          .credit-card-form__divider {
            margin: 0 0 -20px;
            @media only screen and (max-width: $tablet) {
              margin: 0 5px -20px;
            }
          }
        }

        .form-item-payment-information-add-payment-method-payment-details-security-code {
          position: absolute;
          bottom: 0;
          @media only screen and (min-width: $tablet) {
            right: 98px;
            width: calc(52% - 16px);
          }

          @media only screen and (min-width: $tablet) and (max-width: $tablet-max) {
            right: 0;
            width: calc(20% - 16px);
          }
          @media only screen and (max-width: $tablet) {
            right: 0;
            width: calc(30% - 16px);
          }

          label {
            width: 100%;
            margin: 0 0 5px;
          }

          input {
            width: 85px;
          }
        }
      }

      .field--type-address {
        .address-container-inline {
          margin: 0;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          @media only screen and (min-width: $desktop) {
            margin: 0 -16px;
          }

          .field--name-field-county,
          .form-item {
            padding: 0;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            @media only screen and (min-width: $desktop) {
              width: 50%;
              padding: 0 16px;
            }

            .form-type-select {
              width: 100%;
              padding: 0;
            }

            label {
              width: 115px;

              @media only screen and (max-width: $tablet) {
                width: 100px;
              }

              @media only screen and (max-width: $mobile-sm) {
                width: 50%;
              }

              @media only screen and (max-width: $mobile) {
                width: 100%;
              }
            }

            select,
            textarea,
            input {
              color: $light-black;
              display: block!important;
              width: calc(100% - 115px);

              @media only screen and (max-width: $tablet) {
                width: calc(100% - 100px);
              }

              @media only screen and (max-width: $mobile-sm) {
                width: 50%;
              }

              @media only screen and (max-width: $mobile) {
                width: 100%;
              }

              &::placeholder {
                color: $light-black;
              }
            }
          }
        }
      }

      .field--name-field-county {
        padding: 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        @media only screen and (min-width: $desktop) {
          width: 50%;
          padding: 0 16px;
        }

        .form-item {
          width: 100%;
          padding: 0 !important;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
        }

        label {
          width: 115px;
          flex: 0 0 115px;

          @media only screen and (max-width: $tablet) {
            width: 100px;
          }

          @media only screen and (max-width: $mobile-sm) {
            width: 50%;
            flex: 0 0 50%;
          }

          @media only screen and (max-width: $mobile) {
            width: 100%;
          }
        }

        select {
          color: $light-black;
          display: block!important;
          width: calc(100% - 115px);

          @media only screen and (max-width: $tablet) {
            width: calc(100% - 100px);
          }

          @media only screen and (max-width: $mobile-sm) {
            width: 50%;
          }

          @media only screen and (max-width: $mobile) {
            width: 100%;
          }

          &::placeholder {
            color: $light-black;
          }
        }
      }

      .form-submit {
        margin: 16px 0 0;
      }

      fieldset {
        &[data-drupal-selector$="payment-information-payment-method"] {
          margin: 0;
        }
      }

      div {
        &[data-drupal-selector$="shipping-information-shipments"] {
          .field--name-shipping-method {
            fieldset {
              margin: 0;
              .fieldset-wrapper {
                .form-radios {
                  .form-item {
                    margin: 0 0 25px;
                    @media only screen and(min-width: $tablet) {
                      margin: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
