.path-user {
  .user-login-form,
  .user-pass,
  .user-register-form,
  .user-pass-reset {
    @extend .wrapper-content;
    word-wrap: break-word;
    

    @media only screen and (min-width: $tablet-max) {
      width: 50%;
      margin-left: 7%;
    }

    .form-submit {
      font-size: 14px;
    }
  }

  .user-login-form,
  .user-pass,
  .user-register-form {
    padding-top: 50px;
    padding-bottom: 50px;

    @media only screen and(max-width: $tablet-max) {
      padding-top: 35px;
      padding-bottom: 35px;
    }

    @media only screen and(max-width: $tablet-max) {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  .block-local-tasks-block {
    @extend .wrapper-content;
    display: flex;
    flex-wrap: wrap;
    padding-top: 16px;
    align-items: center;
    padding-bottom: 16px;

    @media only screen and (max-width: $tablet) {
      justify-content: flex-start;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .tabs {
      .primary {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        border: 1px solid $black;
        @media screen and (max-width: $tablet-max) {
          border: 0;
        }
      }

      a {
        margin: 0;
        padding: 0;
        font-size: 16px;
        font-weight: 400;
        color: $light-black;
        letter-spacing: 0.2px;
        background-color: transparent;
        color: $pantone;
        font-weight: $bold;
        padding: 12px 14px;
        position: relative;
        background: $gray;
        transition: 0.2s ease all;
        font-size: 14px;
        border-right: 1px solid $black;

        @media screen and (max-width: $tablet) {
          font-size: 12px;
        }

        &.is-active,
        &:hover {
          color: $white;
          background: $black;
        }
      }

      li {
        margin: 0 0 5px;

        @media screen and (min-width: $tablet-max) {
          margin: 0;
        }

        @media screen and (max-width: $tablet-max) {
          margin-bottom: 5px;
        }

        &:last-child {
          a {
            border-right: 0;
          }
        }
      }
    }
  }

  .main-contane {
    form {
      label {
        font-size: 16px;
        margin: 0 0 8px;
        font-weight: 400;
        color: $light-black;
        letter-spacing: 0.2px;

        &:after {
          content: '';
          background-image: url('#{$image-base-path}/required.svg');
        }
      }

      .form-item {
        margin: 0 0 30px;
        @media only screen and (max-width: $tablet) {
          margin: 0 0 15px;
        }

        input {
          height: 53px;
          padding: 12px 15px;
          border: 1px solid $gray;

          @media only screen and (max-width: $tablet) {
            height: 43px;
          }
        }

        .description {
          font-size: 13px;
          font-weight: 400;
          margin: 5px 0 0;
          color: $light-black;
          letter-spacing: 0.1px;
        }
      }

      .form-actions {
        padding: 0;
        margin: 0 0 30px;
        @media only screen and (max-width: $tablet) {
          margin: 0 0 15px;
        }

        .button {
          min-height: 53px;
          min-width: 200px;
          border-radius: 4px;
          @media only screen and (max-width: $tablet) {
            min-height: 43px;
            min-width: 150px;
          }
        }
      }

      &.user-pass {
        .form-item {
          margin: 0;
        }

        p {
          margin: 5px 0 0;
          font-size: 13px;
          font-weight: 400;
          color: $light-black;
          letter-spacing: 0.1px;
        }

        .form-actions {
          margin: 30px 0;
          @media only screen and (max-width: $tablet) {
            margin: 15px 0;
          }
        }
      }
    }
  }

  .user-pass-reset {
    text-align: center;
    width: 100%;
    margin: auto;
    padding: 50px 0;

    p {
      font-size: 14px;
    }

    .form-submit {
      margin-top: 20px;
    }
  }
}
