.commerce-wishlist-form {
  @extend .wrapper-content;
}

.wishlist {
  &__heading {
    font-size: 24px;
    font-weight: $bold;
    line-height: 30px;
    padding: 24px 0;
  }

  &-header {
    border-bottom: 1px solid $gray;
    margin-bottom: 15px;
    font-size: 14px;
    background-color: rgb(240, 240, 240);
    padding: 0;
    display: grid;
    grid-template-columns: 20% 25% 25% 30%;
    @media screen and (max-width: $tablet) {
      grid-template-columns: 20% 25% 17% 38%;
    }

    .item-heading,
    .item-quantity,
    .form-wrapper,
    .item-product-image {
      font-size: 13px;
      font-weight: $bold;
      padding: 10px;
      display: flex;
      align-items: center;

      @media screen and (min-width: $tablet-max) {
        font-size: 15px;
      }
    }

    .form-wrapper {
      display: flex;
      align-items: center;
      @media screen and (max-width: $tablet-max) {
        flex-direction: column;
      }

      input,
      a {
        font-size: 10px;
        margin: 0 5px;
        line-height: 1.2;
        display: flex;
        align-items: center;
        justify-content: center;

        @media  screen and (min-width: $tablet-max) {
          font-size: 12px;
        }

        @media  screen and (max-width: $tablet-max) {
          min-width: 100%;
          white-space: normal;
          font-size: 8px;
        }
      }

      input {
        @media screen and (max-width: $tablet-max) {
          margin: 0 0 5px;
        }
      }

      a {
        @media screen and (max-width: $tablet-max) {
          margin: 0;
        }
      }
    }
  }

  &-item {
    margin: 0;
    grid-gap: unset;
    padding-bottom: 14px;
    border-bottom: 1px solid $gray;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 20% 25% 25% 30%;
    @media screen and (max-width: $tablet) {
      grid-template-columns: 20% 25% 17% 38%;
    }

    img {
      padding: 10px;
      border: solid 1px $para;
      margin: 0 0 10px;
      width: 80%;
      object-fit: contain;
      @media screen and (min-width: $tablet-max) {
        min-height: 160px;
      }
    }

    &__product, 
    &__entity,
    &__details,
    &__actions {
      padding: 10px;
    }

    &:last-child {
      border-bottom: 0;
    }

    &__entity {
      .field--name-qty-increments {
        display: none;
      }
    }

    &__actions {
      .form-wrapper {
        display: flex;
        align-items: center;
        @media screen and (max-width: $tablet-max) {
          flex-direction: column;
        }
      }

      .form-submit {
        margin: 0 5px;
        font-size: 10px;
        @media screen and (max-width: $tablet-max) {
          margin: 0 0 5px;
        }

        @media screen and (min-width: $tablet-max) {
          margin-bottom: 0;
          font-size: 12px;
        }

        &:last-child {
          @media screen and (max-width: $tablet) {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  &-empty-page {
    @extend .wrapper-content;
    @extend .view-empty;
  }
}
