.commerce-wishlist-form {
  @extend .wrapper-content;
}

.wishlist {
  &__heading {
    font-size: 24px;
    font-weight: $bold;
    line-height: 30px;
    padding: 24px 0;
  }

  &-header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding-bottom: 12px;
    border-bottom: 1px solid $gray;
    margin-bottom: 15px;
    overflow-x: scroll;

    .item-heading,
    .item-quantity,
    .form-wrapper {
      flex: 0 0 30%;
      font-size: 13px;
      font-weight: $bold;

      @media screen and (min-width: $tablet-max) {
        font-size: 15px;
        flex: 0 0 33%;
      }
    }

    .form-wrapper {
      flex: 0 0 33%;

      input, a {
        font-size: 10px;
        margin-left: 0;

        @media  screen and (min-width: $tablet-max) {
          font-size: 12px;
        }
      }

      input {
        margin-bottom: 5px;
      }
    }
  }

  &-item {
    display: flex;
    margin: 0;
    grid-gap: unset;
    padding-bottom: 14px;
    border-bottom: 1px solid $gray;
    margin-bottom: 15px;

    &__quantity {
      padding-left: 20px;
      @media screen and (min-width: $tablet-max) {
        padding-left: 24px;
      }
    }

    &:last-child {
      border-bottom: 0;
    }

    &__actions {
      flex: 0 0 33%;
    }

    &__entity,
    &__details {
      flex: 0 0 30%;

      @media screen and (min-width: $tablet-max) {
        flex: 0 0 33%;
      }
    }

    &__entity {
      .field--name-qty-increments {
        display: none;
      }
    }

    &__actions {

      .form-submit {
        margin-left: 0;
        margin-bottom: 5px;
        font-size: 10px;

        @media screen and (min-width: $tablet-max) {
          margin-bottom: 0;
          font-size: 12px;
        }
      }
    }
  }

  &-empty-page {
    @extend .wrapper-content;
    @extend .view-empty;
  }
}
