.accordion {
  border-bottom: 1px solid rgba($color-gray-light, 0.6);

  &.has-no-ui {
      border: 0;
  }
}

.accordion-header {
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  justify-content: space-between;
}

.accordion-title {
  @extend %h4;
  margin: 0;
}

.accordion-toggle {
  @include button-reset;
  @include imgtxt;
  position: relative;
  flex-shrink: 0;
  width: 3rem;

  &::before,
  &::after {
    content: "";
    width: 0.625rem;
    height: 0.125rem;
    background: $color-off-black;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -0.0625em;
    transition: 120ms ease;
  }

  &::after {
    transform: rotate(90deg);
  }
}

.accordion-body {
  padding-bottom: 1em;
  transition: 200ms ease;
}

.accordion-body--capped {
  max-height: 15em;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.accordion:not(.accordion--active) {
  .accordion-body {
    padding-top: 0;
    padding-bottom: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
  }
}

.accordion--active {
  .accordion-toggle::after {
    opacity: 0;
    transform: rotate(0deg);
  }
}

.hubspot-tabs-content li {
  display: none;

  &.active {
    display: block;
    min-width: 100%;

    &.link-field {
      display: none;
    }
  }
}
