.article {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
}

.article-header {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid rgba($color-gray-light, 0.6);
    text-align: center;
}

.article-meta {
    font-size: 0.9375rem;
    color: $color-gray;

    // Accommodate max-width on p tags
    margin-left: auto;
    margin-right: auto;

    a {
        font-weight: 500;
    }

    p {
      margin-bottom: 0;
    }
}

.article-body {
    font-size: 1.125em;
    @extend %wysiwyg-content;
}

.article-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    margin-top: 2rem;
    border-top: 1px solid rgba($color-gray-light, 0.6);
}

/**
 * TEASER
 */
.teaser-title {
    margin: 0 0 0.75rem;

    a {
        color: inherit;
    }
}

.teaser-subtitle {
    font-size: 0.9375em;
    color: $color-gray;
    margin: 0 0 0.75rem;
}

.teaser-body {
    font-size: 1.125em;
    color: $color-gray;
}

/**
 * ARTICLES LIST
 */

.articles-list-item {
    @include fluid-property(margin-bottom, 1rem, 2rem, 30rem, 60rem, height);
}

.articles-list-item + .articles-list-item {
    border-top: 1px solid rgba($color-gray-light, 0.5);
    @include fluid-property(padding-top, 1rem, 2rem, 30rem, 60rem, height);
}

.news-list {
  .teaser-body {
    p {
      display: contents;
    }
  }
}

.article-detail {
  .title-bottom {
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width: $breakpoint-gallery-small) {
      flex-direction: column;
    }

    .press-release-download {
      font-size: 0.9375rem;
    }
  }
}