$checkable-card-gap-map: (
    0: 0.5em,
    $breakpoint-nav-inline: 0.875em,
    $breakpoint-catalog-sidebar-visible: 1.75em,
);
$breakpoint-checkable-card-vertical: $breakpoint-nav-inline;

.checkable-cards {
    display: flex;
    flex-wrap: wrap;
    @include property-scale((margin-left, margin-right), map-multiplier($checkable-card-gap-map, -0.5));
}
.checkable-cards-item {
    position: relative;
    display: flex;
    flex-basis: 100%;
    @include property-scale(padding, map-multiplier($checkable-card-gap-map, 0.5));
    -webkit-tap-highlight-color: transparent;

    &.active-tab {
      .selected {
        opacity: 1;
      }
    }
}
.checkable-card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-radius: 0.25em;
    border: 1px solid rgba($color-gray-light, 0.5);
    box-shadow: 0 0.125em 0.25em rgba(#000, 0.05);
    padding: 0.625em 1.25em;
    width: 100%;
    transition: background 200ms ease, border 200ms ease, box-shadow 200ms ease;
    color: $color-off-black;
}
.checkable-card-input {
    @include visually-hidden;
}
.checkable-card-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 200ms ease;
    @media only screen and (max-width: $media-screen-tablet) {
        width: 2.5rem;
        height: 2.5rem;
    }

    svg,
    img {
        width: 2.5em;
        height: 2.5em;
    }
}
.checkable-card-label {
    letter-spacing: -0.025em;
    @media only screen and (max-width: $media-screen-tablet) {
        width: calc(100% - 3.125rem);
    }

    &::before {
        font-size: 0.75rem;
        font-weight: normal;
        transition: 200ms ease;
        color: #fff;

        @media only screen and (max-width: $media-screen-tablet) {
            display: none;
        }
    }

    .selected {
      opacity: 0;
      font-size: 0.85rem;
      font-weight: normal;
      transition: 200ms ease;
      color: #fff;

      @media only screen and (max-width: $media-screen-tablet) {
          display: none;
      }
  }
}
/**
 * CHECKED STATES
 */
.checkable-card-input:not(:checked) + .checkable-card {
    .checkable-card-icon {
        color: $color-orange;
    }

    .checkable-card-label::before {
        opacity: 0;
        transform: translateY(1em);
    }
}
.checkable-card-input:checked + .checkable-card,
.views-row.active-tab .checkable-card {
    background: $color-orange;
    border-color: $color-orange;
    color: #fff;
    box-shadow: 0 0.125em 1.25em rgba(#000, 0.23);

    img {
      filter: brightness(0) invert(1);
    }
}
/**
 * HOVER/FOCUS STATE
 */
.checkable-card-input:focus + .checkable-card,
.checkable-card:hover {
    cursor: pointer;
    border-color: $color-gray-light;
    box-shadow: 0 0.125em 1.25em rgba(#000, 0.23);
}
/**
 * VERTICAL VARIATION
 */
@media (max-width: $breakpoint-checkable-card-vertical - 1) {
    .checkable-cards-item {
        flex-basis: 100%;
    }
    .checkable-card-label {
      padding-left: 1rem;
      flex-grow: 1;

      &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        padding: 0.5em;
        writing-mode: vertical-lr;
      }
    }

    .checkable-card-input:not(:checked) + .checkable-card {
        .checkable-card-label::before {
            transform: translateX(1em);
        }
    }
}
@media (min-width: $sm) {
    .checkable-cards-item {
        flex-basis: 50%;
    }
}

@media (min-width: $md) {
    .checkable-cards-item {
        flex-basis: 33.3333%;
        min-width: 8.5em;
        max-width: 15.625em;
    }
    .checkable-card {
        flex-direction: column;
    }

    .checkable-card-icon {
        flex-grow: 1;
        padding-top: 1.25em;

        svg,
        img {
            width: 4.6875em;
            height: 4.6875em;
        }
    }

    .checkable-card-label {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-basis: 5em;
      font-size: 1.125em;
      font-weight: 500;
      text-align: center;
      width: 100%;

      &::before {
        letter-spacing: 0.015625em;
        padding-bottom: 0.5em;
      }

      .selected {
        letter-spacing: 0.015625em;
        padding-bottom: 0.5em;
      }
    }

    .checkable-card-input:checked + .checkable-card {
        .checkable-card-icon {
            transform: translateY(-0.5em);
        }
    }
}
