$filter-bar-border-color: rgba($color-gray-light, 0.5);
.filter-bar {
    background: #fff;
    display: flex;
    overflow: hidden;
    margin: 0;
    justify-content: center;

    @media (max-width: $breakpoint-layout-horizontal) {
        flex-wrap: wrap;
        padding: 0 15px;
    }
}

.filter-bar-item {
    display: flex;

    @media (max-width: $breakpoint-layout-horizontal - 1) {
        flex-grow: 1;
        border-bottom: 1px solid $filter-bar-border-color;
    }

    @media (min-width: $breakpoint-card-grid) {
        max-width: 20em;
    }

    @media (min-width: $breakpoint-layout-horizontal) {
        &--push {
            &:last-child {
                border-right-color: transparent;
            }
        }
    }
}

.filter {
    position: relative;
    height: 4.25rem;
    display: flex;
    width: 100%;
}

.filter-label {
    position: absolute;
    top: 0.75rem;
    left: 1.5rem;
    right: 1.5rem;
    overflow: hidden;
    font-weight: 500;
    font-size: 0.75rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    pointer-events: none;
}

.filter-input {
    padding-top: 1rem;
    padding-left: 1.5rem;
    height: 100%;
    font-size: 1.125rem;
    width: 100%;

    &,
    &:focus {
        box-shadow: none;
    }

    &:hover {
        background-color: $color-accent-bg;
    }
}

select.filter-input {
    padding-right: 3rem;
    background-position: calc(100% - 1.5rem) calc(100% - 1.25rem);
}

.filter-bar-action {
    display: flex;
    padding: 0.75em 0.75em 0.75em 0;

    @media only screen and(min-width: $media-screen-mobile) {
        .button {
            height: auto;
        }
    }
}
