.ajax-new-content {
  opacity: 1 !important;
}

.multi-steps-label {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: $color-silver;
  border-bottom: 1px solid hsla(0,0%,80%,.43);
  @media only screen and (max-width: $media-screen-tablet) {
    flex-direction: column;
  }

  .step-label {
    padding: 0;
    color: $color-off-black;

    span {
      display: block;
      padding: 0.75em 1em;
      font-size: 1.1rem;
      color: $color-off-black;
      text-align: center;
      border-right: 1px solid hsla(0,0%,80%,.43);
      @media only screen and (max-width: $media-screen-medium) {
        font-size: 0.64rem;
      }

      @media only screen and (max-width: $media-screen-tablet) {
        font-size: 1.1rem;
        border-bottom: 1px solid hsla(0,0%,80%,.43);
      }

    }

    &.active {
      color: $color-orange;
      span {
        color: $color-orange;
      }
    }

    &:last-child span {
      border-right: 0;
      @media only screen and (max-width: $media-screen-tablet) {
        border-bottom: 0;
      }
    }
  }
}

.quotation-add-form {
  input {
    width: 100%;

    &[type='checkbox'],
    &[type='radio'] {
      width: auto;
      border: 0;
      box-shadow: none;
    }

    &[type='file'] {
      padding: 13px;
    }
  }

  .form-item {
    margin: 0;
  }

  .form-actions {
    margin: 0;
    text-align: center;
    display: inline-block;
    width: 100%;
    @media only screen and (max-width: $media-screen-tablet) {
      padding: 0 1rem;
    }

    button {
      margin: 2rem 0 !important;
      white-space: normal;
      word-wrap: break-word;
    }
  }

  table {
    width: 100%;
    box-shadow: none;
    table-layout: fixed;
  }

  tbody {
    .field-multiple-drag {
      display: none !important;
    }

    tr {
      td {
        border: 0;
        padding: 0!important;
      }
    }
  }

  thead {
    display: none;
  }

  .draggable {
    position: relative;
    width: 100%;

    .description {
      font-size: 16px;
      color: $color-off-black;
      line-height: $line-height-default;

      strong {
        font-weight: 700;
        font-style: normal;
      }

      ul {
        margin: 16px 0;
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        padding-left: 40px;
      }

      em {
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
      }
    }
  }

  #edit-field-upload-wrapper {
    .paragraphs-subform {
      display: grid;
      grid-template-columns: 49% 49%;
      grid-column-gap: 2%;
      @media only screen and (max-width: $media-screen-tablet) {
        display: flex;
        flex-direction: column;
      }

      & > div {
        margin-bottom: 25px;

        button {
          margin: 1rem 0;
          min-width: 10rem;
        }
      }
    }
  }

  .field-multiple-table {
    .draggable {
      .form-wrapper {
        .paragraphs-subform {
          margin: 0;
          padding: 0;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          .field--type-list-string,
          .field--type-string-long,
          .field--type-boolean,
          .field--type-string {
            width: 50%;
            padding: 0 16px;
            margin-bottom: 30px;

            legend {
              display: none;
            }

            .fieldset-wrapper {
              > div {
                margin: 0;
                padding: 0;
                display: flex;
                flex-wrap: wrap;
                align-items: center;

                .form-item {
                  display: none;

                  &:last-child {
                    display: flex;
                    align-items: center;
                  }

                  label {
                    margin: 0 0 0 10px;
                    position: relative;
                  }
                }
              }
            }

            &.field--name-field-type- {
              display: none;
            }

            &.field--name-field-blade-width {
              margin-left: auto;
            }
          }

          .field--type-physical-measurement,
          .field--type-double-field,
          .field--type-triples-field {
            width: 33.33%;
            padding: 0 16px;
            margin-bottom: 30px;

            .form-type-physical-measurement {
              .form-item {
                margin: 0 0 16px;
              }
            }
          }

          .field--type-triples-field,
          .field--type-double-field {
            .form-item {
              label {
                display: none;
              }

              .triples-field-elements,
              .double-field-elements {
                .triples-field-subfield-form-item,
                .double-field-subfield-form-item {
                  display: flex;
                  margin: 0 0 10px;
                  align-items: center;
                  flex-wrap: wrap;

                  label {
                    margin: 0;
                    display: block;
                  }

                  select {
                    margin: 10px 0 0;
                  }
                }
              }

              .double-field-elements {
                width: 100%;
              }
            }
          }
        }

        .paragraphs-content {
          .form-item {
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            label {
              margin: 0;
            }

            select {
              margin: 10px 0 0;
            }

            input[type="text"] {
              margin: 10px 0 0;
            }
          }
        }
      }

      &.paragraph-type--male-hex-drive-standard-type,
      &.paragraph-type--female-square-drive-short,
      &.paragraph-type--female-square-drive-standard-typ {
        .paragraphs-subform {
          margin: 0;
          padding: 0;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          .field--type-boolean,
          .field--type-list-string {
            width: 33.33%;
            padding: 0 16px;
          }
        }
      }

      #field-custom-quotation-worksheet-4-item-wrapper {
        .paragraphs-nested {

        }
      }

      &.paragraph-type--dimensions {
        .field--name-field-l-shank-length {
          .form-item {
            label {
              width: 100%;
            }

            .form-no-label {
              width: 100%;
            }
          }
        }
      }
    }
  }

  .grid-12 {
    @media only screen and (max-width: $media-screen-medium) {
      width: 99% !important;
    }
  }

  .tabledrag-toggle-weight-wrapper {
    display: none;
  }
}

// First set of third step
#edit-field-quotation-screwdriver-styl-wrapper {
  display: inline-block;
  padding: 0 2rem 2rem;
  width: 98%;

  & > div {
    & > div {
      & > table {
        thead {
          display: block;
          background-color: transparent;
          tr,
          th {
            display: block;
            color: $color-orange;
            padding: 1rem !important;
            border: 0;

            h4 {
              font-size: 1rem;
              margin-bottom: 0;
              font-weight: 500;
              text-transform: initial;
            }
          }
        }

        tbody {
          display: grid;
          grid-template-columns: 49% 49%;
          grid-column-gap: 2%;
          td {
            border: 0;
            display: block;
          }
          .paragraphs-subform {
            width: 100%;
            display: grid;
            grid-template-columns: 30% 20% 42%;
            grid-column-gap: 4%;

            .form-item {
              display: flex;
              flex-direction: column;
            }

            .js-form-type-radio {
              flex-direction: row;
            }

            label {
              margin-bottom: 0;
            }

            fieldset {
              & > .fieldset-wrapper {
                & > div {
                  div {
                    display: none;
                    &:last-child {
                      display: flex;
                    }

                    label {
                      padding: 0 10px 0;
                    }
                  }
                }
              }

              legend {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

#edit-field-custom-quotation-worksheet-wrapper {
  & > .paragraphs-tabs-wrapper {
    & > .form-item {
      & > table.field-multiple-table {
        & > tbody {
          & > tr {
  
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3) {
              display: none;
            }

            td.field-multiple-drag {
              display: block;
              position: relative;
              width: 100%;
            }
          }
        }
      }
    }

    .paragraphs-tabs.tabs {
      display: none;
    }
  }

  .ajax-new-content {
    opacity: 1 !important;
  }
}

// Style for third step.
#edit-field-custom-quotation-worksheet-add-more {
  margin-left: .83333333333333%;
  margin-right: .83333333333333%;
  display: none;

  &.show-button {
    display: unset;
  }
}

.field--type-entity-reference-revisions .clearfix {
  display: none;
}

// Style for forth Step.
#edit-field-image-uploads-4-0-subform {
  display: grid;
  grid-template-columns: 49% 49%;
  grid-column-gap: 2%;
  @media only screen and (max-width: $media-screen-medium) {
    display: flex;
    flex-direction: column;
  }

  td {
    border: 0;
    padding: 2rem !important;
    margin: 8.8888%;
  }

  tr {
    border: 0;
  }

  button {
    margin: 1rem 0;
    min-width: 10rem;
  }
}

.js {
  .paragraph-top {
    display: none;
  }
  .js-hide {
    display: unset;
  }

  #edit-field-custom-quotation-worksheet-wrapper {
    & > .paragraphs-tabs-wrapper {
      & > .form-item {
        & > table.field-multiple-table {
          & > tbody {
            & > tr {
              .paragraph-top {
                display: flex;
                width: 100%;
                justify-content: space-between;

                &.collapse-wrapper {
                  display: none;
                }
              }
          
              .paragraphs-dropdown {
                width: 150px;
                padding: 12px;
          
                .paragraphs-dropdown-actions {
                  display: block;
                  position: absolute;
                  left: 0;
                  top: 0;
                  height: 100%;
                  border-radius: 0;
                  border: 0;
                  box-shadow: none;
          
                  button {
                    height: 100%;
                    border-radius: 0;
                    box-shadow: none;
                  }
                }
              }
            }
          }
        }
      }
    }

    & > div {
      & > .form-item {
        & > .clearfix {
          display: unset;
        }
      }
    }
  }
}

div.notice--info {
  display: none !important;
}

.multi-form {
  .sel-form {
    width: 100%;
    padding: 0;
    border: 1px solid hsla(0,0%,80%,.43);
    display: inline-block;

    label {
      color: $color-off-black;
    }
  }
}

#edit-back-button {
  display: none;
}

#edit-group-business-information,
#edit-group-request-for-reactivation,
#edit-group-custom-drive-tool {
  display: inline-block;
  padding: 2rem;
  width: 100%;
  @media only screen and (max-width: $media-screen-tablet) {
    padding: 2rem 1rem 0;
  }

  &.hide {
    display: none;
  }
  &.show {
    display: block;
  }
}

#edit-actions {
  &.hide {
    display: none;
  }
  &.show {
    display: block;
  }
}

.checkbox-second-step {
  .fieldset-wrapper {
    & > div {
      display: flex;
    }

    .form-item {
      display: flex;
      width: auto;
      margin-right: 65px;

      input {
        display: none;

        &:checked + label {
          background: transparent url(../img/check-on.png) left center no-repeat;
          color: $color-orange;
        }
      }

      label {
        margin-bottom: 0;
        padding-left: 28px;
        background: transparent url(../img/check-off.png) left center no-repeat;
        color: $color-off-black;
        cursor: pointer;
      }
    }
  }

  legend {
    margin-bottom: 10px;
    @media only screen and (max-width: $media-screen-medium) {
      padding: 0;
    }
  }
}
