/**
 * TESTIMONIALS STRAP
 */
.testimonials-strap {
  position: relative;
}

.testimonials-strap-img {
  vertical-align: bottom;
}

@media (min-width: $breakpoint-layout-horizontal) {
  .testimonials-strap {
    display: flex;
    justify-content: flex-end;
  }

  .testimonials-strap-image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .testimonials-strap-image img,
  .testimonials-strap-img {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
  }

  .testimonials-strap-content {
    position: relative;
    padding-top: 2rem;
    flex-basis: 50%;
    min-width: 34em;
  }
}

/**
 * TESTIMONIALS
 */
.testimonials {
  @include watermark(#fff);
  @include property-scale(padding, map-multiplier($container-padding-map, 2));
  background: $color-orange;
  color: #fff;

  .testimonials-item,
  .testimonials-nav {
    position: relative;
  }
}

/**
 * TESTIMONIAL
 */
.testimonial-quote {
  font-weight: 500;
  @include fluid-property(font-size, 1.25em, 1.75em, 20rem, 40rem);

  > :first-child {
    &::before {
      content: "“";
    }
  }

  > :last-child {
    &::after {
      content: "”"
    }
  }
}

.testimonial-citation {
  display: block;
  @include fluid-property(font-size, 0.75em, 1.125em, 20rem, 40rem);
  font-weight: 500;
  line-height: $line-height-tight;
}

/**
 * NAV
 */
.testimonials-nav {
  display: flex;
  justify-content: flex-end;
}

.testimonials-button {
  @include imgtxt;
  @include button-reset;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: no-repeat center center;

  &--prev {
    background-image: url(svg-background($svg-chevron-left, #fff));
  }

  &--next {
    background-image: url(svg-background($svg-chevron-right, #fff));
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

/**
 * TRANSITION
 */
.testimonials-item {
  position: relative;
  z-index: 1;
  transition: 200ms ease;

  &.v-enter {
    opacity: 0;
    transform: translateY(1em);
  }

  &.v-leave,
  &.v-leave-to {
    display: none;
  }
}
