@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/View: Media Pages
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * View
 */

.mobile-view-filter-header {
  display: flex;
  justify-content: end;
  margin-bottom: 0.2rem;

  .filter-icon {
    @include icon('sort', after);
  }

  @include media('>=md') {
    .filter-icon {
      visibility: hidden;
    }
  }
}

.view-media-pages {
  display: grid;

  @include media('>=md') {
    column-gap: rem(40px);
  }

  .pager {
    grid-column-start: 2;
    grid-column-end: 4;

    @include media('<md') {
      grid-column-start: 1;
    }
  }

  .view-header {
    @include type-header(h6, $black, included);
    @include flex();
    @include flex-x(justify-content, space-between);

    grid-column-start: 1;
    grid-column-end: 4;
    margin: 0;
    padding: 1rem 0;

    .controls {
      text-align: right;
      width: 25%;
    }
  }

  .view-filters {
    display: none;
    grid-column: 1;

    @include media('>=md') {
      display: block;
    }

    .fieldset-legend {
      display: none;
    }
    &.mobile-show {
      display: flex;
      flex-direction: column;
      background-color: #FFFFFF;
      box-shadow: 0 0 3rem 5rem rgba(0, 0, 0, 0.6);
      bottom: 0;
      left: 15vw;
      overflow: scroll;
      padding-top: 75px;
      padding-left: 1rem;
      position: fixed;
      top: 0;
      right: 0;
      width: 85vw;
      z-index: 499;

      &.hide {
        display: none;
        z-index: -5;
      }

      .views-exposed-form.bef-exposed-form {
        order: 9;
      }

      .fieldgroup {
        width: 85%;
      }

      .mobile-filter-header {
        border-bottom: 1px solid #000000;
        height: 3rem;
        max-width: 100%;
        order: 3;
      }

      .mobile-filter-header-inner {
        align-items: center;
        display: flex;
        height: 3rem;
        justify-content: space-between;
        padding-right: 1.5rem;
      }

      .mobile-close-icon {
        height: 2rem;
        width: 2rem;

        &::before {
          font-family: 'themeIcons';
          content: icon-char('close');
        }
      }

      legend {
        width: 85vw;

        .fieldset-legend {
          padding-right: 3.8rem;
          width: 100%;
        }
      }
    }
  }

  .view-container {
    grid-column: 2;
  }

  .view-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(25px); // sass-lint:disable-line no-misspelled-properties

    @include media('>=sm') {
      grid-template-columns: repeat(3, 1fr);
    }

    @include media('>=md') {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media('>=lg') {
      grid-template-columns: repeat(3, 1fr);
      grid-column: 2 / 4;
    }

    .views-row {
      .node--view-mode-teaser {
        width: 100%;
      }
    }
  }
}

.chips {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;

  .chip {
    background-color: $black;
    color: $white;
    margin: 0.2rem;
    padding: 0.2rem 0.4rem;
    white-space: nowrap;

    .chip-close-icon {

      &::before {
        font-family: 'themeIcons';
        content: icon-char('close');
        margin-left: 1rem;
      }
    }
  }
}
