@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Paragraph: Product Slider
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Component
 */
.view-related-products {
  margin-bottom: 3rem;

  .view-content {
    width: 100%;
    position: relative;

    .view-related-products-slider__list-wrapper {
      overflow: visible;
      padding: 0;
      width: 100%;

      @include media('<md') {
        overflow: hidden;
      }

      .view-related-products-slider__list {
        list-style: none;
        padding: 0;

        .view-related-products-slider__list-item {
          width: 25%;

          @include media('<md') {
            width: 50%;
          }
        }

        .view-related-products-slider__list-item .node--type-product {
          width: 100%;
        }

        .view-related-products-slider__list-item.swiper-slide {
          opacity: .1;
          pointer-events: none;
        }

        .view-related-products-slider__list-item.swiper-slide-visible {
          opacity: 1;
        }

        .view-related-products-slider__list-item.active-pointer {
          pointer-events: initial;
        }
      }

      .view-related-products-slider__button {
        background: none;
        color: $primary-red;
        font-size: rem(50px);
        height: auto;
        width: 5rem;
        margin: 0;
        padding: 0;
        opacity: 1;
        top: 40%;

        @include on-event {
          color: $primary-dark;
        }

        &.view-related-products-slider__button-prev {
          @include icon('chevron-left-white', after, false);
          left: rem(-98px);

          @include media('<1401px') {
            left: rem(-74px);
          }

          @include media('<1336px') {
            display: none;
          }
        }

        &.view-related-products-slider__button-next {
          @include icon('chevron-right-white', after, false);
          right: rem(-98px);

          @include media('<1400px') {
            right: rem(-74px);
          }

          @include media('<1336px') {
            display: none;
          }
        }
      }
    }

    .view-related-products-slider__controls {
      align-items: center;
      display: flex;
      justify-content: center;
      position: relative;
      width: 100%;

      .view-related-products-slider__button {
        background: none;
        border: 0;
        color: $primary-red;
        font-size: rem(30px);
        display: none;
        height: 2.75rem;
        width: 5rem;
        margin: 0;
        padding: 0;
        position: relative;
        opacity: 1;

        @include media('<md') {
          height: rem(40px);
          width: rem(40px);
        }

        @include media('<1336px') {
          display: block;
        }

        &.view-related-products-slider__pseudo-button-prev {
          @include icon('chevron-left-white', after, false);
          margin-right: 1rem;
        }

        &.view-related-products-slider__pseudo-button-next {
          @include icon('chevron-right-white', after, false);
          margin-left: 1rem;
        }
      }

      .view-related-products-slider__pagination {
        position: relative;

        .swiper-pagination-bullet {
          background: transparent;
          border-color: $primary-red;
        }

        .swiper-pagination-bullet-active {
          background: $primary-red;
        }
      }
    }
  }
}



