@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Node: Full Default
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Component
 */

.node--type-product-category.node--view-mode-full .node__content {
  .page-heading {
    @include flex();
    flex-flow: row wrap;
    margin-bottom: 3rem;

    @include media('>=lg') {
      margin-bottom: 2rem;
    }

    .heading-left {
      flex: 0 0 100%;
      margin-bottom: 3rem;

      @include media('>=lg') {
        flex: 3;
        margin-bottom: 0;
        padding-right: 50px;
      }
    }

    .heading-right {
      flex: 0 0 100%;

      @include media('>=lg') {
        flex: 1;
      }
    }
  }

  .field--name-field-link {
    text-align: center;

    a {
      @include btn();
    }
  }

  .field--name-field-media {
    @include container-full-width();
    margin-bottom: 3rem;

    .media {
      height: 500px;

      picture {
        width: 100%;
        height: 100%;
        display: flex;

        img {
          object-fit: cover;
          height: auto;
          width: 100%;
        }
      }
    }
  }

  .product-category-view-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(24px); // sass-lint:disable-line no-misspelled-properties
    grid-auto-rows: minmax(100px, auto);

    @include media('>=md') {
      grid-template-columns: repeat(3, 1fr);
    }

    .sata-product-category-filters {
      display: none;
      grid-column: 1;
      height: 100vh;
      overflow: hidden scroll;

      scrollbar-width: thin; // sass-lint:disable-line no-misspelled-properties
      scrollbar-color: $primary-emerald transparent; // sass-lint:disable-line no-misspelled-properties

      &::-webkit-scrollbar {
        width: 5px;               /* width of the entire scrollbar */
      }

      &::-webkit-scrollbar-track {
        background: transparent;        /* color of the tracking area */
      }

      &::-webkit-scrollbar-thumb {
        background-color: $primary-emerald;    /* color of the scroll thumb */
        border-radius: 20px;       /* roundness of the scroll thumb */
        border: 3px solid transparent;  /* creates padding around scroll thumb */
      }

      &.mobile-show {
        display: flex;
        flex-direction: column;
        background-color: #FFFFFF;
        box-shadow: 0 0 3rem 5rem rgba(0, 0, 0, 0.6);
        bottom: 0;
        left: 15vw;
        overflow: hidden scroll;
        padding-top: 75px;
        padding-left: 1rem;
        position: fixed;
        top: 0;
        right: 0;
        width: 85vw;
        z-index: 499;

        &.hide {
          display: none;
          z-index: -5;
        }

        .fieldgroup {
          order: 2;
          width: 85%;
        }

        .mobile-filter-header {
          border-bottom: 1px solid #000000;
          height: 3rem;
          max-width: 100%;
          order: 1;
          margin-bottom: rem(20px);
        }

        .mobile-filter-header-inner {
          align-items: center;
          display: flex;
          height: 3rem;
          justify-content: space-between;
          padding-right: 1.5rem;
        }

        .mobile-close-icon {
          height: 2rem;
          width: 2rem;

          &::before {
            font-family: 'themeIcons';
            content: icon-char('close');
          }
        }

        legend {
          width: 85vw;

          .fieldset-legend {
            padding-right: 3.8rem;
            width: 100%;
          }
        }
      }

      @include media('>=md') {
        display: block;
      }

      legend {
        @include type-header(h6, black, included);
        margin-bottom: 1rem;
        padding: 1rem 0;
        position: relative;
        width: 98%;

        .fieldset-legend {
          @include icon('arrow', after, false);
          display: flex;
          position: relative;
          align-items: center;
          justify-content: space-between;

          &::after {
            transform: rotate(90deg);
          }
        }

        &:after {
          background-color: $gray-40;
          bottom: 0;
          content: '';
          height: 1px;
          left: 0;
          position: absolute;
          width: 100%;
        }
      }

      .component-accordion-item--open legend {
        .fieldset-legend:after {
          transform: rotate(-90deg);
        }
      }

      fieldset {
        margin: 0;
        padding: 0;
      }

      .form-item {
        font-size: rem(14px);
        margin-bottom: 1rem !important;
      }

      .form-checkboxes input[type='checkbox'] + label:before {
        top: -.125rem;
      }

      .form-checkboxes input[type='checkbox'] + label:after {
        top: .125rem;
      }

      .form-checkboxes input[type='checkbox']:not(:checked) + label:before {
        background-color: transparent;
      }
    }

    .views-element-container {
      grid-column: 1 / 4;

      @include media('>=md') {
        grid-column: 2 / 4;
      }

      .view-filters {
        display: none;
        visibility: hidden;
      }
    }

    .view-product-category {
      .view-header {
        @include type-header(h6, black, included);
        @include flex();
        @include flex-x(justify-content, space-between);

        margin: 0;
        padding: 1rem 0;

        .sort-icon {
          @include icon('sort', after);
        }

        .filter-icon {
          @include icon('filter', after);
        }

        @include media('>=md') {
          .sort-icon,
          .filter-icon {
            visibility: hidden;
          }
        }
      }

      .view-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: rem(25px); // sass-lint:disable-line no-misspelled-properties

        @include media('>=sm') {
          grid-template-columns: repeat(3, 1fr);
        }

        @include media('>=md') {
          grid-template-columns: repeat(2, 1fr);
        }

        @include media('>=lg') {
          grid-template-columns: repeat(3, 1fr);
        }

        .views-row {
          padding-bottom: rem(47px);
          height: 100%;

          @include media('<md') {
            padding-bottom: rem(42px);
          }

          .node--view-mode-teaser {
            width: 100%;
            height: 100%;

            .node__inner {
              height: 100%;

              .node__content {
                height: 100%;
              }
            }
          }
        }
      }
    }
  }

  .chips {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;

    .chip {
      background-color: $black;
      color: $white;
      margin: 0.2rem;
      padding: 0.2rem 0.4rem;
      white-space: nowrap;

      .chip-close-icon {

        &::before {
          font-family: 'themeIcons';
          content: icon-char('close');
          margin-left: 1rem;
        }
      }
    }
  }
}
