@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Node: Search Index
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Component
 */

.node--type-page.node--view-mode-search-index,
.node--type-basic-page.node--view-mode-search-index,
.node--type-landing-page.node--view-mode-search-index,
.node--type-media-page.node--view-mode-search-index {
  height: 100%;
  background-color: $primary-emerald;

  .node__inner {
    height: 100%;
    display: flex;
    flex-direction: column;

    a {
      text-decoration: none;

      @include on-event() {
        color: $white;
      }
    }
  }

  .node__content {
    height: 100%;

    a {
      text-decoration: none;
      color: $white;

      @include on-event() {
        color: $white;
      }
    }

    .node__listing-image,
    .node__media--with-media {
      @include flex();
      @include flex-x(align-items, center);
      @include flex-x(justify-content, center);
      background-color: $primary-emerald;
      display: flex;
      overflow: hidden;
      padding: rem(5px 5px 0);

      @include media('>md') {
        border: 0;
        padding: rem(8px 8px 0);
      }

      .field[data-blazy] {
        min-width: 100%;
      }

      .media {
        display: flex;
        position: relative;
        padding-top: 100%;
        width: 100%;

        img,
        iframe {
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }

        img {
          object-fit: cover;
        }
      }
    }

    .node__media--with-media:not(node__listing-image) {
      .media {
        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .node__content-container {
      padding: rem(10px);

      @include media('>=md') {
        padding: rem(16px);
      }
    }

    .node__long-description {
      h3 {
        margin-top: 0;
      }

      .field--name-title {
        @include type-header(h4, light, included);
        font-size: rem(22px);
        line-height: rem(26px);
        margin-top: 0;
        text-transform: uppercase;
        -webkit-line-clamp: 3;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        min-height: rem(100px);

        @include media('<md') {
          font-size:  rem(16px);
          line-height: rem(20px);
          min-height: rem(60px);
        }
      }
    }

    .node__summary {
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-size: rem(16px);
      font-weight: $fw-regular;
      line-height: rem(24px);

      .field--type-text-with-summary {
        display: inline;
      }

      @include media('<md') {
        font-size: rem(12px);
        line-height: rem(20px);
      }
    }
  }

  .node__read-more-button {
    @include btn(secondary, light, lg);

    box-sizing: border-box;
    float: none;
    font-size: 1rem !important;
    font-weight: $fw-extra-bold;
    line-height: rem(28px);
    text-align: left;
    transition: $transition-base;
    width: 100%;
    padding: rem(0 16px 16px);

    &::after {
      margin-left: rem(15px);
    }

    @include on-event() {
      color: $white;
    }

    @include media('<md') {
      white-space: normal;
      min-width: 100%;
      padding: rem(0 10px 16px);
      font-size: rem(14px) !important;
      line-height: rem(22px) !important;

      &::after {
        font-size: rem(14px);
        margin-left: rem(5px);
      }
    }
  }

  @include on-event {
    box-shadow: 0 0 16px 5px rgba(0, 0, 0, 0.2);
    outline: 1px solid $primary-solar;

    @include media('<md') {
      box-shadow: none;
      outline: none;
    }
  }
}
