@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Node: Teaser Product
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Component
 */
.node--type-product.node--view-mode-teaser {
  width: 25%;
  box-shadow: 0 0 16px 5px rgba(0, 0, 0, 0.2);

  .node__content {
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    transition: $transition-base;
    background-color: $primary-emerald;
    color: $white;

    a {
      text-decoration: none;
      color: $white;

      @include on-event() {
        color: $white;
      }
    }

    @include media('<md') {
      border: 0;
    }

    .node__listing-image {
      @include flex();
      @include flex-x(align-items, center);
      @include flex-x(justify-content, center);
      background-color: $primary-emerald;
      display: flex;
      overflow: hidden;
      padding: rem(5px 5px 0);

      @include media('>md') {
        border: 0;
        padding: rem(8px 8px 0);
      }

      .media {
        display: flex;
        position: relative;
        padding-top: 100%;
        width: 100%;

        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }
    }

    .node__content-container {
      padding: rem(10px);

      @include media('>=md') {
        padding: rem(16px);
      }
    }

    .node__long-description {
      min-height: rem(195px);

      @include media('<md') {
        min-height: rem(120px);
      }

      .field--name-field-long-description {
        @include type-header(h4, light, included);
        margin-top: 0;
        word-break: break-all;

        @include media('<md') {
          font-size:  rem(16px);
          line-height: rem(20px);
        }
      }
    }

    .node__sku {
      font-size: rem(14px);
      margin: 0;

      .field--name-title {
        color: $white;
      }

      @include media('<md') {
        font-size: rem(12px);
      }
    }
  }

  .node__buy-now-button {
    @include btn(solar);

    box-sizing: border-box;
    display: inline-block !important;
    float: none;
    font-size: rem(16px) !important;
    line-height: rem(24px) !important;
    padding: 1rem 1.75rem .85rem !important;
    transition: $transition-base;
    white-space: inherit !important;
    width: 100%;

    @include media('<md') {
      white-space: normal;
      min-width: 100%;
    }

    &.ps-disabled {
      background-color: $gray-50;
      border-color: $gray-50 !important;

      > small {
        line-height: rem(24px);
        font-weight: $fw-extra-bold;
        font-family: $font-brand;
        font-size: rem(16px);
        display: inherit;

        @include media('<=md') {
          line-height: 1;
        }
      }

      &:hover {
        background-color: $gray-50;

        > small {
          line-height: rem(24px);
          font-weight: $fw-extra-bold;
          font-family: $font-brand;
          font-size: rem(16px);

          @include media('<=md') {
            line-height: 1;
          }
        }
      }
    }

    &:hover {
      color: $type-dark;
      font-weight: $fw-extra-bold;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;

      &.ps-disabled {
        background-color: $gray-50;
        border-color: $gray-50 !important;

        & > small {
          line-height: rem(24px);
          font-weight: $fw-extra-bold;
          font-family: $font-brand;
          font-size: rem(16px);

          @include media('<=md') {
            line-height: 1;
          }
        }
      }
    }
  }

  @include on-event {
    outline: 1px solid $primary-solar;

    .node__sku {
      color: $white;

      .field--name-title {
        color: $white;
      }
    }

    @include media('<md') {
      box-shadow: none;
      outline: none;
    }
  }
}
