@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Node: Tile
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Component
 */

.node--view-mode-tile {
  border: 3px solid $primary-emerald;
  height: 100%;

  .node__inner,
  .node__content {
    height: 100%;
  }

  .node__content {
    background-color: $primary-emerald;

    a {
      text-decoration: none;
    }
  }

  .node__grid-image .field--name-field-media .media {
    picture {
      width: 100%;
      height: 100%;
      display: flex;
    }

    picture img {
      object-fit: cover;
      height: auto;
      width: 100%;
    }
  }

  .node__grid-title {
    position: relative;
    font-size: rem(16px);
    color: $white;
    font-family: $font-brand;
    font-weight: $fw-extra-bold;
    letter-spacing: 0.03rem;
    text-align: center;
    text-transform: uppercase;
    line-height: 1 ;
    width: 100%;
    // height: 37%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem .85rem .85rem;
    transition: $transition-base;

    //.field--name-title {
    //  position: absolute;
    //  top: 50%;
    //  left: 0;
    //  right: 0;
    //  transform: translateY(-50%);
    //}

    @include media('>=md') {
      font-size: rem(20px);
      padding: 1rem 1.1rem .85rem;
      line-height: 1.625 !important;
      // height: 26%;
    }

  }

  @include on-event {
    .node__inner {
      box-shadow: 0 0 16px 5px rgba(0, 0, 0, 0.2);
      transition: $transition-base;

      @include media('<md') {
        box-shadow: none;
      }

      .node__product-category-grid-image,
      .node__grid-title {
        box-shadow: 0 0 0 2px $primary-emerald;
        @include media('<md') {
          box-shadow: none;
        }
      }

      .btn {
        background-color: $primary-emerald;
        color: $white;
      }

      .node__grid-title {
        @include icon('tertiary-link', after, false);

        &::after {
          font-size: rem(17px);
          padding-left: rem(5px);
        }
      }
    }
  }
}

