.footer {
  border-top: 1px solid rgba($color-gray-light, 0.18);
  display: flex;
  flex-flow: row wrap;
  @include section-padding(horizontal);
  @include property-scale(padding-bottom, $container-padding-map);
  @include property-scale(padding-top, map-multiplier($container-padding-map, 2));
  color: #fff;
}

.footer-branding {
  flex-grow: 1;
  margin-bottom: 1em;
  @include property-scale(padding-right, $container-padding-map);
}

.footer-primary {
  flex-grow: 1;
}

.footer-secondary {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  border-top: 1px solid rgba($color-gray-light, 0.18);
  width: 100%;
  @include property-scale((padding-top), $container-padding-map);
  font-size: 0.875em;
  letter-spacing: 0.03125em;
  color: $color-gray-medium;
}

.footer-copyright {
  margin-right: 2em;
}

@media (max-width: 779px) {
  .nav--social {
    margin-bottom: 1em;
    order: 1;
  }

  .footer-primary,
  .footer-secondary {
    width: 100%;
    order: 2;
  }
}

@media (min-width: 800px) {
  .footer-branding {
    flex: 0 0 25%;
  }
}


// -----------------------------------------------------------------------------
//! Merchandise button
// -----------------------------------------------------------------------------

.footer-branding .button {
    margin-top: 4rem;
    margin-bottom: 2rem;

    &:not([disabled]):hover:not(.button--outline),
    &:not([disabled]):focus:not(.button--outline) {
        background: lighten($color-orange, 4%);
        border-color: lighten($color-orange, 4%);
    }

    @include min( 780px ) {
        margin-top: 6.2rem;
        margin-bottom: 0;
    }
}

