/**
 * GENERAL
 */
.masthead {
  position: relative;
  z-index: 10;
  background: #fff;
}

@media (max-width: 700px) {
  .masthead-utility {
    font-size: 0.875em;
  }
}

/**
 * LOGO
 */
.logo {
  @include link-reset;
  display: inline-block;
  width: 106px;
  height: 24px;

  svg {
    width: 100%;
    height: 100%;
  }

  @media (min-width: 800px) {
    width: 141px;
    height: 32px;
  }
}

/**
 * LAYOUT
 */
.masthead-primary,
.masthead-utility {
  position: relative;
  display: flex;
  justify-content: space-between;
  @include section-padding(horizontal);
}

/**
 * BRANDING
 */
.masthead-branding {
  display: flex;
  align-items: center;
  @include property-scale(margin-right, $container-padding-map);

  @media (min-width: $breakpoint-nav-inline) {
    padding-top: 1.25em;
    padding-bottom: 1.25em;
  }
}

/**
 * SEARCH FORM
 */
.masthead-search {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  @include property-scale(margin-left, map-multiplier($container-padding-map, 0.5));
}

.masthead-search-form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.masthead-search-form-input {
  width: 100%;

  &::-ms-clear {
    display: none;
  }
}

.masthead-search-form-submit {
  display: none;
}

/**
 * SEARCH TOGGLES
 */
.masthead-search-toggle {
  padding: 1em;
  margin-right: -1em;
  transition: 200ms ease;

  @media (min-width: $breakpoint-nav-inline) {
    .dropdown-toggle-label {
      display: none;
    }
  }
}

.masthead-primary {
  &.is-searching .masthead-search-toggle--open,
  &:not(.is-searching) .masthead-search-toggle--close {
    position: absolute;
    opacity: 0;
    transform: scale(0.5);
  }
}

/**
 * SEARCH LAYOUT: STACKED
 */
@media (max-width: $breakpoint-nav-inline - 1) {
  .masthead-search-form {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: $color-accent-bg;
  }

  .masthead-search-form-input {
    height: 2.75rem;
  }

  nav[class*='nav--main'] {
    min-height: 2.5rem;
  }

  .masthead-search-form,
  nav[class*='nav--main'] {
    transition: 200ms ease;
  }

  .masthead-primary {
    &:not(.is-searching) {
      .masthead-search-form {
        max-height: 0;
        opacity: 0;
        transform-origin: bottom center;
      }
    }

    &.is-searching {
      .masthead-search-form {
        transition: opacity 200ms ease;
      }

      nav[class*='nav--main'] {
        transform: translateY(-0.5em);
        opacity: 0;
        pointer-events: none;
      }
    }
  }
}

/**
 * SEARCH LAYOUT: INLINE
 */
@media (min-width: $breakpoint-nav-inline) {
  .masthead-search {
    order: 4;
  }

  .masthead-search-form {
    flex-grow: 1;
    margin-left: auto;
  }

  .masthead-search-form-input {
    box-shadow: inset 0 -1px 0 $input-border-color;
    font-size: 1.5em;

    &[type='search'] {
      background-position: 0.5rem center;
      padding-left: 2.5rem;
    }

    &:focus {
      box-shadow: inset 0 -1px 0 $color-orange;
    }
  }

  .masthead-primary {
    &:not(.is-searching) {
      .masthead-search-form {
        max-width: 0;
        overflow: hidden;
        transform: translateX(2em);
      }

      nav[class*='nav--main'] {
        transition: 300ms ease;
      }
    }

    &.is-searching {
      nav[class*='nav--main'] {
        position: absolute;
        transform: translateX(-2em);
        opacity: 0;
      }

      .masthead-search-form {
        max-width: 100vw;
        opacity: 1;
        transform: translateX(0);
        transform-origin: right center;
        transition: transform 300ms ease;
      }
    }
  }
}

/**
 * UTILITY
 */
.masthead-utility {
  border-bottom: 1px solid rgba($color-gray-light, 0.43);
}

/**
 * LANGUAGE SELECTOR
 */
.masthead-language {
  display: flex;
}

/**
 * LAYOUT: STACKED
 */
@media (max-width: $breakpoint-nav-inline - 1) {
  .masthead-primary {
    flex-flow: row wrap;

    nav[class*='nav--main'] {
      width: 100%;
      order: 3;
    }
  }

  .masthead-utility {
    margin-bottom: 0.25em;
  }
}

@media (min-width: $breakpoint-nav-inline) {
  .masthead-primary {
    nav[class*='nav--main'] {
      flex-grow: 1;
      justify-content: flex-end;
    }
  }
}
